[2015-03-16 20:13] foundscapes opened #1 "Fix Default Tags"
If the user doesn't edit the "tags" section under "edit metadata" this is what shows up on the IA: #openarchive#storymakerpresssecure; storymaker, which doesn't correlate to the tags associated w/ the file (#openarchive #storymaker). These are included even when user does not choose to include the "tags" in the metadata, aka keeps the setting at "off" in the list.

Default tag should just be #Open

[2015-03-16 20:18] foundscapes opened #2 "homescreen dropdown menu?"
Remove the “photo” “video” or “audio” dropdown.

We discussed removing this in our initial plan since the type of media should be implicit when uploading.

[2015-03-25 14:27] mattl commented on #9
Also, is the app under a free software license? Say so.

[2015-03-25 15:35] foundscapes commented on #9
It better be

Sent from mobile

[2015-04-09 17:58] vitriolix commented on #10
The app is GPL

[2015-04-09 17:59] vitriolix commented on #3
Assigned to a new milestone for future work

[2015-04-09 18:03] vitriolix commented on #2
That drop down is unfortunately needed as its how you chose what capture mode the camera is in when we launch it.  Lots of devices have cameras that don't let you switch from video to photo after the fact.  It also is how we decide if we are lanching the audio recorder as well which is a different app than the camera.  marking as wontfix

[2015-04-09 18:03] #2 closed

[2015-04-09 18:03] vitriolix commented on #1
agreed.

[2015-04-09 18:32] mattl commented on #10
I'll do a spot check on all the files before we release, to make sure we're compliant.

[2015-04-09 19:04] vitriolix commented on #10
Actually I believe we do need to add them to the file headers still, we only have a LICENCSE

[2015-04-09 20:47] mattl commented on #10
Yeah, I'll take on this fun task and ping if you if I have any questions

[2015-04-10 02:14] vitriolix commented on #7
This should be reported to Internet Archive, we don't control the signup & login screens

[2015-04-10 02:18] vitriolix commented on #6
I can't reproduce this.

[2015-04-10 06:03] vitriolix commented on #9
bare bones about screen added

[2015-04-10 18:37] foundscapes commented on #6
I can't reproduce it either, but I'll take a screenshot if it happens again.

[2015-04-10 19:54] foundscapes commented on #8
just happened again: ![screenshot_2015-04-10-12-46-00 1](https://cloud.githubusercontent.com/assets/2231711/7095629/b537685a-df80-11e4-8e4a-8b116d5062f1.png)

[2015-04-10 19:57] foundscapes opened #14 "Media not showing up on IA after upload"
![screenshot_2015-04-10-11-32-36](https://cloud.githubusercontent.com/assets/2231711/7095686/3591cdce-df81-11e4-80d2-d2a82f0cc078.png)

[2015-04-10 20:08] foundscapes commented on #7
Will do

[2015-04-10 20:19] vitriolix commented on #14
the file will showup eventually.  Unfortunately IA takes some time to process and their page doesn't really make that clear.  We should probably popup a message once your upload complete to set user expectations.

[2015-04-10 20:21] foundscapes commented on #14
Yeah, something like that would be better than "view media online", thanks

[2015-04-10 20:26] vitriolix commented on #6
We need a full bug report if possible to be able to fix stuff like this.  Here are the instructions we use for our StoryMaker beta group users:

http://storymaker.cc/wiki/index.php?title=Capturing_Bug_Reports

[2015-04-10 20:27] vitriolix commented on #8
In order to track down issues like this at the very least I need the steps you took to produce the error

[2015-04-10 20:38] foundscapes commented on #6
Ok -- this is what I was hoping to receive last week when I had more time to retest the app. Since I have no more time this afternoon, I'll have to do this over the weekend and I'd like to make sure that you'll be able to work on this next week, what is your availability?

[2015-04-10 20:38] foundscapes commented on #8
This happened when I tried uploading the media, I went through the app. as intended.

[2015-04-11 01:16] vitriolix commented on #5
fixed

[2015-04-13 17:46] mattl commented on #11
@foundscapes CC makes its own available for reuse. See https://github.com/creativecommons/policies

[2015-04-20 18:57] foundscapes opened #17 "Crashes every time uploading new media"
It seems to send media already on the phone just fine, but it crashes whenever I record new media for upload, no matter what metadata is chosen or what type of media (audio/video/photo).

[2015-04-20 22:10] foundscapes commented on #1
Issues/questions in latest beta release:
- OpenArchive isn't a default tag, shouldn't it be?
- no auto-hash in front of the names
- white space is dealt with strangely -- ex: can't use multiple words w/ quotes, there are ;; between values - can it have a warning of what format tags should be in (popup or greyed out text?) so there isn't so much confusion?e

[2015-04-20 22:11] foundscapes opened #18 "About Page Ghost Menu"
about page has menu in upper right that doesn’t do anything -- remove or add cog link to metdata?

[2015-04-25 01:17] vitriolix commented on #17
fixed in v1.0.3

[2015-04-25 01:17] #17 closed

[2015-05-13 14:47] mattl commented on #21
I think we should really have one repo. See https://github.com/creativecommons/list WDYT?

[2015-10-29 19:44] foundscapes commented on #21
Agreed

[2016-05-14 04:06] n8fr8 opened #3 "switch audio display to use waveform view"
https://github.com/Semantive/waveform-android

[2016-05-14 04:08] n8fr8 opened #4 "add built-in audio recorder"
audio recorder apps very wildly from device to device, so we should use the MIUI audio recorder code from StoryMaker

[2016-05-14 04:08] n8fr8 opened #5 "implement background uploading"
uploading should happen in a background service, and have a simple restart / cancel option

[2016-05-14 04:09] n8fr8 opened #6 "implement new Orbot check code"
the latest netcipher has a new broadcastreceiver method for checking if Orbot is running, what ports are on, etc

[2016-05-16 05:34] foundscapes opened #7 "About page Typo - titled "AboutActivity""
remove "Activity" from title

[2016-05-16 05:39] foundscapes opened #8 "Make it more obvious this is sending media to the IA"
It would be great if it were more apparent that users are sending their media to the IA. Ideas:
1. perhaps add something like "In Collaboration with the Internet Archive" or possible just uniting Tor + CC + IA somewhere on the homescreen?
2. When clicking "upload media" instead have it say "send/save to/at internet archive"
3. When media is uploading, indstead of "please wait" perhaps put "sending

[2016-05-16 05:44] foundscapes opened #9 "Media not showing up on IA after upload"
(see Josh's response to this in Issue #14 under website)

Should we remove this feature if it can't be fixed?

![img_0229](https://cloud.githubusercontent.com/assets/2231711/15281283/8cdbd13e-1aee-11e6-8c33-8f70b8f9e147.JPG)

[2016-05-16 05:49] foundscapes opened #10 "Image for background or on top next to name while in-app?"
It'd be great to have the IA logo (Brewster OK'd co-branding) or something relevant for the background.

If we can't figure out anything, I'm partial to NASA's photo of Sagan's Voyager Golden Record since I have no budget or skills to properly brand this project (yet): https://en.wikipedia.org/wiki/Voyager_Golden_Record

The idea for the project was to white-label it so anyone can integrate it int

[2016-05-16 05:57] foundscapes opened #11 "Homescreen? latest image persists when closing/opening the app"
I thought it would take me to the home screen when I closed and then re-opened the app, but it just shows the list of uploads we've done, which seems a bit confusing. Is there a way to have them save somewhere and have a homescreen, or do you not think a homescreen is necessary?

[2016-05-16 05:58] foundscapes opened #12 "Three fonts on the initial homescreen"
I can't get back to it now that I've been playing with the app, but if you look at the fonts on the homepage when you first log in, you'll notice they're all different, as well as different sizes.

[2016-05-16 06:03] foundscapes commented on #7
![img_0230](https://cloud.githubusercontent.com/assets/2231711/15281549/269c02ec-1af1-11e6-9278-d494749659e0.JPG)

[2016-05-16 06:11] foundscapes opened #13 "Content for "About" page edits"
## Needs to be more concise and grammatically correct, can you update it to:

OpenArchive is a free, open-source mobile application dedicated to maintaining the privacy, provenance, and preservation of your media. You can add metadata and Creative Commons licensing to your audiovisual media and then send it to the Internet Archive via Tor. It offers more agency over your media, while protecting ci

[2016-05-16 15:11] n8fr8 commented on #12
Yes, going to clean this up and simplify it. From now on the home screen will be the signup/login screen only as well, since it is only needed then.

[2016-05-16 15:13] n8fr8 commented on #11
I don't think a homescreen is necessary, especially with the new floating action button that has all of the import/capture options.

We should take people either right into their own content, or potentially, into the latest content from the openarchive or a search. This is the instagram style flow that I completely agree with.

[2016-05-16 15:14] n8fr8 commented on #9
The issue is that we need to delay a few seconds/minutes while the archive is processing the upload. I am going to move uploads to a background process so the user doesn't have to wait, and then we'll put in a built in delay before we notify them the upload is ready. We may also be able to fetch the page in the background and check the returned content to ensure it is ready.

[2016-05-16 15:15] n8fr8 commented on #10
I agree that less is more, and that we should more clearly state this is a client app for IA, and that OA is a collection inside of it. Will think about this some more. I may have some funds for our UX/UI designer as well to take a look. We can also talk with the SimplySecure.org team who are great and have general funding to help with efforts like this.

[2016-05-16 18:19] #13 closed, assigned to n8fr8

[2016-05-16 18:29] n8fr8 commented on #12
Here is the updated home screen. Plain and simple for now. I think OpenArchive should have its own icon or logo of some sort other than the IA one, but I hope the subtitle also helps with that.

![device-2016-05-16-142820](https://cloud.githubusercontent.com/assets/30851/15299465/82cd0a62-1b72-11e6-8492-4394e166445b.png)

[2016-05-16 18:30] #10 closed, assigned to n8fr8

[2016-05-16 18:30] #7 closed, assigned to n8fr8

[2016-05-16 18:32] foundscapes commented on #12
Looks great! Love the virtual library card addition.

[2016-05-16 18:34] foundscapes commented on #11
Agreed. It'd be great, ultimately, to take them to the latest OA content/search!

[2016-05-16 18:35] foundscapes commented on #9
Sounds great!

[2016-05-16 18:48] foundscapes opened #15 "Last edit for "About" page grammar"
The last paragraph should read:

OpenArchive was developed in partnership with the Internet Archive, StoryMaker, and Scal.io with generous support from the Knight Foundation.

[2016-05-16 18:50] n8fr8 commented on #15
okay. somehow the about string got mixed up a bit and didn't make it in the last update, but will fix it all now.

[2016-05-16 19:00] foundscapes commented on #15
Awesome, I think my trying to block out the new content w/ ___'s ended up messing up the way it looked on GH too. Thank you!

[2016-05-16 19:02] n8fr8 opened #16 "Add smart "share" menu"
Once media is published to IA, then the media display page should show the "SHARE" menu, with the sub-options for "Share Link..." and "Share Media...".

"Share Link..." would do what it does now, share a plain text snippet with the media title and link, good for posting to twitter, whatsapp, facebook, etc, as a link

"Share Media..." would share the original media file along with the text snippet

[2016-05-16 21:21] #15 closed, assigned to nobody

[2016-05-22 18:33] foundscapes opened #19 ""sign in" screen for IA clarification"
Make it more explicit that media is being sent to IA -- perhaps just put the logo next to sign in or just log in to the internet archive (or IA if too long)?

[2016-05-22 18:34] foundscapes opened #20 "Social sign-in option"
For those not as concerned about anonymity, it'd be great if we could include auto-login from twitter/fb/google - lower priority

[2016-05-22 18:37] foundscapes opened #21 "Difficult to get back to app when sharing outside app"
This may be an android-specific issue and unsolvable, but it'd be great if it were possible to get back into the OA app. without having to hit the "back" arrow multiple times after media shared via other apps (twitter/fb, etc.). It's not very intuitive, would be great to have some way to get straight back to the OA app.

[2016-05-22 18:37] foundscapes commented on #21
Oh and the other thought is that when you do go back, it takes you to the last image you uploaded, perhaps going to homescreen would be more intuitive as well.

[2016-05-22 18:42] foundscapes opened #22 "Remove "Share Link" and keep "Share Media""
This would depend on how easy it is to remove the media once sharing. Seems so on the platforms I've shared on, so that one could just send the link if they really wanted by deleting the media. I am sure this option is there to take file size / bandwith into consideration, but it'd be great if we had only one option for folks vs. two, if possible!

[2016-05-22 18:43] foundscapes opened #23 "CC licensing options ideas"
Is it possible to include CC logo above options for licensing decisions?

[2016-05-22 18:48] foundscapes opened #24 "Language / functionality of second licensing question / option"
Can't toggle from "no" to "yes" bug
Clarify language from "require modified versions to also share" to be "acknowledge author when remixing of this media" or something like that?

[2016-05-22 18:49] foundscapes opened #25 "About Page - remove space before second para"

[2016-05-22 18:50] foundscapes opened #26 "Sharing App's Ordering"
For the archivers/peeps:

twitter
whatsapp
instagram
facebook
gmail
email
drive
picasa
messaging (? not sure what this refers to ?)
direct message
bluetooth
hangouts

[2016-05-23 07:39] foundscapes opened #27 "language in uploaded media link"
perhaps "published via OpenArchive at ....." ?

[2016-05-23 13:37] n8fr8 commented on #26
This isn't something you can control. Android generates the share menu automatically based on what the user has installed and what they have recently used.

[2016-05-23 13:37] #26 closed, assigned to nobody

[2016-05-23 13:38] n8fr8 commented on #21
I will see if I can tune this better but generally this is an Android thing. Hitting the back button is just part of Android life, and the behavior is different depending upon the app you are sharing with.

[2016-05-23 13:40] n8fr8 commented on #12
The "virtual library card" text is straight from the archive.org home page. Right now, OA basically is equal to IA in terms of how you login and authenticate etc. At some point in the future, could be good to reconsider that. In addition, as I mentioned, you probably shouldn't have to actually login/signup for IA until you want to publish.

[2016-05-23 13:40] #12 closed, assigned to n8fr8

[2016-05-23 13:41] n8fr8 commented on #23
Yes

[2016-05-23 13:43] n8fr8 commented on #22
I think there are cases where you want to publish once to IA, and then tell people via tweet, status update, message, etc "hey i just put up this great video, go watch it". This is especially true on platforms that don't support video very well, like Twitter and WhatsApp, or where you may want to send someone an email about something you published, without a huge attachment.

Let's talk through th

[2016-05-24 16:51] n8fr8 opened #28 "warn user about risks of embedded metadata"
At this point, there is no analysis of the media they are importing. I think we could perhaps have a popup to let them know about apps like ObscuraCam or just a gentle reminder about metadata, privacy, and the like.

[2016-05-24 16:53] n8fr8 opened #29 "Access to more metadata fields?"
from WITNESS:

We are trying to balance the experience between the users who will likely just fill out nothing and leave all the defaults, and the ones who would want access to all the possible fields that IA offers.

Right now, you can login to IA later and edit to your hearts content. In the future, I think the ability to expand or customize the list of fields on the client app, and edit the upl

[2016-05-25 17:29] #24 closed, assigned to nobody

[2016-05-25 17:29] #25 closed, assigned to nobody

[2016-05-25 17:33] n8fr8 commented on #19
duplicate of #8

[2016-05-25 17:33] #19 closed, assigned to nobody

[2016-05-25 17:36] #27 closed, assigned to nobody

[2016-05-25 17:36] #8 closed, assigned to nobody

[2016-05-25 22:33] foundscapes commented on #22
Thanks for the explanation!

Sure thing.

[2016-05-25 22:37] foundscapes opened #31 "IA Sign In time-out issue - intermittant"
It's happened twice today and I've been able to log in once:

Screen goes white when I try to log in, then I get the following error:

"webpage not available" the "webpage at link could not be loaded because net::ERR_TIMED_OUT

When I can log in, it seemed to lag a bit, perhaps about 15 seconds

[2016-05-25 22:40] foundscapes commented on #26
Ah, cool, thanks!

[2016-05-26 19:02] foundscapes opened #32 "About Page language update/refinement"
OpenArchive is a free, open-source mobile application dedicated to maintaining the privacy, provenance, and preservation of your media. It enables you to add metadata and Creative Commons licensing to your audiovisual media and then send it to the Internet Archive over Tor. Thus offering more agency over your media, while protecting civil liberties and increasing interoperability for those who wan

[2016-05-26 19:06] n8fr8 commented on #32
How about

"OpenArchive is developed in partnership with the Internet Archive, StoryMaker, Scal.io, and Guardian Project.

The project was founded by Natalie Cadranel with the generous support of the Knight Foundation's Prototype Fund".

[2016-05-26 19:17] foundscapes commented on #32
Perfecto!

[2016-05-26 19:21] foundscapes commented on #32
Ok final language:

OpenArchive is a free, open-source mobile application dedicated to maintaining the privacy, provenance, and preservation of your media. It enables you to add metadata and Creative Commons licensing to your audiovisual media and then send it to the Internet Archive over Tor; thus offering more agency over your media, while protecting civil liberties, and increasing interoperabil

[2016-05-26 19:25] foundscapes commented on #32
Ok final FINAL language:

OpenArchive is a free, open-source mobile application dedicated to maintaining the privacy, provenance, and preservation of your media. It enables you to add metadata and Creative Commons licensing to your audiovisual media and then send it to the Internet Archive over Tor; thus offering more agency over your media, while protecting civil liberties, and increasing interop

[2016-05-26 19:29] foundscapes commented on #32
Oh no, THIS is actually the FINAL language. that "thus" was really bothering me. Hopefully I did not misuse that semi-colon!

OpenArchive is a free, open-source mobile application dedicated to maintaining the privacy, provenance, and preservation of your media. It enables you to add metadata and Creative Commons licensing to your audiovisual media and then send it to the Internet Archive over Tor;

[2016-05-26 19:56] n8fr8 opened #33 "Integrate display of media file hash from IA"
IA provides md5 / sha1 hashes after publish. We should grab those, compare locally, and store for future display. Also sha256.

[2016-05-26 19:57] n8fr8 opened #34 "Download .torrent from and make it easy to share"
IA generates a .torrent of our uploaded files. We should be able to easily share that with people directly for download using mobile / desktop torrent clients. This is especially true for video downloading in places where bandwidth is sketchy or limited.

[2016-05-26 19:58] n8fr8 opened #35 "add nearby "wind" sharing over BT / Wifi"
Any file you have added into OA should be possible to easily share with other devices around you via Bluetooth or Wifi. Build upon other Guardian Project work on nearby network "wind" sharing to do this.

Also support easy sharing of OA app itself.

[2016-05-26 19:59] n8fr8 opened #36 "enabling easy setup of Tor onion site for sharing"
implement easy onion site sharing the same way CameraV support it
- talk with Orbot to get hidden service setup
- run internal HTTP server
- generate simple gallery that allows others to browser, sync, your content

[2016-05-26 20:00] n8fr8 opened #37 "Add IA search, display, browse"
OA should have an integrated search, fav, save, browse user interface for accessing, downloading other content that other OA users have uploaded

[2016-05-26 20:28] n8fr8 opened #38 "Add stamp.io bitcoin hash publishing"
Prove that you had this file and published it a certain time and place, using the blockchain.

http://docs.stampery.com/?shell#introduction

[2016-06-05 05:27] foundscapes opened #39 "Log In screen layout"
Email and password inputs should have same width/height

[2016-06-05 05:28] foundscapes opened #40 "Reset Your Password Layout"
Missing Padding

[2016-06-05 05:32] foundscapes opened #41 "User can un-publish accidental posts from app"
Actual: Difficult to delete files directly in-app or IA

Expected: would be great to delete off the app and IA from the app.

[2016-06-05 05:35] foundscapes opened #42 "Audio controls different from video and photo"
Actual: there are "discard" and "done" buttons for audio and x and checkmark for Photo/video

Expected: all would have x and checkmark

[2016-06-06 13:29] n8fr8 commented on #42
These are handles by external apps on your phone. They differ and vary depending upon which camera or audio recording app you have installed.

In the future, we can look at building in our own media capture tools, but that is beyond the scope right now.

[2016-06-06 13:29] n8fr8 commented on #41
Ah yes. Deleting, editing from IA is possible.

[2016-06-06 13:30] n8fr8 commented on #40
Maybe we should just launch the full web browser external to the app?

[2016-06-06 13:30] n8fr8 commented on #39
We can't control that as we are just using the browser view and what IA Provides.

[2016-06-16 15:22] orschiro opened #43 "Record audio without function"
Dear all,

I am very excited that I have found this app.

Thank you so much for your work!

I tried the Record audio option on my Fairphone FP1 with Android 4.2.2.

However, clicking on this option does not lead to any effect.

What could be causing the problem?

Thankfully,

~Robert

[2016-06-16 15:24] orschiro opened #44 "Sharing a recorded audio file to the Open Archive app does not work"
Dear all,

Another issue.
1. I used HighQ MP3 Recorder to record an mp3 file.
2. From within that app, I selected share and shared it with Open Archive.
3. It opens the Open Archive app but only shows the home screen with `Click the + button...`.

No further action occurs.

Warmly,

~Robert

[2016-06-16 15:51] n8fr8 commented on #43
Fairphone must not have a built in audio recorder app. We don't (yet) have our own internal audio recorder, so you should use an external one.

There are a few more full featured ones here:
http://www.androidauthority.com/best-voice-recorder-apps-for-android-615332/

[2016-06-16 15:52] n8fr8 commented on #44
Thanks. You should try the "import media" option in OpenArchive and browser to the mp3 file.

We will look into the issue here with sharing into the app

[2016-06-16 17:20] orschiro commented on #43
Thanks Nathan!

I made sure to have a third party app installed.

It's called high q mp3 recorder.

Robert

Sent from the Fairphone alternative
On Jun 16, 2016 5:51 PM, "Nathan Freitas" notifications@github.com wrote:

[2016-06-16 17:20] orschiro commented on #44
Import media does work! However, a bit less convenient.

Thanks,

Robert

Sent from the Fairphone alternative
On Jun 16, 2016 5:52 PM, "Nathan Freitas" notifications@github.com wrote:

[2016-07-05 14:43] n8fr8 commented on #43
We should offer a built-in audio recorder

[2016-07-05 16:14] n8fr8 opened #45 "add bluetooth device discovery and sharing"

[2016-07-05 16:14] n8fr8 opened #46 "add wifi LAN / nearby device discovery and sharing"

[2016-07-05 16:15] n8fr8 opened #47 "add Wifi P2P / Hotspot sharing"
shouldn't require a LAN network

[2016-07-15 08:54] Spinus1 opened #48 "Image uploaded to opensource_movies"
I've imported an image from my phone Gallery, but it was uploaded to opensource_movies collection rather than image collection: how can I select from the App to wich collection upload the image?

This is the image:
https://archive.org/details/Lago-di-Malciaussia-6dlc

BR,
Alessio

[2016-07-15 14:14] n8fr8 commented on #48
That is not a feature yet, but it should have known it was an image, and uploaded to the appropriate place.

Perhaps we should have a way to manually modify the collection as well?

[2016-07-15 14:48] Spinus1 commented on #48
Do you mean a way to modify the collection from the App or from archive.org?

[2016-07-15 15:01] n8fr8 commented on #48
In the app itself, it should provide a chance for you to modify the collection before upload.

[2016-07-15 17:38] foundscapes commented on #48
It would be fantastic to be able to create and modify collections at the
IA. Last I knew, they only included the "community video" collection as a
destination. I asked one of the IA programmers I was consulting with if we
could create our own collections via the app, and he said no. However, this
was a while ago.

What would it take to be able to do this?

On Fri, Jul 15, 2016 at 5:01 PM, Nathan F

[2016-07-15 17:38] foundscapes commented on #48
(This is Natalie C btw)

On Fri, Jul 15, 2016 at 7:38 PM, Belle.Voleuse@gmail.com wrote:

##

“I can't understand why people are frightened of new ideas. I'm frightened
of the old ones.”

John Cage

[2016-07-15 17:40] n8fr8 commented on #48
Oh, that may be. I will look into the API. I thought you could specify the collection, but perhaps on the received end they would only let you put things in "community video" as you have said.

[2016-08-12 16:20] #16 closed, assigned to n8fr8

[2016-08-12 16:20] n8fr8 commented on #16
done! also added "share torrent"

[2016-08-12 16:21] n8fr8 commented on #34
done

[2016-08-12 16:21] #34 closed, assigned to nobody

[2016-08-12 16:21] #39 closed, assigned to nobody

[2016-08-12 16:22] #32 closed, assigned to nobody

[2016-09-19 17:08] pizzamaker opened #50 "Add to F-Droid"
It would be great to have this on the https://f-droid.org/ catalog

[2016-10-01 15:57] ghost commented on #50
@n8fr8 I just added the metadata with https://gitlab.com/fdroid/fdroiddata/commit/e368d736e51c9a47830c17436e07cac265b09ce6. Note that I added the `Binaries:` field. If it fails, should I try to nag @eighthave or someone? Or is it ok to build with an fdroid key?

[2016-12-15 16:16] rocodes opened #51 "Crash after using camera"
Taking a still picture and then accepting (blue checkmark button) is resulting in a crash every time (Nexus 5x/Android N). Video does not cause this problem. Crash report has been submitted. Thanks for your work!

edit: stacktrace.  Also: this occurs with the version of the app on the Google Play store.
`--------- beginning of crash
12-15 11:49:36.506 17742-17742/? E/AndroidRuntime: FATAL EXCEPTIO

[2016-12-15 20:01] rocodes opened #52 "Crash on Nearby Receive when toggling 'paired devices only'"
Toggling 'Paired devices only?'  in NearbyActivity results in a crash (although when the app is re-opened, the setting is still updated).

`                                                                                --------- beginning of crash
12-15 14:52:37.171 15123-15285/net.opendasharchive.openarchive.release E/AndroidRuntime: FATAL EXCEPTION: Thread-2

[2017-12-11 00:27] foundscapes opened #53 "404 error from photo credit on readme page"
credit link on here leads to 404 https://github.com/OpenArchive/openarchive/blob/master/README.md

[2018-01-04 16:39] n8fr8 opened #54 "Auto-delete after upload"
Once something is backed up remotely, auto-remove from the local gallery/media storage, to keep the user safe

[2018-01-18 17:14] foundscapes commented on #42
Makes sense, thank you for clarifying!

[2018-01-18 17:14] #42 closed, assigned to nobody

[2018-01-18 17:17] foundscapes commented on #53
fixed: https://github.com/OpenArchive/openarchive/pull/55#pullrequestreview-89859045

[2018-01-18 17:17] #53 closed, assigned to nobody

[2018-02-18 09:24] foundscapes opened #56 "some 1-star ratings in Google Play are actually positive"
They are in Arabic and Farsi, could it be a Right to Left discrepancy? Would love thoughts, not too concerned about it, but could see it scaling to be a larger problem when we get more reviews.

Some mysteries:
- A few 1-star ratings were negative and the 5-star ones I translated were positive, so I'm really unsure what's going on since it would follow that 5 stars would = dissatisfied if my theor

[2018-03-06 04:45] sabzo opened #57 "Error on starting app (Android 8.1.0)"
I'm running Open Archive on Android 8.1.0 using a Google Pixel 2 and when starting the app I get the following error:
[code]

This so far happens on 8.1.0. I tested the app on a Nexus 5 (6.0) and it didn't crash -- I'm thinking this issue is specific only to 8.1.0.

[2018-03-16 13:28] #18 closed

[2018-03-25 20:19] sabzo commented on #57
resolved by reinstalling/gradle dependencies.

[2018-03-25 20:19] #57 closed, assigned to nobody

[2018-03-25 21:06] sabzo opened #58 "EventBus causing LibNearby to Crash"
## Issue
Eventbus isn't registered properly, perhaps should be registered during an activity lifecycle event.

## Reproduce by
1. Click floating action button (represented by a "plus" sign).
2. Click "Nearby Receive" button
3. Click "cancel" on bottom right of screen, or "paired devices only".

This will try to unregister EventBus which may have not been registered if bluetooth isn't turned on.
If

[2018-03-29 13:55] n8fr8 commented on #58
Thanks for tracking this down. I think in my work to update and switch to Ayanda, I've gotten stuck in the middle with this strange issue. Let's talk about it in realtime.

[2018-03-29 13:56] n8fr8 commented on #58
I think the goal is to remove LibNearbyShare... I just had some lingering classes in there.

[2018-03-29 14:22] n8fr8 commented on #58
Just pushed to master branch w/o dependency on LibNearbyShare and eventbus

[2018-03-29 15:37] sabzo commented on #58
Awesome. The latest push you made has fixed the eventbus crash error. Now we're ready to being calling ayanda functionality. I'm gonna update Ayanda README to display the latest use of the library, or you can also check out the example.

[2018-03-29 15:58] n8fr8 commented on #58
Xclnt!

[2018-03-29 15:58] #58 closed, assigned to nobody

[2018-04-26 15:03] n8fr8 commented on #46
![screenshot_20180426-105846](https://user-images.githubusercontent.com/30851/39314108-835cec32-4941-11e8-997f-fd110daadfdf.png)
![screenshot_20180426-105641](https://user-images.githubusercontent.com/30851/39314110-837a0e66-4941-11e8-8346-1353e731d8a5.png)

[2018-05-17 14:25] organik1 opened #59 "Floating buttons are inactive in the latest release."
Only one out of the five floating action button works, the rest are inactive in the latest release.

### How to reproduce.

* Launch the app and grant the necessary permissions.
(Even after granting, check the app's info to confirm that permissions have been granted, in my case I noticed and had to grant them manually)

* Complete the slides to arrive at the homepage.

* While on the homepage, loc

[2018-05-21 18:31] n8fr8 commented on #59
Fixed in beta 5:
https://github.com/OpenArchive/openarchive-android/releases/tag/0.0.17-beta-5

[2018-05-21 18:31] #59 closed, assigned to nobody

[2018-05-23 21:03] foundscapes opened #60 "Size of app?"
It is now 5.7MB, just want to check in about size.

[2018-05-23 21:11] foundscapes opened #61 "Encrypt audio/video on device?"

[2018-05-24 03:29] n8fr8 commented on #60
Is there a size target? In general, the goal is to be under 10MB for a "light" app these days. As we add more support for different back-end services, as well as more nearby code, that will increase the size of the app. However, we can also do more optimization of the release to remove unused code from third-party libraries.

In summary, 5.7MB is still small, and I think a range of 5-10MB is reaso

[2018-05-24 03:30] n8fr8 commented on #61
That would add a lot of complexity and size to the app. OpenArchive is not CameraV... i.e. it is meant to preserve media people are capturing on the device through whatever means, and not as a super secret camera crypto app.

[2018-05-24 04:15] foundscapes commented on #61
I know, but some people are asking about it and I wanted to check in about potentially merging the two in a future version (optional)...to discuss later!

[2018-05-24 04:16] foundscapes commented on #60
Nope, just wondering what you thought about it, thanks for clarifying.

[2018-05-24 05:30] #60 closed, assigned to n8fr8

[2018-05-25 11:56] organik1 opened #62 "Toggle Bluetooth option off and on within the app setting and the receive nearby option becomes inactive."
#### Actual behavior

Clicking the receive nearby icon does nothing, after the bluetooth option under the app settings had been toggled off and on.

#### How to reproduce

1. Launch Openarchive

2. Click on the floating action button to reveal the receive nearby icon.

3. Click on the icon to observe its behavior.
(It will prompt you to switch bluetooth on and then it will begin a search for nearb

[2018-05-25 13:04] organik1 opened #63 "Taking a photo with PicsArt Camera break OpenArchive"
Hello dev.

I like taking pictures with PicsArt camera due to the fact that it produces better output than my stock camera does.

I'm constantly experiencing a crash with Openarchive v0.017 beta 5, each time I choose PicsArt camera as a medium to take photos.

Device: Android v6.0 (spread chipset)

[2018-05-25 19:11] foundscapes opened #64 "App not automatically updating on phones after new release"
From Google Play and maybe fdroid?

[2018-05-26 06:46] organik1 opened #65 "Bug with shared PHOTOs"
Hello dev.

Photos which are share to OpenArchive through other apps appear to be blank.

I have tried several mediums including stock FileManager and Gallery but It seems to be that the sharing process has some bad effect on pictures, whereas other media files are not affected.

App version: V0.0.17beta 5

Device: Android v6.0

[2018-05-27 14:15] organik1 opened #66 "CRASH OCCUR WHEN ATTEMPTING TO OPEN AN MP3 OT MP4 FILE WITHIN OPRNARCHIVE"
#### Actual behavior

Openarchive crashes and quits the upload page when attempting to open .mp3 or .mp4 extension files which were imported from sdcard.

#### How to reproduce
* Launch OpenArchive.

* Click on the floating action button, to reveal the import media icon.

* Click the import media icon and import mp4 and mp3extension files from your sdcard.

* After importing, click on any of the f

[2018-05-30 20:29] n8fr8 commented on #64
That isn't something we can control.

[2018-05-30 20:47] n8fr8 commented on #52
We've rearchitected the code for nearby share, and don't rely on paired device support anymore.

[2018-05-30 20:47] #52 closed, assigned to nobody

[2018-05-30 20:49] n8fr8 commented on #50
Looks like it is working: https://f-droid.org/packages/net.opendasharchive.openarchive.release/

Can we get it updated to the latest release?

[2018-05-30 20:52] n8fr8 commented on #48
Images now seem to go to the generic "opensource_media" or "Community Media" category, which makes sense.

[2018-05-30 20:52] #48 closed, assigned to nobody

[2018-05-30 20:55] #3 closed, assigned to nobody

[2018-05-30 20:55] #4 closed, assigned to nobody

[2018-05-30 20:55] #5 closed, assigned to nobody

[2018-05-30 20:58] eighthave commented on #50
you can either do a merge request to
https://gitlab.com/fdroid/fdroiddata that adds the new release manually.
 Or you can set `Auto Update Mode` to automatically update when there is
a new git tag that matches the specified pattern.

[2018-05-31 15:33] n8fr8 opened #67 "Need to support delete from server"

[2018-05-31 15:34] n8fr8 opened #68 "Confusion about everything is public"
Through testing with community there is confusion about media being public or private. Need to add a clear statement "everything you upload is public"

[2018-05-31 16:25] foundscapes commented on #68
Which testers? Where would you like this to be added? In-App seems clear enough as well as on Google Play. Current features are clear on the website. Happy to remove future intentions if that's what you mean?

[2018-05-31 16:53] n8fr8 commented on #68
This was a comment from Mexico users. They thought by turning off all creative commons licensing features it would mean it would not be shared publicly.

These are for users who installed the app without reading the website (hablas espanol solamente!)

[2018-05-31 17:09] foundscapes commented on #68
Gotcha! Hmm, I guess we need a disclaimer?

Or perhaps it's a language issue? The app still needs to be fully translated into Spanish, which should happen very soon, right?

[2018-05-31 18:16] n8fr8 commented on #68
Yes, for the next release we will have it all in Spanish.

[2018-05-31 23:11] foundscapes opened #69 "update gmail import from g suite w/ new settings"

[2018-06-01 12:41] n8fr8 commented on #69
Is this a feature for OpenArchive Android?

[2018-06-01 16:41] mattl commented on #69
no, this is just filed in the wrong place.

[2018-06-01 16:41] #69 closed, assigned to mattl

[2018-06-01 18:07] foundscapes commented on #69
Sorry that was before I saw the infra repo!

[2018-06-02 22:39] foundscapes opened #70 "Update CC licensing language"
can be confusing

[2018-06-02 22:43] foundscapes opened #71 "Allowing people to opt in to archive their chats via OpenArchive"
Talk to Natalie for use case!

WhatsApp/signal chat to be archived as we go

be selective: choose which chat to archive

[2018-06-05 23:23] foundscapes opened #72 "Request from potential partner - auto-login for org. account at IA"
Could we release a version of the App. that has the login built in to the IA so that everyone from one org can just auto-upload to the IA and then access it online through the same account?

[2018-06-07 20:22] ingfabby opened #73 "Spanish translation incomplete"
Settings menu, share icon menu and searching nearby are still in English on the Spanish version

[2018-06-07 20:36] ingfabby opened #74 "Change archive.org account"
Currently the app does not allow the user to change accounts, I deleted my account on Archive.org, I open the app and I didn't get any message asking me to register or sign into Archive.org, I tried to upload a file and I got a message saying "Error during upload", but nothing telling me that I needed an account in Archive.org.

[2018-06-07 21:38] foundscapes opened #75 "ToS link broken"
Terms and agreements is a 404 page. Link is broken open-archive.org/terms
Need to make page/find terms

For both me and Tiff

Tiff Testing on:
Moto G play
OS: Android 6.0.1
App version: beta-4

Natalie testing on:
Moto G
OS: Android 5.1
App version: 0.017-beta-5

[2018-06-07 21:41] foundscapes opened #76 "the virtual library card question is confusing"
Natalie suggestion: Perhaps we just say: Create you Internet Archive account for free!

Tiff: Why do I need a virtual library card? What is it? Is it my account log in?

Tiff tested
Moto G play
OS: Android 6.0.1
App version: beta-4

[2018-06-07 21:44] foundscapes opened #77 "Back button takes back to homepage, not to most recent page"
Tapping the back button on my device always brings me to the ‘home’/’sign in’ screen. Not back to where I just was... I can’t navigate through the app easily.

Tiff tested
Moto G play
OS: Android 6.0.1
App version: beta-4

[2018-06-07 21:47] foundscapes opened #78 "need message during delay when signing up for a virtual library card"
Add ‘processing’ feedback while user is ‘waiting’ for their virtual card to be created.

Tiff tested
Moto G play
OS: Android 6.0.1
App version: beta-4

[2018-06-07 21:53] foundscapes opened #79 "Hangs for over 3 mins and counting when trying to upload image"
Hangs when uploading via Import image or video from gallery -  Reproduced 3x
Do not have an audio file to upload/test from gallery, forthcoming...

NOTE: does not hang when using it for photo taken w/in app., uploading video w/in app, uploading audio w/in app.

Natalie testing on:
Moto G
OS: Android 5.1
App version: 0.017-beta-5

[2018-06-07 22:07] foundscapes opened #80 "App crashed when uploading audio"
When trying to upload audio made in-app

Natalie testing on:
Moto G
OS: Android 5.1
App version: 0.017-beta-5

[2018-06-09 11:44] n8fr8 commented on #73
Remaining strings have been added to Transifex ready for translation. Thanks for the finds!

[2018-06-10 18:05] ingfabby commented on #73
Hi Nathan,

I do not see the reminding strings in my account, could you please take a
look at that?

On Sat, Jun 9, 2018 at 4:44 AM, Nathan Freitas <notifications@github.com>
wrote:

[2018-06-11 21:20] n8fr8 commented on #72
It is tricky do to do this for the IA, and in general, sharing a single account across multiple users, without being able to distinguish who is who, is not a great approach.

That said, this may be possible through use of an invite link or QR code to auto-provision the app. This could be useful for many organizations and back end configurations going forward.

[2018-06-11 21:21] n8fr8 commented on #71
Hmm... tricky but interesting idea.

[2018-06-11 21:22] n8fr8 commented on #79
Does it hang when you import the file, or when you are uploading?

[2018-06-15 23:04] ingfabby opened #81 "Upload link sends you to error screen"
It takes a few minutes after the link is displayed to work. Before that it takes you to screen that says " the item cannot be found"

Fabby Testing on Galaxy J7 Perx
Android 7.0
App version:  0.0.17-beta-7

![screenshot_20180615-155929](https://user-images.githubusercontent.com/28932186/41492680-7d92f544-70b5-11e8-9a58-7d744aa5d1e3.png)

[2018-06-15 23:44] ingfabby opened #82 "Deleted items stay listed in the account"
Fabby Testing on Galaxy J7 Perx
Android 7.0
App version:  0.0.17-beta-7
When an item is deleted from the app and the Archive library the name of the file stays listed in the Archive account, even when  it can not longer be open.

[2018-06-15 23:49] ingfabby opened #83 "Archive.org issue to consider"
When an account is "deleted" from Archive.org and then a new account is opened using the same email all the files from the previous account are shown.

[2018-06-15 23:59] foundscapes commented on #82
This is an archive.org setting we can't do anything about as far as I know.

[2018-06-16 00:00] foundscapes commented on #79
When I am uploading directly. Import is fine. Problem persists with beta-7 version too.

[2018-06-16 00:02] foundscapes commented on #79
![screenshot_2018-06-15-16-58-50](https://user-images.githubusercontent.com/2231711/41493614-d41e5f5e-70bd-11e8-8d3d-a6eab7173974.png)

[2018-06-16 00:06] ingfabby opened #84 "Video recorder option fails to upload the file"
Fabby Testing on Galaxy J7 Perx
Android 7.0
App version: 0.0.17-beta-7

When a video is recorded using the video icon in the app the upload fails

[2018-06-16 00:08] foundscapes commented on #79
It worked right after, so could not reproduce in beta-7 yet.

[2018-06-18 19:30] n8fr8 commented on #31
Not something we can really control. We just open a browser to the IA, and if the connection is bad, then so it goes. Now, in the future, we should figure out a better way to login, sign-in, etc that doesn't require a web page, and has more of a visual feedback.

[2018-06-18 19:32] n8fr8 commented on #63
Do you mean the "PicsArt Photo Studio" app?

[2018-06-18 19:42] n8fr8 commented on #63
With the latest code, it no longer crashes, but we can't get it to return the actual URI path to the photo. For now, you'll have to "IMPORT MEDIA" instead, or share to OpenArchive from PicsArt.

[2018-06-18 19:44] n8fr8 commented on #66
We've add "sdcard1" as a valid root.

[2018-06-18 20:15] n8fr8 commented on #65
Related to this issue: https://github.com/commons-app/apps-android-commons/issues/173

[2018-06-18 20:31] #73 closed, assigned to nobody

[2018-06-18 20:32] n8fr8 commented on #79
The upload is in the background, and could take awhile depending on your network situation.

"Hang" means the user interface is frozen. Is that what is happening?

[2018-06-18 20:33] n8fr8 commented on #82
Yes, we delete the media files, but we can't remove the listing.

[2018-06-18 20:34] n8fr8 commented on #83
Eeek @foundscapes that is an interesting issue for IA. Maybe we should let them know this is the case?

[2018-06-18 20:35] n8fr8 commented on #81
This is more a UX issue, but yes, annoying. We don't know when the content on archive.org is "ready"

[2018-06-18 20:35] n8fr8 commented on #84
Is the video imported into the app otherwise? Everything else works?

[2018-06-18 20:53] foundscapes commented on #79
Yes, it froze and never uploaded.

[2018-06-18 23:45] ingfabby commented on #84
The video is imported to the app, nearby did not work on my devices

[2018-06-19 02:29] #6 closed, assigned to n8fr8

[2018-06-19 02:29] #45 closed, assigned to nobody

[2018-06-19 02:29] #46 closed, assigned to nobody

[2018-06-19 02:29] #47 closed, assigned to nobody

[2018-06-19 02:29] #50 closed, assigned to n8fr8

[2018-06-19 02:29] #51 closed, assigned to n8fr8

[2018-06-19 02:30] #9 closed, assigned to n8fr8

[2018-06-19 02:30] #44 closed, assigned to n8fr8

[2018-06-25 17:01] n8fr8 commented on #80
We need to implement a safe, private crash reporting mechanism.

[2018-06-25 20:15] foundscapes commented on #80
Yes, please!

[2018-07-09 18:07] n8fr8 opened #85 "Add SSH/SCP/SFTP support"
Seems like we can use JSCH to do this pretty easily.

https://mvnrepository.com/artifact/com.jcraft/jsch/0.1.54
https://github.com/hierynomus/sshj

https://github.com/codeallthethingz/jscp/blob/master/src/main/java/com/wonderant/ssh/Jscp.java
https://medium.com/@ldclakmal/scp-with-java-b7b7dbcdbc85

[2018-07-12 20:04] foundscapes commented on #83
Will let them know! @n8fr8

[2018-08-23 16:21] tiffrobo opened #86 "app crashes when trying to share a photo with nearby"
Trying to share a photo using nearby feature either causes the app to stop (Case 1) or nothing seems to happen (seems broken) -Case 2

**Case 1**
I'm connected to wifi.
open my OpenArchive.
Tap on a photo I want to share.
Tap on the nearby icon.
Get an error message saying 'OpenArchive has Stopped'.
Tap 'Close app'.
Relaunch.
Try again. Same steps. App stops!

Device: Moto G play
OS: Android 6.0.1

[2018-09-11 12:38] foundscapes opened #87 "NearbyShare issue - unclear if devices are connected via bluetooth"
Using old moto-g and Lenovo androids.

you can find both devices on each, but it is not apparent if they are connected - need language to say "now you are connected to [phone type] (will add screenshots during QA sprint next week).

[2018-09-11 12:43] foundscapes opened #88 "NearbyShare - phone doesn't show up on other phone"
Using two moto-g's (1st gen and Moto G3), both have bluetooth enabled, but only the Moto-G3 sees the Moto-G1 and they don't connect.
![img_3793](https://user-images.githubusercontent.com/2231711/45360776-713e8280-b585-11e8-8fb9-2d5180115f27.JPG)

[2018-09-11 15:22] n8fr8 opened #89 "Thumbnails, media disappear when Google Photos remove"
When you clean/remove data using Google Photos, the thumbnail and photos disappear from OpenArchive. We need to cache a copy of the thumbnail in the OA app, and possibly the media as well.

[2018-09-12 10:07] mrtndwrd opened #90 "Error uploading image not detected"
Here's the feedback that you asked for in the OTF-active mailing list.

## Description

I was testing the application (my first use of the application and archive.org). I was trying to upload an image, but I'm in a train, so the internet connection is not really stable and the upload failed. The app did not detect that and kept showing "Uploading image"

Edit: I'm using the 0.0.18-alpha-1 version:

[2018-09-13 14:15] foundscapes opened #91 "Clean install is not prompting user to install Orbot or give information about that feature"
OA version 0.0.18

Phone
Moto G first generation running Android 5.1.1

[2018-09-13 14:33] foundscapes opened #92 "Need issue Template"
Create template for QA testers: https://blog.github.com/2016-02-17-issue-and-pull-request-templates/

[2018-09-13 14:37] foundscapes commented on #91
Once Orbot is downloaded, there is still no prompt to enable onionrouting in the app. However, Orbot does start automatically and is running. It should only start if OnionRouting is enabled.

[2018-12-03 16:14] cstiens opened #94 "Home View"
The design for this view matches iOS: https://github.com/OpenArchive/openarchive-ios/issues/9

[2018-12-03 17:25] cstiens opened #95 "Connect Your Space: Private Server"
The workflow is posted on the iOS ticket: https://github.com/OpenArchive/openarchive-ios/issues/8

Note: For Android, we would show 'Nearby' as a space (as shown below).

![oa-connect-space-and](https://user-images.githubusercontent.com/1434597/49390314-3b291e80-f6ee-11e8-8d71-9b907e2e066c.png)

[2019-01-08 17:21] kckthx opened #96 "Browse/Create Projects"
Details and flow for Browse Projects view are found here.
https://github.com/OpenArchive/openarchive-ios/issues/8
Android UI for browse
![android-browse-projects](https://user-images.githubusercontent.com/36669955/50847492-59aab700-1337-11e9-9f05-59743228e1be.png)
Android UI for Creating New Project
![android-new-project](https://user-images.githubusercontent.com/36669955/50848057-ce322580-1338-11

[2019-01-08 17:24] kckthx opened #97 "Account View"
Details and flow for account view are found here.
https://github.com/OpenArchive/openarchive-ios/issues/10
Android UI
![android-my-account](https://user-images.githubusercontent.com/36669955/50847637-b73f0380-1337-11e9-95be-a230d4f9c969.png)

[2019-01-08 17:35] kckthx opened #98 "Connecting to a Private Server"
Details and flow for Connecting to a Private Server view are found here.
https://github.com/OpenArchive/openarchive-ios/issues/8
Android UI for view
![android-private-server-1](https://user-images.githubusercontent.com/36669955/50848123-f6218900-1338-11e9-9031-07314867c402.png)

[2019-01-16 20:25] n8fr8 commented on #85
WebDav nextcoud!

[2019-01-16 20:25] #85 closed, assigned to n8fr8

[2019-02-02 18:07] foundscapes commented on #31
adding @n8fr8 since @mattl has been busy.

[2019-02-14 22:00] kckthx opened #99 "Add Media from Share Sheet"
Uploading media using the share sheet.
![oa-add-from-share-sheet-workflow](https://user-images.githubusercontent.com/36669955/52820524-d5ec9480-3071-11e9-9591-ec67cc08231e.jpg)

[2019-02-14 22:05] #99 closed, assigned to nobody

[2019-04-15 12:52] leophys opened #100 "Missing sardine-android?"
It seems that the guardianproject [fork](https://github.com/guardianproject/sardine-android) of `sardine-android` is needed in the project root.
It is missing as submodule.

[2019-04-15 13:21] n8fr8 commented on #100
Yes, we're in the midst of a sprint, and will be pushing that and cleaning it up.

[2019-04-15 13:22] n8fr8 commented on #100
(We had hoped our changes would be merged upstream into the main sardine-android project but we haven't been able to get that done yet)

[2019-04-15 16:37] leophys commented on #100
Thanks! Feel free to close this issue whenever you want, then.

[2019-04-17 17:59] #100 closed, assigned to nobody

[2019-04-24 17:53] n8fr8 commented on #84
no longer supported

[2019-04-24 17:53] #84 closed, assigned to nobody

[2019-04-24 17:53] #82 closed, assigned to nobody

[2019-04-24 17:53] #80 closed, assigned to nobody

[2019-04-24 17:54] #94 closed, assigned to nobody

[2019-04-24 19:51] n8fr8 opened #101 "Prompt to connect to space when the user doesn't have one setup"
otherwise it crashes

[2019-05-30 18:44] n8fr8 opened #102 "button on “create a new project” tab should create a new project and/or be hidden"

[2019-05-30 18:44] n8fr8 opened #103 "adding media w/o project causing crash"

[2019-05-30 18:44] n8fr8 opened #104 "grouping of media icons on main tab display (holding pen, uploaded groups)"

[2019-05-30 18:44] n8fr8 opened #105 "implement upload status indicator to match iOS"

[2019-05-30 18:45] n8fr8 opened #106 "“Upload” should be “Preview”"

[2019-05-30 18:45] n8fr8 opened #107 "Batch editing in Preview screen"

[2019-05-30 18:45] n8fr8 opened #108 "add more debug info when upload fails"

[2019-06-24 19:44] n8fr8 opened #109 "investigate google play provisioning for enterprises"

[2019-06-26 18:24] #79 closed, assigned to n8fr8

[2019-06-26 19:13] #67 closed, assigned to n8fr8

[2019-06-28 19:02] #106 closed, assigned to nobody

[2019-07-18 16:24] #102 closed, assigned to nobody

[2019-07-18 18:25] n8fr8 commented on #105
partial progress on this...

[2019-07-18 18:35] n8fr8 commented on #96
Create is implemented.

Next up is Browse.

[2019-07-25 16:01] purvi-ranawat opened #110 "Whole screen is getting scrolled if we try to scroll project names from top navigation"
Steps to reproduce;:

1)Open the Save app on Android device
2) Create two to three new projects
3) Try to scroll the project name in the top navigation

Expected result:
Only project name should get scroll

Actual result:
The whole screen gets scroll

Note: On iOS device it works fine.
Tested on Samsung Galaxy A70 Android version 9
![Screenshot_20190725-204834_SAVE](https://user-images.githubuserc

[2019-07-25 16:02] purvi-ranawat opened #111 "Browse project is not working"
Browse Project is not clickable on Android device.

[2019-07-25 16:04] purvi-ranawat opened #112 "Media is not getting uploaded"
I have created new project on Android device and tried to upload image (82 kb), it shows Ready to Upload and Next button. When I clicked on Next the image enlarged with upload symbol at top right. When clicked on upload symbol it took me back to the Ready to upload screen.

Tested on Samsung Galaxy a70 with Android version 9

[2019-07-25 16:18] purvi-ranawat opened #113 "On settings page Projects, Privacy and About links are not working"
Nothing happens when we click on Projects, Privacy, and About link on settings page.

[2019-07-26 01:31] purvi-ranawat opened #114 "[Android] : Camera icon is not displayed when we click on upload button to select the photos from camera"
When we click on upload button under the project, All Media Gallery is displayed on Android 9.0 where we can select the media. But Camera icon is not there to directly take the photos / videos from the camera and uploading them

Below is the screenshot :

![No camera icon](https://user-images.githubusercontent.com/8190141/61919399-1e8a7100-af73-11e9-9712-7f8579fd1f1f.jpg)

Note : This is working f

[2019-07-26 04:27] foundscapes commented on #114
@purvi-ranawat this is no longer a feature for either android or ios

[2019-07-26 04:33] purvi-ranawat commented on #114
Hi Natalie,

But currently in IOS , test flight build # 35, I am able to see the camera icon when I go to select the photos from cam roll.

So, shall I open that issue in IOS?

[2019-07-26 07:35] foundscapes commented on #114
Hi Purvi,

Thank you for finding this, I will check in with Benjamin and @n8fr8 - I believe we decided not to have this feature, but we are still able to take photos in ios to use in the app.

[2019-07-26 16:40] purvi-ranawat opened #115 "Significant Content-Flag option is missing for media on preview screen."
On preview screen only Description, Location, and Tag options are displayed. Flag or Significant content option is not getting displayed.

![Screenshot_20190726-220043_SAVE (1)](https://user-images.githubusercontent.com/8190141/61967026-eece7e00-aff1-11e9-9300-0b59c2a2c3ab.jpg)

[2019-07-26 17:05] purvi-ranawat opened #116 "Does not allow to select photos and videos together for uploading"
When we select photo and video together from All Media it displays the message "Can't select videos and images at the same time"

Tested on Samsung Galaxy A70 Android version 9.

![Screenshot_20190726-222854_SAVE (1)](https://user-images.githubusercontent.com/8190141/61968415-97caa800-aff5-11e9-9b8b-5546c9896587.jpg)

[2019-07-27 09:59] purvi-ranawat opened #117 "Create is misspelled as Curate for creating new project under New Project"
a) Login to Save app
b) Click on Plus(+) sign for creating new project

Expected result: "Create your own project............" should get displayed

Actual result: "Curate your own project ................. " is getting displayed

![Screenshot_20190727-151828_SAVE](https://user-images.githubusercontent.com/8190141/61992989-29342b80-b083-11e9-99fd-62d973cad693.jpg)

[2019-07-27 10:25] purvi-ranawat opened #118 "Distance between project names is too long"
On top navigation distance between project names is too long .

Tested on Samsung galaxy A70 Android 9

![Screenshot_20190727-153919_SAVE](https://user-images.githubusercontent.com/8190141/61993279-e411f880-b086-11e9-88f5-d279d59f211a.jpg)

[2019-07-27 10:32] purvi-ranawat opened #119 "On Private Server screen Server Name field is not getting displayed"
When we create new private server "Server Name" field is not getting displayed. Only server URL, Password and Login fields are getting displayed.

Note: Server Name field is getting displayed on iOS devices.

Tested on Samsung Galaxy A70 Android version 9.

![Screenshot_20190727-155644_SAVE](https://user-images.githubusercontent.com/8190141/61993331-e32d9680-b087-11e9-9bea-7c5d55dfd2cd.jpg)

[2019-07-27 11:17] purvi-ranawat opened #120 "Message "Tap the button below to add media to your project" is not getting displayed under any project"
Steps to reproduce:
a) Login to app
b) Create new project or browse existing project without any media

Expected result:
Message "Tap the button below to add media to your project" should get displayed.

Actual result:
Only blank screen is getting displayed with plus (+) sign at the bottom of the page.

Tested on Samsung Galaxy A70 Android version 9

![Screenshot_20190727-163023_SAVE (1)](https://

[2019-07-27 16:04] purvi-ranawat opened #121 "Able to create project name with only special characters"
Steps to Reproduce :

1. Launch Save App in Android
2. Click on Create new project
3. Enter only special characters in the project name
4. Click on Add

Expected Result ;
 Pop up error message should be displayed stating that special characters not allowed in project name

Actual Result :
No error message is displayed stating that special characters not allowed in project name. Instead project is

[2019-07-29 17:45] n8fr8 commented on #112
Were you ever able to get media to upload?

[2019-07-31 19:33] #103 closed, assigned to nobody

[2019-07-31 19:33] #104 closed, assigned to nobody

[2019-07-31 19:34] #98 closed, assigned to nobody

[2019-07-31 19:34] #95 closed, assigned to n8fr8

[2019-07-31 19:34] #66 closed, assigned to n8fr8

[2019-07-31 19:47] n8fr8 opened #122 "document and implement error codes"
Error Name | Error Code | Error Description
-- | -- | --
Connect | 1001 | unable to connect to the server (network)
Credentials | 1002 | unable to authenticate to the server
  |   | when background uploading stops / restart? partial upload?
  |   | incorrect login / pw

[2019-07-31 23:44] foundscapes opened #123 "Localize Android"

[2019-07-31 23:44] foundscapes commented on #123
With Localization Lab

[2019-08-01 05:43] purvi-ranawat commented on #112
@n8fr8 : I was not able to upload any media yet on android device. I have uninstalled and installed the app again on my android device but still its not working

[2019-10-01 04:28] n8fr8 commented on #116
won't fix

[2019-10-01 04:30] #110 closed, assigned to nobody

[2019-10-01 04:31] #86 closed, assigned to nobody

[2019-10-01 04:36] #97 closed, assigned to nobody

[2019-10-01 04:38] n8fr8 opened #124 "Support pausing uploads"

[2019-10-01 04:38] n8fr8 opened #125 "Support multiple spaces with UI/UX"

[2019-10-01 05:47] tladesignz opened #126 "Onboarding images overlay text in landscape mode"
Also need more spacing on top. :-)

[2019-10-01 05:48] tladesignz opened #127 "Onboarding: Moving back to first scene shows dummy text"
"okay cool" and "BUTTON"

[2019-10-01 05:49] tladesignz opened #128 "Onboarding: First scene, button out of reach in horizontal mode"

[2019-10-01 05:49] tladesignz opened #129 "Onboarding: Last scene button bottom right is white-on-white"

[2019-10-01 05:54] tladesignz opened #130 "Can create project without space"
After setting up a space, project is gone.

[2019-10-01 09:44] comradekingu commented on #123
Please use Weblate.

[2019-10-01 17:14] purvi-ranawat commented on #120
@n8fr8 It is working fine now.

[2019-10-01 17:28] purvi-ranawat commented on #117
@n8fr8 It works fine now

[2019-10-02 12:56] purvi-ranawat commented on #119
@n8fr8 : This is working fine now. Server name is displayed now on Create new private server screen.

Below is the screen shot :

![project server name](https://user-images.githubusercontent.com/8190141/66045851-243b9e80-e542-11e9-8cdd-c15d7354b0fb.jpg)

[2019-10-02 12:56] #119 closed, assigned to nobody

[2019-10-02 15:15] purvi-ranawat commented on #117
Below is the screenshot :

![Create new project](https://user-images.githubusercontent.com/8190141/66056934-8225b180-e555-11e9-8a1e-ac72adeda304.jpg)

[2019-10-02 15:15] #117 closed, assigned to nobody

[2019-10-02 15:21] #120 closed, assigned to nobody

[2019-10-02 15:39] purvi-ranawat commented on #113
@n8fr8  : Info link is working but Privacy link is still not working

[2019-10-03 20:19] n8fr8 commented on #129
It is the essence of minimalism!

[2019-10-03 20:22] #126 closed, assigned to nobody

[2019-10-03 20:22] n8fr8 commented on #128
Portrait only!

[2019-10-03 20:22] #128 closed, assigned to nobody

[2019-10-03 20:41] #129 closed, assigned to nobody

[2019-10-03 21:05] #130 closed, assigned to nobody

[2019-10-03 21:06] n8fr8 commented on #118
on Android we want to support the standard viewpager, swipeable model. This is different than on iOS.

[2019-10-03 21:06] #118 closed, assigned to nobody

[2019-10-03 21:14] n8fr8 commented on #121
I think the only invalid chars are / and \

[2019-10-04 09:19] purvi-ranawat commented on #111
The app crashes when we click on Browse Projects. Tested on Samsung galaxy A70

[2019-10-04 12:07] #121 closed, assigned to nobody

[2019-10-04 12:08] #127 closed, assigned to nobody

[2019-10-04 12:31] n8fr8 commented on #111
Here's a new build to test: https://github.com/OpenArchive/openarchive-android/releases/tag/0.2.1-alpha-1

Please try on a few different Android variants if possible

[2019-10-04 12:31] n8fr8 commented on #111
(we are up to version 0.2.1 but back to 'alpha' state since we are adding new features)

[2019-10-05 07:53] purvi-ranawat commented on #115
@n8fr8 Significant content flag disappears after the image is uploaded if we have selected Significant content,.
App version 0.2.1 tested on Samsung Galaxy a0 android 9

![Screenshot_20191005-130913_SAVE](https://user-images.githubusercontent.com/8190141/66251799-c1c8e500-e771-11e9-8c3a-5e577d55b44e.jpg)

[2019-10-05 08:16] purvi-ranawat commented on #112
@n8fr8 I'm able to upload the media on app version 0.2.1

[2019-10-05 08:16] #112 closed, assigned to nobody

[2019-10-05 09:35] purvi-ranawat commented on #111
It works fine now for app version 0.2.1. Tested on Samsung galaxy A70, Samsung Galaxy J7, and Mi Note 3

[2019-10-05 09:35] #111 closed, assigned to nobody

[2019-10-05 09:39] purvi-ranawat commented on #114
@n8fr8 Camera icon is available on iOS not available on Android.

[2019-10-06 04:35] purvi-ranawat opened #132 "Cancel and Remove media buttons are missing on Remove media pop up"
When we try to delete any media from the project the pop up for Remove media for confirmation is displayed. However the content like Remove Media and Cancel links are missing on the pop up.

![Screenshot_20191005-133850_SAVE](https://user-images.githubusercontent.com/8190141/66264323-c8626580-e820-11e9-98ad-a4e0b646ff11.jpg)

[2019-10-08 21:40] foundscapes opened #133 "Update screenshots/name/features, etc. on Google Play"

[2019-10-09 12:00] purvi-ranawat commented on #105
@n8fr8 It is working fine.

[2019-10-09 18:28] n8fr8 commented on #132
I think they are there, but the color scheme is making them invisible!

[2019-10-09 18:51] #132 closed, assigned to nobody

[2019-10-09 18:57] n8fr8 commented on #114
That's fine. It only exists on Android, as it is part of the default gallery UI.

[2019-10-09 18:57] #105 closed, assigned to nobody

[2019-10-09 18:57] #96 closed, assigned to nobody

[2019-10-09 19:41] #113 closed, assigned to nobody

[2019-10-09 20:39] #65 closed, assigned to n8fr8

[2019-10-09 20:51] n8fr8 commented on #115
fixed in next build

[2019-10-09 20:51] #115 closed, assigned to nobody

[2019-10-10 15:47] purvi-ranawat opened #134 "App crashes when we click on the photo, select it and then click on Add"
Steps to Reproduce :

1. Open Save App on Android
2. In the project, click on the "+" icon to select the media
3. Click on any media
4. After the media is opened, select the media and click on Add

Expected Result  :
After click on Add, next screen which asks to upload the media is displayed

Actual Result :
For the first time, it is working fine. But on the second try, on clicking on Add, the app

[2019-10-10 16:08] purvi-ranawat opened #135 "Profile image for the cloud instance is not displayed"
When we enter the server details and save the connect, the server instance image should be displayed as the profile image. It is working fine in IOS, but in Android, profile image of the cloud instance is not displayed

Below is the screenshot :
![profile image](https://user-images.githubusercontent.com/8190141/66586513-584c3a80-eba6-11e9-8f70-2f75dec0a301.jpg)

[2019-10-11 10:42] purvi-ranawat commented on #101
@n8fr8 : This is working fine now. When the user initially install the app and doesnt have any setup, on opening the app, it prompts to connect to space now

[2019-10-11 12:19] purvi-ranawat opened #136 "App crashes when we try to upload more than 30 photos at once"
In the project, when we try to select more than 30 photos and click on Add , Save app crashes.

[2019-10-11 13:10] n8fr8 commented on #136
Are you able to capture a crash log or adb output?

[2019-10-11 13:10] n8fr8 commented on #136
also is it consistently 30?

[2019-10-11 13:14] purvi-ranawat opened #137 "Able to open the same project more than once when we browse existing project"
Steps to Reproduce :

1. open Save app
2. Click on the + icon on the top left side to create new project or browse existing project
3. Click on Browse Existing Project
4. Select any project
5. Again follow steps 2 to 4 and select the same project which was selected earlier

Expected Results :
If we select the same project which was opened earlier by browsing the existing project, the error message

[2019-10-11 13:27] purvi-ranawat commented on #136
@n8fr8  : Yes. it is consistently after 30. Once the app crashes and I reopen the app, at that time, even if I select one or two photos also, the app crashes. I have fully close the app, wait for some time and then open the app and then only able to add the photos again

[2019-10-11 13:27] purvi-ranawat commented on #136
I will try to get the crash log

[2019-10-15 13:40] purvi-ranawat opened #138 "Able to create the project with duplicate name"
I am able to create the project with the duplicate name.

Below is the screenshot :

![duplicate name](https://user-images.githubusercontent.com/8190141/66836672-68d22b80-ef7f-11e9-86a1-c6b1cd297ad6.jpg)

[2019-10-15 14:46] purvi-ranawat opened #139 "Not able to upload audio file on the app"
When I create the audio file or select the existing audio file and share the same on Save App , it is not getting uploaded. Instead only Save App opens and nothing happens after that

[2019-10-16 13:24] n8fr8 commented on #125
https://github.com/OpenArchive/openarchive-android/releases/tag/0.2.1-beta-2

[2019-10-16 13:25] n8fr8 commented on #74
https://github.com/OpenArchive/openarchive-android/releases/tag/0.2.1-beta-2

[2019-10-16 13:26] #101 closed, assigned to nobody

[2019-10-16 13:27] #75 closed, assigned to mattl, foundscapes

[2019-10-16 13:29] n8fr8 commented on #74
@purvi-ranawat please test archive.org account support, and multi-account support account

You can get an archive account at https://archive.org

[2019-10-16 13:34] n8fr8 commented on #133
done, at least for English

[2019-10-16 13:35] n8fr8 commented on #135
Should work different and better now

[2019-10-16 14:29] purvi-ranawat opened #140 "App crashes after installation of new beta - 2 build"
After installing the "OpenArchive Android 0.2.1-beta-2" build , when I try to open the Save App, App crashes and closes down.

I have try on Samsung Galaxy A70 and Samsung J7 devices.

[2019-10-16 15:14] n8fr8 commented on #140
https://github.com/OpenArchive/openarchive-android/releases/tag/0.2.1-beta-3

[2019-10-16 15:54] purvi-ranawat commented on #140
@n8fr8 : New Build is working fine. Save App opens fine on beta-3 build

[2019-10-16 15:54] #140 closed, assigned to purvi-ranawat

[2019-10-16 16:49] purvi-ranawat opened #141 "App crashes when we do not enter the optional server name while setting up the server"
On the Login screen, when we do not enter Server name which is optional and enter all the valid mandatory details , the app crashes. When we enter Server name also, then we are able to login successfully to the server.

This is happening on Samsung Galaxy A70 and Samsung J7

Below is the screenshot of the Login screen :

![login screen](https://user-images.githubusercontent.com/8190141/66940592-d9

[2019-10-17 04:48] foundscapes commented on #138
I recreated this issue on my 2015 motoG

[2019-10-17 04:49] foundscapes commented on #135
I see a G on motoG!

[2019-10-17 04:49] foundscapes commented on #133
yay!!

[2019-10-17 04:53] foundscapes opened #142 "Welcome screens' text hidden behind images"
MotoG
OS: Android 5.1

![Screenshot_2019-10-16-21-40-12](https://user-images.githubusercontent.com/2231711/66978547-3992eb80-f05f-11e9-8b69-123a5d7f41ed.png)
![Screenshot_2019-10-16-21-40-08](https://user-images.githubusercontent.com/2231711/66978548-3992eb80-f05f-11e9-9822-69859afeea88.png)
![Screenshot_2019-10-16-21-40-19](https://user-images.githubusercontent.com/2231711/66978549-3a2b8200-f05f-

[2019-10-17 04:55] foundscapes opened #143 "Upload Status Circles go from 0-100% with no progress + No upload/second indicator"
MotoG
OS: Android 5.1

![Screenshot_2019-10-16-21-43-51](https://user-images.githubusercontent.com/2231711/66978650-9b535580-f05f-11e9-9c2c-341b3161569f.png)

[2019-10-17 04:57] foundscapes opened #144 "+ to add project too far to the left"
MotoG
OS: Android 5.1

It gets lost, when I try to tap it, when I try to see the "add a project" text, it takes me to the add a project page before I can read all the text/know what to do.

![Screenshot_2019-10-16-21-41-56](https://user-images.githubusercontent.com/2231711/66978681-c2aa2280-f05f-11e9-8ab8-969338814c4e.png)

[2019-10-17 10:24] purvi-ranawat commented on #135
@n8fr8 The first letter of server name is getting displayed as profile logo.

[2019-10-17 10:24] #135 closed, assigned to nobody

[2019-10-17 12:20] purvi-ranawat commented on #74
@n8fr8 : This is still not working correctly. After the successful registration on Save app for Internet Archive, when I deleted the account on archive.org and then access the Save app again, it does not give me the message stating to register or sign - in on archive. org. Also, when I try to upload the media after deleting the account on archive.org, it did not give me any error message. Instead

[2019-10-17 12:40] n8fr8 commented on #143
With small files, sometimes the upload is so quick, it just shoots from 0 to 100. To do a callback for a UI animation for every tiny increment adds a lot of load on the UI, so we do it at certain time intervals, and if the upload happens in that time interval, then you see it go from 0 to 100.

Still, will take a look to see how to optimize for this better. You can also enable Nextcloud Chunking f

[2019-10-17 12:41] n8fr8 commented on #142
Oh, that's an old device. Hmm. I guess we need to resize the graphics for the smaller screen. Good find!

[2019-10-17 12:41] n8fr8 commented on #142
@purvi-ranawat do you have a smaller screen device to do UI testing on?

[2019-10-17 12:42] n8fr8 commented on #144
Going to have to think about this. The way the UI was designed on iOS doesn't match the Android UI expectations. That said, if you swipe to the left instead of trying to tap on the + it is meant to just open the expected screen, as if you tapped the +. The text that is displayed is really just a fallback and not needed at all, but I see how you get confused by seeing a glimpse of it.

[2019-10-17 12:47] n8fr8 commented on #74
Ah interesting. I didn't test with deleting my account on Archive.org. Also, strange that the success is showing as successful. Will debug! Fortunately, this is an edge case, but something to work on for sure in the next sprint.

[2019-10-17 13:19] purvi-ranawat opened #145 "App crashes when we enter both Private server and Internet Archive credentials and then try to upload the media"
Steps to Reproduce :

1. Open Save App
2. Enter Private Server credentials to connect to the Private Server
3. Enter Internet Archive credentials to connect to archive.org
4. Select Internet Archive and create the project
5. Click on + icon to add the media and select the media

Expected Result :
On clicking on Add for the media, preview for the media should be displayed along with the Upload opti

[2019-10-17 14:11] purvi-ranawat commented on #142
@n8fr8 : The minimum screen size of my phone is 5.5 inch

[2019-10-17 20:36] foundscapes commented on #143
Ok....I'll do again with chunking and larger video files.

so we're not going to implement the x mb/s uploaded of / x total?

[2019-10-17 20:37] foundscapes commented on #144
Perhaps then we need a left arrow with language to add a project to make more clear? If not, we definitely need another indicator or to remove the swipe entirely and move the clickable + over to the right and make it larger w/ more white space (which we need to do anyway)

[2019-10-19 14:19] purvi-ranawat opened #146 "Media is directly getting uploaded without creating the project on Internet Archive"
Steps to Reproduce :

1. Launch Save app and create the internet archive
2. Create the project on Internet archive
3. Add the media to the project
4. Access Internet Archive (archive.org) and verify the uploads on internet archive

Expected Result :
Folder should be created on archive.org and media should under the same folder (project)

Actual Result :
Media is uploaded on archive.org but no fold

[2019-10-21 13:52] n8fr8 commented on #146
There is no concept of "project" on archive.org. I need to see what SAVE for iOS does in this case. What is your expectation based on testing iOS?

[2019-10-24 18:18] foundscapes commented on #142
@n8fr8 this is also happening on the Samsung Galaxy S7 from 2016 for one of our new users

Phone: Galaxy s7
OS: v. 8.0.0

![IMG_2F86D9735872-1](https://user-images.githubusercontent.com/2231711/67513563-fb1ab380-f692-11e9-9426-2ebad97f7504.jpeg)
![IMG_3CF5EA9F190E-1](https://user-images.githubusercontent.com/2231711/67513564-fb1ab380-f692-11e9-8a9d-4aefbb43ed3e.jpeg)
![IMG_3D2A5F241BC8-1](https://

[2019-10-24 18:21] foundscapes opened #147 "Arrow on welcome screen is white on white"
Phone: Samsung Galaxy S7
OS: version 8.0.0

Progress arrow is white, should be teal
![IMG_A713938E8FB4-1](https://user-images.githubusercontent.com/2231711/67513780-74b2a180-f693-11e9-96b2-d27c9ed29872.jpeg)

[2019-11-11 13:13] foundscapes opened #148 "end to end encryption"
Let's discuss / scope this

[2019-11-11 17:04] n8fr8 commented on #148
Options:

- OpenPGP
- Encrypted Messenger Integration (Signal, Matrix, Telegram)
- ?

[2019-11-11 17:27] foundscapes commented on #148
Encrypted Messenger Integration!

[2019-11-12 12:42] foundscapes opened #149 "Add Project + should float in the circle with. more white space, unclear it's a + / add"
Device: Moto E4
OS: Android 7.1.1

more UI to change / make more like iOS - related - #144

[2019-11-12 12:47] foundscapes commented on #145
reproduced on Moto E running Android 7.1.1:

Same problem when uploading to IA after logging into both webdav and IA trying to upload media - it crashed twice when uploading to IA, then reopened app and it uploaded. BUT, there were two other phantom uploads that were not selected as well to IA (screenshot 1)
![phatommediaIA](https://user-images.githubusercontent.com/2231711/68673626-2cfc9880-0522-

[2019-11-12 13:04] foundscapes commented on #116
reproduced on Moto E running Android 7.1.1
this is a big UI issue/commonly-used feature for mvp, why can't we fix it?

[2019-11-12 13:06] foundscapes commented on #114
@n8fr8 how can we use proofmode if we don't have in-app capture? This feature should map to iOS and is good/needed.

[2019-11-12 13:08] foundscapes commented on #145
It also crashed 5 times and counting when uploading to webdav after I disconnected from IA

[2019-11-12 13:15] foundscapes opened #150 "GoodCloud Logo cut off in upper right"
Device: Moto E4
OS: Android 7.1.1

![upperGcutoff](https://user-images.githubusercontent.com/2231711/68674789-8a91e480-0524-11ea-9294-7ad0618fbd6f.png)

[2019-11-12 13:16] foundscapes commented on #141
reproduced on Moto E running Android 7.1.1 - had to reinstall app to get it to work

[2019-11-12 13:18] foundscapes commented on #142
reproduced on Moto E running Android 7.1.1

[2019-11-12 13:20] foundscapes opened #151 "allow "view password" option for server login"
in case of incorrect password - not pressing

[2019-11-12 13:25] foundscapes opened #152 "white / selected header text color on server login form hard to read in light mode"
Device: Moto E4
OS: Android 7.1.1

perhaps make active/selected line on form teal so it's easier to read in both dark/light modes vs. white
![TextTooLight](https://user-images.githubusercontent.com/2231711/68675471-ec9f1980-0525-11ea-87cc-6051d42a3bcd.png)

[2019-11-12 13:28] foundscapes commented on #144
reproduced on Moto E running Android 7.1.1

[2019-11-12 13:31] foundscapes opened #153 "App crashes when proofmode enabled"
Device: Moto E4
OS: Android 7.1.1

1. enabled proofmode in app settings / data usage
2. went to active project
3. selected a photo
4. hit add(1) in lower right
5. app crashed
6. reopened app
7. deselected proofmode
8. went to active project
9. selected a photo
10. hit add(1) in lower right
11. app crashed
12. had to reinstall app

[2019-11-12 13:40] foundscapes commented on #151
Device: Moto E4
OS: Android 7.1.1

[2019-11-12 13:43] foundscapes opened #154 "Change "Create a new project" to "Add Project" or map to iOS UI on first screen after connecting to server"
Device: Moto E
OS: Android 7.1.1

or map to iOS UI which takes you directly to "add a project" screen offering the two options

People may not understand that they can choose from an existing project/folder
![createnewproject](https://user-images.githubusercontent.com/2231711/68676677-7fd94e80-0528-11ea-9a68-81617e3dd6d3.png)

[2019-11-12 13:48] foundscapes opened #155 ""About Us" link in "Info" needs to go to About page on site, not home page"
https://open-archive.org/about/

[2019-11-12 15:01] n8fr8 commented on #116
We have to fork the image picker library we are using. Right now, we are just using it off the shelf. The more custom UI work we do, the less time we have for reliable large uploads, tor integration, DAT support, etc.

[2019-11-12 15:02] n8fr8 commented on #114
We use proofmode by signing media when we import it into SAVE.

We made a decision that SAVE was not going to be a capture app. The only reason it is on iOS is that the system standard media picker has a camera option. The Android one doesn't.

Again, we can for third-party libraries and spend our time on UI tweaks like this, but there is a cost.

[2019-11-12 15:14] foundscapes commented on #116
We need to prioritize UI mapping to iOS over DAT and below consistent/reliable uploading.

[2019-11-12 15:19] foundscapes commented on #114
That's good to hear that it works without capture, hopefully we can fix the proofmode bug asap that crashes when trying to upload media with it on - #153.

I know we decided that, but it's in iOS, so perhaps we need remove it from there to be consistent. I am aware of the cost, I am adding bare minimum UI tweaks, omitting many other designs at the moment to get this out of beta. This should be a f

[2019-11-12 15:19] #114 closed, assigned to nobody

[2019-11-12 15:25] foundscapes opened #156 "Check in upper right to login to server unresponsive"
Phone: Moto E
OS: Android 7.1.1
![UpperCheckUnresponsive](https://user-images.githubusercontent.com/2231711/68684606-c2a22300-0536-11ea-87e1-25901a731a5d.png)

[2019-11-12 15:29] foundscapes opened #157 "App crashes when adding an image to folder when only connected to WebDav"
Device: Moto E4
OS: Android 7.1.1

1. selected photo to add to project that was already set up
2. clicked "Add(1)" in lower right
3. App Crashed
4. Reopened app and selected photo was in queue for upload and uploaded successfully

Happened after fresh reinstall after one other photo uploaded successfully

[2019-11-12 15:35] foundscapes opened #158 "Bring Options under "Data Usage" to top level in "App Settings" on server screen"
Instead of "Data Usage" under "App Settings", can we make three links for Metadata (or just Proofmode?), Data Usage (Upload on Wifi, enable NextCloud Chunking, compression (if we add this, which would be great), and Networking (or just "onion rounting or orbot/tor"?) so they are top level under "App Settings" since it's more specific to what the features do than having all under "Data Usage"?

Met

[2019-11-12 15:39] foundscapes opened #159 "Add Video/Image compression option under "Data Usage" in App Settings"
![IMG_7651](https://user-images.githubusercontent.com/2231711/70184046-dd7e3800-169b-11ea-87a8-ee51b25eeed9.PNG)

[2019-11-12 15:45] foundscapes commented on #157
App crashed again 10x when I added 3 photos to upload to same folder. They weren't there each time I reopened

[2019-11-12 15:45] foundscapes commented on #157
Happened with all media, from 1 image selected - 8

[2019-11-12 16:06] foundscapes commented on #158
@n8fr8 can we get Michael to help us with these UI updates?

[2019-11-13 19:25] #133 closed, assigned to n8fr8

[2019-11-14 14:30] n8fr8 opened #160 "NPE on archive.org login"
Huawei Y7 Prime 2019 (HWDUB-Q), Android 8.1
Report 1 of 5
java.lang.NullPointerException:

  at net.opendasharchive.openarchive.onboarding.ArchiveOrgLoginActivity$UserLoginTask.onPostExecute (ArchiveOrgLoginActivity.java:242)

  at net.opendasharchive.openarchive.onboarding.ArchiveOrgLoginActivity$UserLoginTask.onPostExecute (ArchiveOrgLoginActivity.java:206)

  at android.os.AsyncTask.finish (Asy

[2019-11-14 14:31] n8fr8 opened #161 "NPE on getProject"
Huawei HUAWEI Y7 Prime 2018 (HWLDN-Q), Android 8.0
Report 1 of 3
java.lang.RuntimeException:

  at android.os.AsyncTask$3.done (AsyncTask.java:365)

  at java.util.concurrent.FutureTask.finishCompletion (FutureTask.java:383)

  at java.util.concurrent.FutureTask.setException (FutureTask.java:252)

  at java.util.concurrent.FutureTask.run (FutureTask.java:271)

  at android.os.AsyncTask$SerialExecu

[2019-11-14 14:31] n8fr8 opened #162 "NPE on getProject"
Huawei Honor 10 (HWCOL), Android 8.1
Report 1 of 2
java.lang.RuntimeException:

  at android.os.AsyncTask$3.done (AsyncTask.java:365)

  at java.util.concurrent.FutureTask.finishCompletion (FutureTask.java:383)

  at java.util.concurrent.FutureTask.setException (FutureTask.java:252)

  at java.util.concurrent.FutureTask.run (FutureTask.java:271)

  at android.os.AsyncTask$SerialExecutor$1.run (Asy

[2019-11-14 14:31] n8fr8 opened #163 "NPE on import media"
Huawei Y7 Prime 2019 (HWDUB-Q), Android 8.1
Report 1 of 1
java.lang.RuntimeException:

  at android.os.AsyncTask$3.done (AsyncTask.java:365)

  at java.util.concurrent.FutureTask.finishCompletion (FutureTask.java:383)

  at java.util.concurrent.FutureTask.setException (FutureTask.java:252)

  at java.util.concurrent.FutureTask.run (FutureTask.java:271)

  at android.os.AsyncTask$SerialExecutor$1.r

[2019-11-18 20:14] n8fr8 commented on #145
The next build has progress in crashing generally, and I can no longer reproduce this problem.

[2019-11-18 20:31] n8fr8 commented on #136
just tested 32 files with the latest build and no crash. Please test again once posted. If it does crash, we need to get crash logs somehow.

[2019-11-18 20:31] n8fr8 commented on #90
This should no longer be an issue with the latest 2.0 beta releases.

[2019-11-18 20:31] #90 closed, assigned to nobody

[2019-11-18 20:37] n8fr8 commented on #134
cannot repro. please try again on next build.

[2019-11-18 20:55] n8fr8 commented on #147
the arrow is fixed, but still need to match the image graphics from iOS

[2019-11-19 13:49] purvi-ranawat commented on #147
@n8fr8 Arrow and even dots in the center are white on white and not visible clearly. Tested on Samsung J7 Android 6.0.1 and Samsung A70 Android version 9

![Screenshot_20191119-191204_SAVE](https://user-images.githubusercontent.com/8190141/69151574-e1895200-0b00-11ea-8c5b-31e8ae9c46e3.jpg)

[2019-11-19 14:04] purvi-ranawat commented on #155
@n8fr8 It is working fine  tested on Samsung J7 and Samsung Galaxy a70

[2019-11-19 15:11] purvi-ranawat commented on #145
@n8fr8 : This is working fine now. App is not crashing on uploading now when we have both IA and private server configured.

Tried on Samsung Galaxy J7 - Android 6 and Samsung Galaxy A70 - Android 9.0

[2019-11-19 15:11] #145 closed, assigned to nobody

[2019-11-19 15:38] purvi-ranawat commented on #138
@n8fr8 It works fine, tested on Samsung galaxy J7 and Samsung A70

[2019-11-19 15:38] #138 closed, assigned to nobody

[2019-11-19 16:06] purvi-ranawat commented on #141
@n8fr8 : This is working fine now on Samsung Galaxy J7 - Android 6 and Samsung Galaxy A70 - Galaxy 9

[2019-11-19 16:06] #141 closed, assigned to nobody

[2019-11-19 18:33] foundscapes opened #164 "Show video icon for videos"
Phone: Google Pixel 3a
OS: Android 10

We added this to ios, but not sure it made it into the issues, sorry if redundant!

[2019-11-20 05:01] n8fr8 commented on #147
well "get started" is visible. that is what we want people to tap. what happens on the next screen?

[2019-11-20 05:05] n8fr8 commented on #164
Can I get more detail / screenshot of what is wrong?

[2019-11-20 12:12] purvi-ranawat commented on #147
@n8fr8 : On the next screen, it is working fine. Arrows and dots are not of white color from next screen onwards

[2019-11-20 13:37] purvi-ranawat commented on #136
@n8fr8 : The issue is working fine with Samsung Galaxy A70 - Android 9 but when I tried the same with Samsung Galaxy J7 - Android 6, the app crashes.

I have attached the log for the same

[bugreport.zip](https://github.com/OpenArchive/Save-app-android/files/3869460/bugreport.zip)

[2019-11-20 13:50] purvi-ranawat commented on #142
@n8fr8 This is working fine on Samsung galaxy J7 Android 6 and Samsung a70 Android 9

[2019-11-20 17:05] foundscapes commented on #164
No video icon indicators on upload / project screens (plant was video):

![Screenshot_20191120-090159](https://user-images.githubusercontent.com/2231711/69260508-dec84480-0b74-11ea-9754-d18f279dbafd.png)
![Screenshot_20191120-090211](https://user-images.githubusercontent.com/2231711/69260509-dec84480-0b74-11ea-8953-050f767f7b0b.png)

indicators within the app are helpful to distinguish videos from

[2019-11-20 17:09] foundscapes commented on #141
@n8fr8 works on Google Pixel 3a /Android 10 as well

[2019-11-20 17:11] foundscapes commented on #145
Works on Pixel 3a, Android v.10

[2019-11-20 17:54] n8fr8 commented on #164
Ah! got it.

[2019-11-20 20:36] #163 closed, assigned to nobody

[2019-11-20 20:36] #162 closed, assigned to nobody

[2019-11-20 20:36] #161 closed, assigned to nobody

[2019-11-20 20:36] #160 closed, assigned to nobody

[2019-11-20 20:36] #155 closed, assigned to n8fr8

[2019-11-20 20:37] #125 closed, assigned to purvi-ranawat

[2019-11-20 22:23] foundscapes opened #165 "Add updated android to F-Droid (if not there already)"

[2019-11-21 10:10] purvi-ranawat commented on #157
@n8fr8 : This is working fine in Samsung Galaxy A70 - Android 9.

But on Samsung Galaxy J7 - Android 6.0, the issue still occurs

[2019-11-28 13:38] n8fr8 commented on #91
Pref is enabled and working. We no longer show an active prompt to install Orbot, but the pref now reads "If Orbot is installed, use the Tor network"

[2019-11-28 13:41] n8fr8 commented on #153
Updated proofmode library, no more crashing

[2019-11-29 13:47] n8fr8 commented on #143
More granularity in progress display has been implemented/solved.

More to come to show progress of file data transfered

[2019-11-29 15:40] purvi-ranawat commented on #134
It works fine now.

[2019-11-29 15:40] #134 closed, assigned to nobody

[2019-11-29 15:45] purvi-ranawat commented on #136
@n8fr8 It works fine now.

[2019-11-29 15:45] #136 closed, assigned to nobody

[2019-11-29 15:56] purvi-ranawat commented on #154
@n8fr8 It works fine.

[2019-11-29 16:45] purvi-ranawat commented on #164
In Samsung Galaxy A 70 - Android 9.0, on preview screen, video icon is not displayed
@n8fr8  :

In Samsung Galaxy J7 - Android 6.0.1 , video icon is not displayed when we add media to the project and on preview screen.

Below are the screenshots :

![A70 - previewscreen](https://user-images.githubusercontent.com/8190141/69882247-9ab40d00-12f5-11ea-8dfd-f2df53d6f23c.jpg)

![J7 - video icon missing]

[2019-11-30 04:57] purvi-ranawat opened #166 "Text "Add Media....." is displayed even after selecting the media for the projects"
This is happening on below devices :

Samsung Galaxy A70 (Android 9.0)
Samsung Galaxy J7 (Android 6.0.1)

Steps to Reproduce :

1. Access Save App
2. Create new project
3. Select few media and click on Add
4. Click on Upload

Expected Result :
After clicking on upload, on home screen of the project, the text "Tap the button below to add media to your project" should disappear as we have already ad

[2019-11-30 05:00] purvi-ranawat commented on #156
@n8fr8  : I have tried the issue in Samsung Galaxy A70 (Android 9.0) and Samsung Galaxy J7 (Android 6.0.1) and it is working fine

[2019-11-30 05:22] purvi-ranawat commented on #137
@n8fr8 it works fine now

[2019-11-30 05:22] #137 closed, assigned to nobody

[2019-11-30 05:41] purvi-ranawat opened #167 "On upload screen it shows Review instead of Preview"
When we select and add a media, it shows Review instead of Preview on Upload screen
Tested on Samsung Galaxy a70 android 9.0

![review](https://user-images.githubusercontent.com/8190141/69896166-03d16a00-1362-11ea-9480-3d7a572a5b67.jpg)

[2019-11-30 05:51] purvi-ranawat commented on #157
@n8fr8 It's working fine on latest build 0.2.1- Beta-5. Tested on Samsung Galaxy J7 Android 6.0 and Samsung Galaxy A70 Android 9

[2019-11-30 07:48] purvi-ranawat commented on #153
@n8fr8 It works fine on Samsung galaxy a70 Android 9 and Samsung J7 android 6

[2019-11-30 11:12] #91 closed, assigned to n8fr8

[2019-11-30 11:13] #153 closed, assigned to n8fr8

[2019-11-30 11:13] #157 closed, assigned to n8fr8

[2019-11-30 11:13] #154 closed, assigned to n8fr8

[2019-11-30 11:13] #156 closed, assigned to n8fr8

[2019-11-30 11:23] purvi-ranawat commented on #143
@n8fr8 : Currently its becoming 0 to 100% directly and not showing any progress. Just for a micro second, it is showing some other numbers which are not readable

[2019-11-30 11:28] n8fr8 commented on #74
I think for now, this is fixed. If the user deletes their account on Archive.org website, that is out of scope for us. As long as the SAVE app itself allows you to remove an account, and added a new one, or add multiple accounts, then we are done.

[2019-11-30 13:15] purvi-ranawat commented on #166
@n8fr8 : This is working fine now.

Below is the screenshot :

![add media](https://user-images.githubusercontent.com/8190141/69901033-9c3b0f00-13a1-11ea-977d-da6b5c31adf3.png)

[2019-11-30 13:15] #166 closed, assigned to nobody

[2019-11-30 13:33] purvi-ranawat commented on #164
@n8fr8 It works fine now on Samsung J7 android 6 and Samsung A70 Android 9

[2019-12-01 03:33] purvi-ranawat opened #168 "App has reach its max limit message is displayed when we try to sign in using drop box"
When I try to use the drop box account and sign in using google, the message "This app has reached its user limit. Contact the app developer and ask them to use the Dropbox API App Console to increase their app's user limit" is displayed

Below is the screenshot :

![Dropbox](https://user-images.githubusercontent.com/8190141/69908978-6c2f5280-1419-11ea-8950-e7ac1e30fd46.jpg)

[2019-12-01 14:28] n8fr8 commented on #168
should be fixed now!

[2019-12-01 14:28] #168 closed, assigned to nobody

[2019-12-02 03:54] #164 closed, assigned to n8fr8

[2019-12-02 03:54] n8fr8 commented on #143
Was that with web-dav or archive.org uploading?

[2019-12-04 21:28] foundscapes opened #169 "Informational Popups for android UI"
@n8fr8 let me know if you need me to make separate issues or if this is OK.

1) Edit Multiple Items - To edit multiple items, tap and hold each.
![IMG_7647](https://user-images.githubusercontent.com/2231711/70182911-a3139b80-1699-11ea-8a91-78adbf3831e5.PNG)

2) Flag Significant Content - When you flag an item, it is routed into a subfolder within the chosen project folder on the private server.
![

[2019-12-04 21:39] foundscapes commented on #167
Same on google pixel 3a android v. 10
![498-1024](https://user-images.githubusercontent.com/2231711/70183848-6ba5ee80-169b-11ea-90ab-fc6b2e127403.png)

[2019-12-04 21:44] foundscapes commented on #138
While I'm unable to create two folders with the same name, I do see two with the same name (oademo) in the app (apk 0.2.1-beta-6) although only one folder is on the server.
![twoFolders](https://user-images.githubusercontent.com/2231711/70184202-3bab1b00-169c-11ea-8d11-b3a584a11d39.png)
@n8fr8

[2019-12-04 21:56] foundscapes commented on #150
@n8fr8
Google Pixel 3a
Android 10
this seems fixed on 3a, but the logo should be slightly lower from top / looks crunched
![LogoTooHigh](https://user-images.githubusercontent.com/2231711/70184974-ca6c6780-169d-11ea-9e54-879112f6ea1a.png)

[2019-12-04 22:05] foundscapes opened #170 "(P)review and Upload visibility / design issues"
Google Pixel 3a Android 10

@n8fr8 #167 is still an issue here, but also it looks like:

1. Upload and Preview are grayed out in light mode but look OK in Dark Mode. Can we make them more prominent in light mode?
![UploadGreyedOut](https://user-images.githubusercontent.com/2231711/70185174-2636f080-169e-11ea-8a0e-3a01c2dcb15c.png)

2. Upload / Edit and Preview are not the same size - should be
![T

[2019-12-04 22:17] foundscapes commented on #149
Device: Google Pixel 3a
OS: Android 10

Still too small / closed circle too tight and too far to the left in project/folder view

![tooLeft](https://user-images.githubusercontent.com/2231711/70186404-b9712580-16a0-11ea-9d44-df796a3cee1a.png)

![toosmall](https://user-images.githubusercontent.com/2231711/70186438-cbeb5f00-16a0-11ea-9fd0-35d5c0ef56ff.png)

[2019-12-04 22:22] foundscapes commented on #146
@n8fr8 and Benjamin should discuss how to map from ios to Android - may be beyond our scope

[2019-12-04 22:36] foundscapes commented on #143
Phone: Google Pixel 3a
OS: Android 10
Server: GoodCloud
It's working for GoodCloud

![uploadprogress3a](https://user-images.githubusercontent.com/2231711/70187277-a19aa100-16a2-11ea-8166-d302f70298d8.png)

Phone: Google Pixel 3a
OS: Android 10
Server: Internet Archive
It's working for IA

![IAUploads](https://user-images.githubusercontent.com/2231711/70187577-6c428300-16a3-11ea-818c-83ad1a197085.p

[2019-12-04 22:40] foundscapes opened #171 "Issue with re-ordering uploads (was Additional files not uploading when adding them to folder that is already uploading)"
phone: Google Pixel 3a
OS: Android 10
Servers: Internet Archive / Good Cloud / NextCloud

Steps:
1. add media to project folder, click upload
2. add more media to same project folder, click upload
3. Expected result: all files will upload
4. Actual result: only files initially added to batch upload, newer additions stall

![AddlItemsNotUploading1](https://user-images.githubusercontent.com/2231711/

[2019-12-04 22:41] foundscapes commented on #171
Additional question @n8fr8 - do files always upload from last to first? Can we change this to be the other way around / more intuitive? The reordering by size feature is more useful that way.

[2019-12-05 02:10] foundscapes commented on #171
phone: Moto G
OS: Android 5.1
Server: Good Cloud

This same thing happened on the MotoG

[2019-12-05 02:11] foundscapes commented on #142
@n8fr8 working on MotoG Android 5.1
![LangViewable](https://user-images.githubusercontent.com/2231711/70197722-9efb7400-16c1-11ea-88b5-a115ed838ad0.png)
![Langviewable1](https://user-images.githubusercontent.com/2231711/70197723-9efb7400-16c1-11ea-9d97-a9cff66add7f.png)
![LangViewable2](https://user-images.githubusercontent.com/2231711/70197724-9efb7400-16c1-11ea-9e83-df3555f17647.png)

[2019-12-05 02:16] foundscapes opened #172 "Move Welcome Language Up"
Moto G
Android 5.1
OA beta 6 version
@n8fr8 while the text isn't hidden behind the images, it is too close on the wordier screens and there's plenty of space to move them up, so let's do that.

![LangViewable](https://user-images.githubusercontent.com/2231711/70197866-0a454600-16c2-11ea-9686-38d324ad740e.png)

[2019-12-05 02:18] foundscapes opened #173 "App crashed when adding item to queue that was uploading"
Phone: Moto G
OS: Android 5.1
Server: GoodCloud

1. Upload 5 files to goodcloud folder
2. add 2 files to upload in batch
3. one begins to upload
4. App crashes

Could not reproduce, will add if happens again

[2019-12-05 02:20] foundscapes commented on #147
Phone: Moto G
OS: 5.1

New color not visible, same white on white issue with arrow
![WhiteArrowOnWhite](https://user-images.githubusercontent.com/2231711/70198099-b1c27880-16c2-11ea-89df-9fc02b123afe.png)

[2019-12-05 02:24] foundscapes opened #174 "White icons do not work w/ light photos/video"
Moto G / google pixel 3a
Android 5.1 / Android 10

We need to make them stand out better. Benjamin's fix was to put a fairly transparent gray bar behind the icons

Moto G
![WhiteIconsDoNotShow](https://user-images.githubusercontent.com/2231711/70198131-d3bbfb00-16c2-11ea-94f7-fb7ece430bcb.png)

Pixel 3a
![WhiteIconsNotShowing](https://user-images.githubusercontent.com/2231711/70198277-42995400-16c

[2019-12-05 02:27] foundscapes commented on #150
Logo is still cut off on the moto G os: Android 5.1
![LogoCutOffMotoG](https://user-images.githubusercontent.com/2231711/70198412-a91e7200-16c3-11ea-8c2f-6edf3c02a846.png)

[2019-12-05 02:39] foundscapes commented on #139
Phone: Pixel 3a
OS: Android 10
I was able to upload a short audio file from "Google Keep" by sharing directly from the Keep app.

Phone: Moto G
OS: Android 5.1
The same thing happened to me as Purvi when trying to share from "my sounds" app - clicked share to Save from within the app and Save opened but there was no file there.

[2019-12-05 02:42] foundscapes opened #175 "Clicking on Flag should turn it yellow, not bring you to metadata field"
It should map to iOS/be more intuitive since there's no more information to add when flagging.

[2019-12-05 02:44] foundscapes commented on #88
@n8fr8 Where is nearby share in the beta 6 version?

[2019-12-05 02:46] foundscapes commented on #77
@n8fr8 this may no longer be an issue

[2019-12-05 02:47] foundscapes commented on #72
@n8fr8 Let's revisit QR codes to auto-provision unique users.

[2019-12-05 02:53] foundscapes opened #176 "Need ability to turn off licesning (Creative Commons Licensing options by Project / Folder)"
This needs to be implemented in Save for Android

![CC](https://user-images.githubusercontent.com/2231711/70199725-46c77080-16c7-11ea-94b3-74e8c96166c0.png)

[2019-12-05 02:53] foundscapes commented on #70
CC is gone from Beta 6, see issue #176

[2019-12-05 02:53] #70 closed, assigned to foundscapes

[2019-12-05 02:55] #68 closed, assigned to n8fr8, foundscapes

[2019-12-05 02:55] foundscapes commented on #64
Most apps prompt users to install new versions, this needs to happen.

[2019-12-05 02:56] foundscapes commented on #43
Is this still something we're considering?

[2019-12-05 02:57] foundscapes commented on #40
We should offer PW resets, let's discuss how the UI would look

[2019-12-05 08:30] n8fr8 commented on #64
Not sure I agree about "most apps". App upgrades and notifications of updates being available are handled by Google Play and F-Droid. You can add extra functionality in an app to ping github or a website to check an update file, but that is extra network traffic to a centralized host that could be considered "tracking". Let's discuss!

[2019-12-05 08:32] n8fr8 commented on #43
We had a built in audio recorder in OA 1.0. For 2.0, we decided that Save would not be a "capture app". Now, we've gone back on that a little with offering a capture button in the media picker, since iOS does that. Otherwise, the plan was that if a user needed to record audio, say interviews with people, they should use a dedicated app for that, off which there are many high quality fee and paid o

[2019-12-05 08:32] #43 closed, assigned to n8fr8

[2019-12-05 08:32] n8fr8 commented on #40
We don't manage passwords, so we cannot reset them.

[2019-12-05 17:49] foundscapes commented on #64
How does Signal do it?

[2019-12-05 17:53] foundscapes commented on #40
What I mean is make it easy to change PW in-app - from the server - I assume it's all through the server?

[2019-12-06 16:05] n8fr8 commented on #171
Fixed in the new release: https://github.com/OpenArchive/Save-app-android/releases/tag/0.2.2-beta-1

[2019-12-06 16:06] n8fr8 commented on #107
progress https://github.com/OpenArchive/Save-app-android/releases/tag/0.2.2-beta-1

[2019-12-06 16:06] n8fr8 commented on #143
yes

[2019-12-06 16:06] #143 closed, assigned to n8fr8

[2019-12-06 16:07] #142 closed, assigned to n8fr8

[2019-12-06 16:07] n8fr8 commented on #167
Should be "Preview" everywhere now
https://github.com/OpenArchive/Save-app-android/releases/tag/0.2.2-beta-1

[2019-12-06 16:07] #167 closed, assigned to nobody

[2019-12-06 16:09] n8fr8 commented on #172
Need to do custom layout for smaller screens

[2019-12-06 16:09] n8fr8 commented on #169
This is fine, thanks. Getting it done.

[2019-12-06 16:10] n8fr8 commented on #175
you mean you want to be able to tap it to flag on the list screen, and not the full screen?

[2019-12-06 16:50] n8fr8 commented on #64
We know how to do it technically if we want to, I just want to make it clear that in app update checking is a new feature, and not just a default option. It also requires accessing an "updates" file hosted somewhere (OA website, github, etc) on a regular basis (once a day), to see if it has changes, and to read in the information about the new release.

Signal likely does it using one of the exist

[2019-12-06 16:51] n8fr8 commented on #40
Let's talk about this in real time today.

[2019-12-06 17:24] foundscapes commented on #171
Ok will test. Also did you see this? Additional question @n8fr8 - do files always upload from last to first? Can we change this to be the other way around / more intuitive? The reordering by size feature is more useful that way.

[2019-12-06 17:28] foundscapes commented on #175
Yup like this
![IMG_0153](https://user-images.githubusercontent.com/2231711/70342887-c7db5080-180a-11ea-86ce-b2377dd01f88.PNG)

[2019-12-06 17:30] foundscapes commented on #64
I think this is important given that anyone who has the released version from play may be very confused about how to use it and never go back to the app if UI isn't updated.

[2019-12-06 18:03] n8fr8 commented on #171
Yes, I reproduced it, and completely understand what was happening before.

As for order and re-ordering, still looking into that. Just need to adjust the query being used and how often it is required by the background upload service.

[2019-12-06 18:09] foundscapes commented on #150
and still after 2.2 beta 1

[2019-12-06 18:11] n8fr8 commented on #150
This wasn't marked "please test"

[2019-12-06 18:37] foundscapes commented on #171
Ok hmm, new problem...semi-order related.

Google Pixel 3a
OS: Android 10
Save v. 0.2.2-beta-1

When I reordered the last item - a video - to be at the top (since files seemed to still be uploading from the bottom) it moved it back to the bottom after I clicked out of edit mode and then stalled at 12% while other file (second to last in queue) began uploading.

![ReorderVidEdit](https://user-image

[2019-12-06 18:39] foundscapes opened #177 "Cannot remove batch media from project or preview screen"
Google Pixel 3a
OS Android 10
Save v. 0.2.2-beta-1
In project space, tap hold works, but when I go to edit pencil and select only option "remove" nothing happens and it stays in project space and continues uploading.

![DoesNotDelete](https://user-images.githubusercontent.com/2231711/70347040-86e83980-1814-11ea-91cc-f9aff36979d7.png)

The option to remove media / 3 dots in edit screen/preview mode

[2019-12-06 18:46] foundscapes commented on #177
Also when I swipe left on it, it just stays in edit circle

[2019-12-13 02:33] foundscapes commented on #175
phone: motoG
OS: Android 5.1
Save 0.2.2 Beta-2

Tapping the flag while in bulk edit mode worked the first time, but tapping it again to undo brought me to edit screen. Then when I went back, tapping flags on any of the files in bulk edit would bring me to edit screen - it's confusing if it sometimes works and sometimes doesn't, also confusing whether or not we are in bulk edit mode or individual e

[2019-12-13 02:36] foundscapes commented on #174
phone: motoG
OS: Android 5.1
Save 0.2.2 Beta-2

This is better, but once you tap/hold to multi edit the pencil / trashcan are now very hard to see.

![EditTrashObscured](https://user-images.githubusercontent.com/2231711/70764988-3427e980-1d0e-11ea-9395-e968ff5d4050.png)

[2019-12-13 02:38] foundscapes commented on #172
phone: motoG
OS: Android 5.1
Save 0.2.2 Beta-2

Still looks cramped on the small screen.

![langcramped](https://user-images.githubusercontent.com/2231711/70765092-836e1a00-1d0e-11ea-96d2-1931af674666.png)

[2019-12-13 02:44] foundscapes commented on #147
phone: motoG
OS: Android 5.1
Save 0.2.2 Beta-2

Still white on white arrow, this needs to be fixed asap since it's the first screen - Let's make it teal

![whitearrowonwhite](https://user-images.githubusercontent.com/2231711/70765375-7a317d00-1d0f-11ea-895c-7bd9d2646690.png)

[2019-12-17 04:52] foundscapes opened #178 "Disconcerting long lag after adding login credentials or trying to switch between servers on many devices"
Samsung Galaxy S7
Google Pixeal 3a
Moto G

After hitting either "done" or the checkmark in upper right corner, it can take up to 15 seconds to connect, and often only does if you hit both vs. one or the other.

[2019-12-17 05:41] foundscapes opened #179 "Change first welcome screen language"
Need to find easy/fast way to mock up but it should read:

**_Save_** by OpenArchive

Share
Archive
Verify
Encrypt

[2019-12-17 17:40] foundscapes commented on #151
Like this so people can click no it to see the pw

![image](https://user-images.githubusercontent.com/2231711/71020479-45c41500-20b1-11ea-9936-a3f6d3d556ef.png)

[2019-12-17 17:53] foundscapes opened #180 "Wrong error msg when name is incorrect on S7"
phone: Galaxy S7
OS: 3.2.49

When pw is there and username is incorrect, I get "incorrect password error" - which is incorrect - it should read: "incorrect username" over username.

![UNIncorrectS7](https://user-images.githubusercontent.com/2231711/71021103-7b1d3280-20b2-11ea-886d-e610bbae164f.jpg)

[2019-12-17 17:59] foundscapes opened #181 "One can change the name of the project after it's been created, but not really"
Samsung Galaxy S7
OS: 3.2.49
Save version 0.2.2 Beta 2

When I change the folder name in the server screen, it does not change in the project space or on the server.

Expected Result: either I should not be allowed to change the folder name OR it should update everywhere

Actual Result: the folder name looks changed in both places, but then isn't in project workspace

![ChangeFolderNameS7](https:/

[2019-12-17 18:13] foundscapes commented on #107
It is working on both Samsung Galaxy S7 and MotoG, however the edit and delete icons are way too hard to see.
![BatchEditHardToSeeS7](https://user-images.githubusercontent.com/2231711/71022594-b10fe600-20b5-11ea-86e1-2384c845375d.jpg)

Can we make a multi edit icon like in ios in teal so it stands out before taking you to edit screen? Like this:

![BatchEditIosCorrect](https://user-images.githubus

[2019-12-17 18:24] foundscapes opened #182 "Confusing UI when leaving new project name blank"
Since iOS has a "done" button in upper right that is greyed out, it's more obvious that you cannot create a project with no name.

![NoNameiOS](https://user-images.githubusercontent.com/2231711/71023275-452e7d00-20b7-11ea-9431-2bdbcb8ea90c.png)

However, on Galaxy s7 and moto G / all android devices, it is less clear that you must name the project with only a back arrow. Can we add a "done" button

[2019-12-17 18:30] foundscapes commented on #174
Possible fix: make them teal or add multi edit button in teal in upper right? See #107

[2019-12-17 18:33] foundscapes commented on #149
It's still too small on all android devices using Beta-2 - no one knows what it is. Can you make it larger like in iOS?

![iosPlusSignAddProject](https://user-images.githubusercontent.com/2231711/71023923-a30f9480-20b8-11ea-8d83-f7d1865e3e3b.png)

[2019-12-17 18:46] foundscapes commented on #147
Since it's clear on Google Pixel 3a, can we make sure it looks like this on all devices?

![GetStartedPixel3a](https://user-images.githubusercontent.com/2231711/71024719-6a70ba80-20ba-11ea-89cd-1e1ca3e0805e.png)

[2019-12-17 18:47] foundscapes commented on #177
Samsung Galaxy s&
OS 3.2.49
Save v. 0.2.2-beta-2

Google Pixel 3a
OS Android 10
Save v. 0.2.2-beta-2

For both phones, media is removed in preview screen when clicking the trash icon, but when I click on edit pencil, and then click three dots in upper right and click "remove media" it is not removed from preview screen

[2019-12-17 18:52] foundscapes opened #183 "Two project folders with same name in browse, but not two on server"
Beta-2

on all android devices, there are two "oademo" folders when browsing projects:

![TwoFoldersPixel3a](https://user-images.githubusercontent.com/2231711/71025015-0ef2fc80-20bb-11ea-9fad-ab250977fa05.png)

however there is only one on the server (which means it's not a duplicate folder issue, but some other bug):
<img width="1100" alt="OneOademoServer" src="https://user-images.githubuserconte

[2019-12-17 18:59] foundscapes opened #184 "Edit Screen: make text on right same size as left"
On all devices, beta-2

edit Screen: make text on right (upload) same size as left (preview)

![RightLeftSizingS7](https://user-images.githubusercontent.com/2231711/71025524-0ea73100-20bc-11ea-878a-9a2f8d0387f0.jpg)

upload screen: and for Uploads / Done
![RightLeftSizing1S7](https://user-images.githubusercontent.com/2231711/71025536-16ff6c00-20bc-11ea-869e-9c6ef234a3a0.jpg)

and wherever else it

[2019-12-17 19:00] foundscapes commented on #158
Looks good on all devices

[2019-12-17 19:00] #158 closed, assigned to n8fr8, foundscapes

[2019-12-17 19:04] foundscapes commented on #164
Working on Samsung S7 and Pixel 3a

[2019-12-17 19:09] foundscapes commented on #173
Phone: Galaxy S7
OS: Android 3.2.49
Server: GoodCloud

    Upload 4 files to goodcloud folder
    add 2 files to upload in batch
    zero files upload

closed app, reopened, 3 mins later all had uploaded

[2019-12-17 19:16] foundscapes opened #185 "Number in circle in upper right & Xitems cramped on S7 + discrepancy btwn #'s"
Phone: Galaxy s7
OS: Android 3.2.49
Save - Beta-2

Three issues:
1. Upload number in circle is cramped

2. Xitem(s) under "ready to upload" should have a space between number and item(s)

3. There is also a discrepancy about the number - it says 6 but there are only 5 in the queue / circle
![Spacing_and_NumberDiscrep S7jpg](https://user-images.githubusercontent.com/2231711/71026665-8d04d280-20be-1

[2019-12-17 19:17] foundscapes commented on #169
Looking good so far on all devices

[2019-12-17 20:07] n8fr8 commented on #147
Ensure smaller screens is not using the wrong /  different layout

[2019-12-17 20:10] n8fr8 commented on #149
use the same "Add Space" floating cross in circle drawable bitmap

[2019-12-17 20:12] n8fr8 commented on #178
WebDAV and Dropbox both had the same issue....

[2019-12-17 20:12] foundscapes commented on #178
need to test on IA

[2019-12-17 20:13] n8fr8 commented on #178
Implement improved UI to indicate that logging in is happening, not stalled/hanging/broken

[2019-12-17 20:17] foundscapes commented on #178
Not using Tor

[2019-12-17 20:20] foundscapes commented on #107
Make all action buttons/text teal - solves all the problems
except metadata buttons!

[2019-12-17 20:26] n8fr8 commented on #177
Got it

[2019-12-17 20:32] n8fr8 commented on #175
make tap area bigger, and test

[2019-12-17 20:33] n8fr8 commented on #180
need to check, improve error message for login failure

[2019-12-17 20:35] foundscapes commented on #185
map to iOS
![circleiOS](https://user-images.githubusercontent.com/2231711/71032195-b70fc200-20c9-11ea-9db3-eb7a68b1a9b1.png)

[2019-12-17 20:35] n8fr8 commented on #123
pull/integrate with the strings from Save for iOS

[2019-12-17 20:37] foundscapes commented on #116
Can now capture photos in-app but not videos

[2019-12-17 20:39] foundscapes commented on #148
Need to write documentation for how to make it end to end encrypted if people want, since it's possible to capture media in-app and pw-protect app / ephemeral/disappearing media - effects performance / ux when using these.

[2019-12-17 20:42] n8fr8 commented on #185
added items at different times, perhaps while one was uploading already

[2019-12-17 20:43] foundscapes commented on #185
need to test again on all devices if adding items confuses the upload queue number in preview

[2019-12-17 20:54] foundscapes commented on #181
need to disable ability to change project names b/c new folders are made on server vs. folder names updating to new.

[2019-12-19 18:40] foundscapes commented on #179
Please map to font (montserrat)/hex color of the iOS from #88 except for first welcome screen - will have a mockup for that soon!

[2020-01-06 01:15] foundscapes commented on #184
0.2.2-beta-3
Looks ok on Moto-G, s7. 3av - can we make them both mixed case? @n8fr8

[2020-01-06 01:29] foundscapes commented on #179
Looks MUCH better! Perhaps add a bit more space between Encrypt and "Secure Mobile Media..." to bring it lower, unbold and italicize "Secure Mobile Media...'

![576-1024](https://user-images.githubusercontent.com/2231711/71924994-ee134980-3144-11ea-8fcd-817bb3ac6860.png)

[2020-01-06 01:44] foundscapes commented on #116
0.2.2-beta-3
works on s7, 3a, and moto-g @n8fr8

[2020-01-06 01:44] #116 closed, assigned to n8fr8

[2020-01-06 01:52] foundscapes commented on #177
0.2.2-beta-3
works on moto-g, s7, 3a

[2020-01-06 01:52] #177 closed, assigned to n8fr8

[2020-01-06 01:58] foundscapes commented on #175
0.2.2-beta-3
works on moto-g, s7, 3a

[2020-01-06 01:59] #175 closed, assigned to n8fr8

[2020-01-06 02:04] foundscapes commented on #185
0.2.2-beta-3
looks fine (even double digits) on s7, moto-g, 3a

[2020-01-06 02:04] #185 closed, assigned to n8fr8

[2020-01-06 02:19] foundscapes commented on #180
0.2.2-beta-3
s7, moto g, 3a
"login failed" error when incorrect username or pw are entered BUT the lag is bad  (30 seconds - 2 minutes) when either showing error OR successfully logging in on all phones

[2020-01-06 02:22] foundscapes commented on #149
It's working better, but only looks ok on larger screens

[2020-01-06 02:22] #149 closed, assigned to n8fr8

[2020-01-06 02:22] foundscapes commented on #147
MUCH BETTER w. turquoise bar at bottom

[2020-01-06 02:22] #147 closed, assigned to n8fr8

[2020-01-06 02:29] foundscapes commented on #183
0.2.2-beta-3
Pixel 3a, S7, Moto-G
Now there are two double projects in project list on all phones
![MotoGTwice3A](https://user-images.githubusercontent.com/2231711/71791262-3ae20d80-2fe9-11ea-94f9-3a4f43a24429.png)

[2020-01-06 02:29] foundscapes commented on #178
0.2.2-beta-3
s7, 3a, moto-g
This is still happening on all phones

[2020-01-06 02:37] foundscapes commented on #107
0.2.2-beta-3
This looks fine on all phones except moto-g OS 5.1 when in bulk edit screen
![motoGBulkEditHardtoSee](https://user-images.githubusercontent.com/2231711/71791553-471a9a80-2fea-11ea-994a-b5b4c4094051.png)

[2020-01-06 03:53] roseregina commented on #173
Phone: Galaxy S7
OS: Android 8.0.0
Server: GoodCloud

I can't tell if this is the same bug, but I am having a lot of problems/ inexplicable irregularities with uploading files (affects both images and videos), and aside from the initial add, it has been while there were already images in the queue.

A couple of times, I was been able to get progress on the uploads by force quitting and reopening s

[2020-01-07 16:58] n8fr8 commented on #180
the lag issue is a separate ticket #178 so let's track that issue there

[2020-01-07 16:58] #180 closed, assigned to n8fr8

[2020-01-07 19:13] foundscapes commented on #179
I need to make Future coolness for fonts/colors

[2020-01-07 19:15] n8fr8 commented on #183
related to url encoding of folder names, causing duplicate creation on the server

[2020-01-07 19:17] foundscapes commented on #178
This happens on both GP and GC, will reproduce w/ IA/DrobBox from different /empty login / GC account

[2020-01-07 19:20] n8fr8 commented on #107
update the icons to be *actually* teal instead of using the tintMode

[2020-01-07 19:21] foundscapes commented on #170
Fixed

[2020-01-07 19:21] #170 closed, assigned to n8fr8

[2020-01-07 19:25] n8fr8 commented on #144
if you tap the + when it is the selected tab, open the add project screen

[2020-01-07 19:41] foundscapes commented on #172
Looks fine on s7 and 3a, still looks the same on this last screen for moto-g

[2020-01-07 19:41] #174 closed, assigned to n8fr8

[2020-01-07 20:50] n8fr8 opened #186 "NPE crash from Play"
Dec 26, 2019, 1:07 AM on app version 20211
Huawei Honor 8 Pro (HWDUK), Android 9
Report 1 of 4
java.lang.NullPointerException:

  at net.opendasharchive.openarchive.services.archivedotorg.ArchiveOrgLoginActivity$UserLoginTask.onPostExecute (ArchiveOrgLoginActivity.java:243)

  at net.opendasharchive.openarchive.services.archivedotorg.ArchiveOrgLoginActivity$UserLoginTask.onPostExecute (ArchiveOrgL

[2020-01-07 20:51] n8fr8 commented on #186
related to null space. fixed now.

[2020-01-07 20:51] #186 closed, assigned to nobody

[2020-01-08 21:47] foundscapes commented on #178
Save 0.2.2-beta-5
**Guardian Project Server**

Pixel 3a
1. Login to cloud.guardianproject.info was quick / easy

2. a) Reproduced Samsung 7 Issue by logging in w/ incorrect pw first:
- Expected result: "login failed" popup shows immediately
- Actual result: very long lag (~1min) then "login failed"

b) tried to login with correct creds and nothing happened at all until backing out and reentering

[2020-01-08 22:29] roseregina opened #187 "Dropbox login/ set up "infinte loop""
Save 0.2.2-beta-5

Dropbox server (rr's personal account)

1. Logged in to dropbox account motoG, GalaxyS7, Pixel3a
    Pixel3a was slowish, but I suspect that it was on the dropbox side

2. Attempt to add project:
    on all

[2020-01-08 22:46] foundscapes commented on #178
Save 0.2.2-beta-5
**DropBox** and **Internet Archive** logins were immediate, cannot reproduce issue b/c login is not within **_Save_**

[2020-01-08 22:56] foundscapes opened #188 "New tab bar white in dark mode on Pixel 3a"
Save 0.2.2-beta-5
![3aWhiteTabBar](https://user-images.githubusercontent.com/2231711/72023077-c2689000-3226-11ea-92ce-29c3369a256b.png)

[2020-01-08 23:07] roseregina opened #189 "Remove Dropbox Space - Confusing process"
Save 0.2.2-beta-5

Dropbox server (rr's personal account)

1. Logged in to dropbox account motoG, GalaxyS7, Pixel3a
    Pixel3a was slowish, but I suspect that it was on the dropbox side

2. Attempt to remove from space, motoG, GalaxyS7, Pixel3a:
a.   Expected Result: click on Circle D/ Dropbox icon on left of screen, taken to removal screen
b. Actual Result: click on Circle D/ Dropbox icon on lef

[2020-01-08 23:11] foundscapes opened #190 "Can't change name of server after first entry, but seems like you can"
Save 0.2.2-beta-5 on s7, pixel 3a, or moto-g

cannot change name of either goodcloud + guardian project spaces after initial setup

[2020-01-09 01:42] roseregina opened #191 "App only sends media to one dropbox account when logged in and sending to multiple dropbox accounts"
TLDR: it looks like you're signed into two + dropbox accounts but it puts everything on one dropbox account's folder.

While it looks like I have multiple Dropbox accounts set up in the app, I am not able to save to different Dropbox accounts.

![TwoDropBox](https://user-images.githubusercontent.com/2231711/72030692-bb4d7c00-323e-11ea-8f91-e1b3ca6d186a.png)

Expected results:
1. signed in with Dro

[2020-01-09 01:50] roseregina commented on #190
Save 0.2.2-beta-5

Tested on MotoG

(This refers to the word "Dropbox" where the server name is on other servers and the teal circle with the white letter that is the first letter of the optional server name for other Spaces.)

Expected:
Able to click and rename "Dropbox" to something more descriptive

Actual:
No part of the name can be changed. That screen does not exist or the field on that scre

[2020-01-09 01:52] roseregina opened #192 "Dropbox user name issue"
Save 0.2.2-beta-5

MotoG

Expected results: email address used to log in to Dropbox is displayed underneath "Dropbox" on the server screen and appears in the "username" field and should map to server name in **_Save_**

Actual results: a 10 digit number is inserted of an email address. This is almost definitely a Dropbox user number since it remains stable in connection to the Dropbox account. Whe

[2020-01-09 01:54] roseregina commented on #178
**dropbox**

cannot reproduce exact issue b/c it's not in-app login.

under good cloud server, pixel 3a, step 2c

I think that what Natalie wants for behaviour here with Dropbox, is that when you sign in with bad creds, for the existing login/ account token with that server to be deleted, so that you are logged out. Instead, I think that the token stays and continues to work.

[2020-01-09 13:14] n8fr8 commented on #187
Can you provide some more details here? What was looping exactly?

[2020-01-09 19:20] roseregina commented on #187
Sorry, this got got folded into #189 , ignore this issue

[2020-01-09 19:20] #187 closed, assigned to nobody

[2020-01-10 15:25] n8fr8 commented on #192
that field is not meant to be editable, so will disable that. otherwise, not sure how to get the actual human readable dropbox username for now.

[2020-01-10 15:31] n8fr8 commented on #192
some progress her, moving to other sprint, to see if we can get the actual username somehow eventually. for now, the user can no longer edit this field.

[2020-01-10 21:07] roseregina commented on #178
Save 0.2.2-beta-6
The Good Cloud server
Identical results with MotoG, GalaxyS7, and Pixel3a

expected results:
1. Enter incorrect login/ password, receive "login failed" error message within ~5 seconds
2. Enter incorrect login/ password, receive "login failed" error message within ~5 seconds
3. Enter correct login/ password, log in and proceed to server screen

actual results:
1. Enter incorrect l

[2020-01-10 21:56] roseregina commented on #192
Save 0.2.2-beta-6
identical results on motoG, GalaxyS7, and Pixel3a

Email address now displayed instead of 10 digit number

From Pixel3a as proof:
![image](https://user-images.githubusercontent.com/15040203/72189020-9f69e780-33b0-11ea-97e9-d1c44315f050.png)

Ready to close?

[2020-01-10 21:57] n8fr8 commented on #178
I did find one issue in our code that I am fixing.

However, this could also be related to being a security feature against "brute force" attacks. Nextcloud supports throttling and rate limiting to stop attacks on passwords:
https://nextcloud.com/blog/security-in-nextcloud-12-bruteforce-protection-and-rate-limiting-for-developers/

[2020-01-10 22:05] n8fr8 commented on #178
after testing for a bit at home again cloud.guardianproject.info, I received this message on the web login page:

"We have detected multiple invalid login attempts from your IP. Therefore your next login is throttled up to 30 seconds. "

[2020-01-10 22:08] n8fr8 commented on #178
I then added my ip to not be throttled on our server, and the app immediately returns failed from a bad password.

Summary, 1) throttling of bad passwords is a feature not a bug, and 2) there was one small issue in our webdav login code that I am fixing that could have caused login attempts to not be sent after the first try in some cases.

[2020-01-10 22:20] roseregina commented on #178
Are you saying that the error message from next cloud breaks it or just that it means that it's going to take longer after more than one failed login attempt?

I'm assuming that it's not worth playing around with until the webdav login code is fixed, but I'm curious to see how this plays out since it seems to me like the rate limiting shouldn't totally break multiple login attempts and I saw this

[2020-01-10 23:07] foundscapes commented on #178
Can we make it so after X attempts (more than 3) it locks, but allows people a few tries?

[2020-01-10 23:25] roseregina commented on #178
@foundscapes at least some of this is on the server side, so there might be things that can be done in app to help, but ultimately, whoever is running the server gets to decide.

This is, however, something that should probably go in the documentation for organizations that are going to set up their own next cloud for this, probably along with checking this against the iOS version.

[2020-01-10 23:28] n8fr8 commented on #178
@roseregina the immediate behavior you saw should be fixed now. that was the bug, that after one failed login, it would not work again.

also concurring that this is all server side. we don't have any control on the client about throttling.

Anyhow, for now, related to logins, this should be fixed as much as we can fix it.

[2020-01-10 23:31] foundscapes commented on #178
Yes, once we are finished with android, and I've gotten a good handle on how to set up goodcloud with community partners, I'll write it all up in a user guide!

[2020-01-10 23:52] roseregina commented on #178
Save 0.2.2-beta-7
The Good Cloud server
Identical results with MotoG, GalaxyS7, and Pixel3a

I tried again with two incorrect attempts, followed by the correct credentials, and all three times were speedy.

Also, the logging in message is so helpful, and with this version, it was fast enough that it was tricky to get a screen shot of 😍:
![image](https://user-images.githubusercontent.com/15040203/7

[2020-01-11 00:03] n8fr8 commented on #178
yes!

[2020-01-11 00:03] #178 closed, assigned to n8fr8

[2020-01-11 00:20] roseregina commented on #191
As of Save 0.2.2-beta-7 on MotoG, you can successfully save to multiple Dropbox accounts and save to each [both] of them, though getting logged in to them correctly is difficult (and a separate issue #194 )

[2020-01-11 00:20] #191 closed, assigned to n8fr8

[2020-01-11 00:27] roseregina opened #193 "Add info about rate limiting and login to org oriented documentation"
Anti brute forcing/ rate limiting measures from servers may cause issues with logging in after multiple incorrect attempts. This and similar server side settings should be at least referenced as a possible point of user difficulty in the documentation for orgs who are using _*Save*_ with their own server.

See #178 for example

[2020-01-11 00:56] roseregina opened #194 "Dropbox logging in to wrong Dropbox account"
Save 0.2.2-beta-7
motoG and Pixel3a (did not test with GalaxyS7)

expected result:
1. on "Connect your Space" screen click "Dropbox", be taken to Dropbox login screen in browser, put in credentials, accept sharing access with Save App, return to app, and see that I am logged in to first account
2. on "Connect your Space" screen click "Dropbox", be taken to Dropbox login screen in browser
3. enter

[2020-01-11 01:21] roseregina commented on #189
Save 0.2.2-beta-7
motoG (did not test on other phones yet, but will if helpful)

So close!

expected result:
1. logged in to dropbox account motoG, GalaxyS7, Pixel3a
2. click on Circle D/ Dropbox icon on left of screen
3. taken to server removal screen (with header "Log in")
a. click on "Remove from App" and the Dropbox server is removed from app
b. click on greyed out checkmark in upper right and

[2020-01-12 04:54] roseregina commented on #184
0.2.2-beta-7
GalaxyS7 (also tested on Pixel3a and MotoG, but did not post images)

The font for "Preview" and "Upload" are the same size and both are mixed case.

I can't tell if it's from staring at it for too long or because "Upload" goes below the line, but "Preview" doesn't, but I had to check with super imposing lines to see that they were actually the same size.
![image](https://user-images.

[2020-01-12 04:54] #184 closed, assigned to n8fr8

[2020-01-12 05:24] roseregina commented on #179
@n8fr8 In looking at this first screen in 0.2.2-beta-6 a few days ago with @foundscapes, is it possible to have a variable distance based on screen size/ percentages between the big "Share Archive Verify Encrypt" and the smaller "Secure Mobile Media Preservation" ?

[2020-01-12 05:47] roseregina commented on #188
Save 0.2.2-beta-7
Pixel3a (other phones do not have a new enough OS for dark theme)

Bar is now black in dark theme (and white in standard theme)

![image](https://user-images.githubusercontent.com/15040203/72214652-65393c80-34bb-11ea-9985-e12e940efcdf.png)
![image](https://user-images.githubusercontent.com/15040203/72214683-e42e7500-34bb-11ea-991a-d97459922c63.png)

[2020-01-12 05:47] #188 closed, assigned to n8fr8

[2020-01-12 06:05] roseregina commented on #173
0.2.2-beta-7
The Good Cloud

Fine on **MotoG** and **Pixel3a** (added a few photos, added more while they were uploading, all photos uploaded without problem).

On the **GalaxyS7**, I queued 3 images, then added another 4. The first 5 uploaded fine, but it's been hung on the last two for maybe a half hour. Interestingly, when I went to upload the screenshots via Dropbox in the app, those screensho

[2020-01-12 17:51] roseregina commented on #144
Save 0.2.2-beta-7
motoG, GalaxyS7, Pixel3a (compared again iOS)

As of this release, the (+) is still part of the main sideways scroll bar in android, but is fixed while the rest of the tabs (project folder names) scroll.

Android:
![image](https://user-images.githubusercontent.com/15040203/72223144-d101c080-3520-11ea-8d4b-c7422b9fee4f.png)

iOS:
![image](https://user-images.githubusercontent.com/

[2020-01-12 18:11] roseregina commented on #107
Save 0.2.2-beta-7
motoG, GalaxyS7, Pixel3a

Icons are teal. It looks nice and icons are easily visible (including when screenshot was converted to b&w to check if the green on grey might be tricky with colorblindness).
![image](https://user-images.githubusercontent.com/15040203/72223442-9d746580-3523-11ea-8ce0-03cd8a28c14f.png)

[2020-01-12 18:11] #107 closed, assigned to nobody

[2020-01-12 18:42] roseregina opened #195 "Naming schema for Dropbox upload subfolders is cumbersome"
Save 0.2.2-beta-7
Dropbox
MotoG

The date format is Day of Week-Month-Day-Time-Time zone- Year in the folder name:
![image](https://user-images.githubusercontent.com/15040203/72223632-da415c00-3525-11ea-835c-bccba7ddeec7.png)

I can sort by date modified through the Dropbox web interface:
![image](https://user-images.githubusercontent.com/15040203/72223655-15dc2600-3526-11ea-84f6-6e6588411898.png)

[2020-01-14 11:21] #192 closed, assigned to n8fr8

[2020-01-14 11:22] n8fr8 commented on #144
This is the best we can do on android

[2020-01-14 11:22] #144 closed, assigned to n8fr8

[2020-01-14 11:23] n8fr8 commented on #179
sure, but moving out of this sprint to the next one

[2020-01-17 18:25] n8fr8 opened #196 "GoodCloud debugging"
Add info here please!

[2020-01-17 18:26] n8fr8 opened #197 "2FA for NextCloud"

[2020-01-17 18:39] foundscapes commented on #196
2 issues:

1) So the first issue was that GoodCloud asked user to change the URL seen in the screenshot below to: https://oa.thegood.cloud/remote.php/dav which allowed user to login

![WrongURLPixel2](https://user-images.githubusercontent.com/2231711/72637056-456ba380-3915-11ea-8cf0-4d528744dc09.png)

2) second issue is that once logged in, they could not upload files - they just hung there
![File

[2020-01-17 18:54] foundscapes opened #198 "Option to add image for servers since one letter icons may be hard to identify w/ multiple backends"
![tooManyLetters](https://user-images.githubusercontent.com/2231711/72638152-ad22ee00-3917-11ea-9568-31007de0a091.png)

[2020-01-21 03:00] roseregina commented on #89
Save 0.2.2-beta-7

Galaxy S7
MotoG

Good Cloud server

@n8fr8 were you describing:
1. Open a project folder tab on Good Cloud server
2. Successfully add images, including verifying that the photo was visible in the project
3. Switch to Google Photos app
4. In Google Photo (Galaxy S7)/ Gallery (MotoG), delete a photo that you had previously added in step 2
5. Return to _**Save**_ app and check the

[2020-01-21 03:13] roseregina commented on #173
I triggered this kind of hang while looking for a way to pause the upload in #124 by swiping upward on the Uploads screen.

I could not "unpause" and resume through the UX interface, but it did appear to resume after I force quit the app through Settings > Apps.

[2020-01-21 04:24] roseregina opened #199 "Crashes to Android desktop when waiting"
Save 0.2.2-beta-7

Galaxy S7

Good Cloud server

When I let the galaxyS7 just sit while uploading is slow or crashed,

1. Select and upload a bunch of images
2. Set down phone with upload screen open
3. Wait for uploads to finish
4. **Expected Results** uploads finish and the app is still open
4. **Actual Results** uploads either do or don't finish and the Android desktop is open instead of the ap

[2020-01-23 22:06] foundscapes commented on #189
@n8fr8 is this fixable?

[2020-01-23 22:11] foundscapes opened #200 "Add "version" under Info on app settings/info page to show which version of Save is currently on phone"

[2020-01-23 22:23] foundscapes opened #201 "upper left + sign in circle is clickable, nothing happens - should go to add/create projects page"

[2020-01-23 22:25] roseregina commented on #172
phone: motoG
OS: Android 5.1
Save 0.2.2 Beta-7

Still the same as at Beta-2

[2020-01-23 22:27] foundscapes opened #202 "Improve video reorder drag and drop - Tried to reorder so video (in last place in queue) goes last, not first - but reordering won't work (for any items)"
Phone: Pixel 3a OS: Android 10 server: oademo (goodcloud)

[2020-01-23 22:36] foundscapes commented on #202
Phone: Pixel 3a OS: Android 10 server: oademo (goodcloud)

Expected result: reordering successful in edit screen, no crash

Actual Result:
1. paused uploads w/edit
2. tried to reorder - would not allow any items to reorder more than one space up or down
3. resumed uploads and app crashed and took us back to android home screen

Phone: MotoG server oademoa (GC)
Expected result: reordering successfu

[2020-01-23 22:36] foundscapes opened #203 "Uploads don't pause anymore in edit mode"
phones: Pixel 3a, samsung galaxy S7, motoG

server: oademo.thegood.cloud

all kept going

[2020-01-23 22:43] foundscapes commented on #124
see issue #203

[2020-01-23 22:43] #124 closed, assigned to nobody

[2020-01-23 22:47] foundscapes commented on #89
Tested on Pixel 3a, expected result of thumbnail remained after removing video

[2020-01-24 02:20] foundscapes commented on #171
Phone: Pixel 3a OS: Android 10 server: oademo (goodcloud)

Added 3 files, began uploading from bottom (order should be from top)
added 4 more files did not crash

[2020-01-27 06:08] n8fr8 commented on #201
Can I get more detail? screenshot or notes? I can't reproduce this.

[2020-01-27 06:13] n8fr8 commented on #189
removed the checkbox/done from the dropbox form, so yes, fixed!

[2020-01-27 06:13] #189 closed, assigned to n8fr8

[2020-01-27 06:20] n8fr8 commented on #202
released to #203 in that the upload service pausing/editing wasn't working. next build, pressing "edit" will indeed stop all current uploads, allowing for reordering, and pressing "done" will restart uploading.

[2020-01-27 06:20] n8fr8 commented on #203
there was a bug in stop/starting the upload service. next build has fix.

[2020-01-27 16:06] foundscapes commented on #203
awesome, we'll test asap!

[2020-01-27 16:07] foundscapes commented on #202
Awesome, we'll test all features!

[2020-01-27 16:09] foundscapes commented on #201
It's hard to show this as it's a tapping/clicking action.

Basically it indicates I'm clicking it when I touch the + in circle in upper left, but it doesn't take me to the add/choose project screen, nothing happens. Will test on new build!

[2020-01-29 19:32] roseregina commented on #199
Save 0.2.2-RC-1

MotoG

Good Cloud server and DropBox

Crashes to desktop whenever I hit the edit button for the Uploads queue on the MotoG (but not the GalaxyS7).

[2020-01-29 19:42] roseregina commented on #203
Save 0.2.2-RC-1

Dropbox server (rr's personal account) and Good Cloud server

GalaxyS7:
Pause works as expected

MotoG:
1. Upload multiple files
2. Click on circled number to go to Uploads view
3. Click "Edit" in upper right corner
4. **Expected result** upload pauses
  **Actual result** some of the time (maybe half), it behaves as expected, but the other half of the time, the app crashes to the

[2020-01-29 19:53] #89 closed, assigned to nobody

[2020-01-29 20:00] roseregina commented on #169
Checked in 2.2-RC-1 on MotoG and SamsungS7, and both matched iOS.

[2020-01-29 20:00] #169 closed, assigned to roseregina

[2020-01-29 20:04] roseregina opened #204 "Pausing upload crashes app half the time"
Save 0.2.2-RC-1

Dropbox server (rr's personal account) and Good Cloud server

GalaxyS7
MotoG

1. Upload multiple files
2. Click on circled number to go to Uploads view
3. Click "Edit" in upper right corner
4. **Expected result** upload pauses
**Actual result** some of the time (maybe half), it behaves as expected, but the other half of the time, the app crashes to the main android screen.

[2020-01-29 20:11] roseregina commented on #171
0.2.2-RC-1

MotoG and GalaxyS7

The app crashes too much of the time when clicking edit to be able to check about successfully changing upload order.

With both phones, I can only move items up or down one place at a time. I can more a given item more places, but I have to move it slot by slot to do so.

[2020-01-29 20:18] roseregina commented on #202
0.2.2-RC-1

MotoG and GalaxyS7

@n8fr8 Pausing is now works when it doesn't crash the app, but it is still only allowing me to move one space up or down at a time.

[2020-01-29 20:55] roseregina commented on #176
0.2.2-RC-1

Good Cloud

MotoG and GalaxyS7

The interface is present and I can select different options, but I cannot turn off CC licensing

1. Click on project folder under _Project Settings_ on Server main view
2. Toggle on Creative Commons
3. Return to Server main view
4. Upload a photo
5. Check CC licensing on server
6. Metadata json file indicates correct CC licensing
7. Return to same view a

[2020-01-29 21:03] n8fr8 commented on #203
didn't test pause as much with Dropbox, so will see if there is an issue there.

[2020-01-29 21:04] n8fr8 commented on #176
good catch!

[2020-01-29 21:05] roseregina commented on #201
0.2.2-RC-1

MotoG and GalaxyS7

When I click on the circle plus symbol on a project view, I am taken to the "Add a Project" screen.

@foundscapes can you test it again on the Pixel3A since that is where we initially had the issue?

[2020-02-24 17:10] n8fr8 opened #205 "Ensure > 150MB files are supported by Dropbox upload"
https://www.dropboxforum.com/t5/Discuss-Developer-API/Develop-Android-app-to-upload-large-file-to-Dropbox-Failed-all/td-p/374719

https://github.com/OpenArchive/Save-app-ios/issues/176

[2020-02-24 17:13] n8fr8 commented on #205
and sample here:
https://github.com/dropbox/dropbox-sdk-java/blob/aa70590b492bc79a47c6eaf5bc667206ab51bfdd/examples/upload-file/src/main/java/com/dropbox/core/examples/upload_file/Main.java#L70

[2020-02-24 17:47] foundscapes opened #206 "update welcome screen image on google play"
https://play.google.com/store/apps/details?id=net.opendasharchive.openarchive.release&hl=en_US

[2020-02-24 17:49] foundscapes opened #207 "Add "Share Archive Verify Encrypt" on Google Play"
So it reads:

Save (Share Archive Verify Encrypt) by OpenArchive enables you to safely preserve, organize, and share your mobile media.

Designed with and for newsrooms, human rights defenders, and archivists, Save keeps you in control of your mobile media at all times.

[2020-03-06 17:11] n8fr8 commented on #72
Nextcloud now supports QR codes for logging in, as part of the "app password" feature with 2FA.

1.     /settings/user/security
2.     Devices & sessions
3.     in the input box left of “Create new app password” put “mobile” or something related
4.     Create new app password
5.     Show QR code for mobile apps

We should add "scan QR code" as an option when adding a new space.

[2020-03-06 17:17] n8fr8 commented on #72
nc://login/ is the base format.

[2020-03-19 20:00] roseregina commented on #92
I think I can help with/ do this since it is also something I need to speed up/ write better issues already

[2020-03-23 20:49] foundscapes commented on #201
Phone: Pixel 3a
OS: Android 10

This is still not working using the most updated version on play today. Nothing happens when I click the + in circle in upper left.

![Screenshot_20200323-134813](https://user-images.githubusercontent.com/2231711/77362406-19eaa800-6d0e-11ea-9c2a-f5510bdf5b5d.png)

[2020-03-25 20:19] foundscapes opened #208 "Make sure PGP public key is shared via proofmode"

[2020-03-26 17:35] roseregina commented on #201
I've reproduced this now on the MotoG:

Expected results:
1. Log in to server
2. Click circle plus in upper left
3. Goes to "Add a Project" screen
4. Add project

Actual results:
1. Log in to server
2. Click circle plus in upper left
**3. Nothing happens**
4. Click on "Add a Project" text in center of screen
5. Goes to "Add a Project" screen
6. Add project
7. Return to server view
8. Click on circ

[2020-03-26 19:29] foundscapes commented on #201
Thank you @roseregina!

Can we just make it always clickable to add project @n8fr8 since that is what the expected interaction is?

[2020-04-06 21:23] n8fr8 commented on #171
I can't reproduce the crashing anymore. Please test again on the next build. Also implementing better crash reporting so you can more easily share logs.

[2020-04-06 21:51] n8fr8 commented on #199
Found a crash in the Dropbox SDK:

04-06 17:47:49.157 19490-19530/net.opendasharchive.openarchive.release E/ACRA: ACRA caught a NullPointerException for net.opendasharchive.openarchive.release
    java.lang.NullPointerException: src == null
        at java.lang.System.arraycopy(System.java:275)
        at java.io.PipedInputStream.read(PipedInputStream.java:344)
        at okio.Okio$2.read(Okio.jav

[2020-04-07 04:12] n8fr8 commented on #190
Fixed ability to change name of WebDAV server.

Having ability to edit "Dropbox" to something more descriptive is a feature, not a bug, and won't fix right now.

[2020-04-07 04:56] n8fr8 commented on #183
this issue with creating duplicate folders should be fixed now moving forward.

Before if you had a folder with spaces in it "My Test Folder", that you selected by browsing, and then you uploaded a new media file to it, it would be created again as "My+Test+Folder" on the server. We no longer do that.

Also, we now display the folder names properly, so you should see "motoG testing" and "motoG+tes

[2020-04-07 05:32] n8fr8 commented on #183
Solved another part of this issue. Your account is named "oademo" and there is also a folder named "oademo" inside that account. The first "oademo" displayed is the root folder of the users home path on the server. The second is a folder inside of that so "oademo/oademo".

The bug is that we shouldn't display the user's root folder in the list of project folders. In the next build, this will be fi

[2020-04-13 20:33] foundscapes opened #209 "Orobot prompt after Save install"
we need a popup saying: "in order to use Save over the Tor network, you will need to install orbot here" or something similar that links to orbot download

[2020-04-13 20:35] foundscapes commented on #209
Add prompt after welcome screens?

[2020-04-15 02:44] roseregina commented on #150
I think this is as good as we're getting in terms of a compromise between visibility/ font size and aesthetics as we are getting. Circle is not longer cut off and I can read the letter, so I am inclined to think this is resolved:
![image](https://user-images.githubusercontent.com/15040203/79293334-1673b800-7e99-11ea-8136-d3f747be49f9.png)

And here it is on the GalaxyS7, showing that it still look

[2020-04-20 16:53] foundscapes commented on #206
Will add screenshot asap

[2020-04-25 19:34] foundscapes commented on #194
@roseregina can you reproduce this with the current build?

[2020-04-25 19:38] foundscapes commented on #195
@roseregina interesting

1. yes it's the format we decided on for all uploads
2. given that the app itself is localized into at least 4+ languages, we'll need to test in other languages to check
3. The format was decided after researching with human rights NGOs who felt date format was easiest to navigate
4. If you upload to nextcloud servers, folders are also named by date/time

[2020-04-25 19:38] foundscapes commented on #197
@n8fr8 how is this going?

[2020-04-25 19:39] foundscapes commented on #205
@n8fr8 @tladesignz have we fixed this?

[2020-04-25 19:55] roseregina commented on #195
re:1
It's different from the iOS app, using _YYYY_-_MM_-_DD_*T*_HH_:_MM_:_SS_*GMT*_HH_:_MM_:
![image](https://user-images.githubusercontent.com/15040203/80289505-67d73f00-8704-11ea-9d80-1db33686fc71.png)
My question was less about using the date and time as a naming schema, but rather about what date format was desired given that the month and day of the week abbreviations aren't friendly for sort

[2020-04-25 20:09] foundscapes commented on #179
Version: Save for Android 0.2.3-BETA-1
OS: Android 10
Phone: Pixel3a
![Screenshot_20200425-130257](https://user-images.githubusercontent.com/2231711/80289791-f1cbdb80-86f5-11ea-99c7-3784b7139263.png)
Looks good.

@roseregina can you test on the smaller screens to make sure spacing is relative?

[2020-04-25 20:14] foundscapes commented on #183
version: 0.2.3-BETA-1
OS: android 10
phone: pixel 3a

@n8fr8 there are still two oademo folders in existing projects (can't post a screenshot as there are too many folders now between them to show them in one shot, but they're both there).

[2020-04-25 20:16] foundscapes commented on #176
@roseregina can you re-test this w/ 0.2.3-BETA-1?

[2020-04-25 20:17] foundscapes commented on #202
@roseregina can you test this with 0.2.3-BETA-1?

[2020-04-25 20:18] foundscapes commented on #171
@roseregina please test with 0.2.3-BETA-1

[2020-04-25 20:20] foundscapes commented on #181
@roseregina is this still happening in 0.2.3-BETA-1?

[2020-04-25 20:20] foundscapes commented on #199
@roseregina please test with 0.2.3-BETA-1

[2020-04-25 20:20] foundscapes commented on #173
please test with 0.2.3-BETA-1

[2020-04-25 20:23] foundscapes commented on #203
Save version: 0.2.3-BETA-1
phone: Pixel 3a
OS: android 10
server: oademo.thegood.cloud

3 images paused as expected when hitting "edit" all uploaded as expected.

@roseregina please test this with 0.2.3-BETA-1 on dropbox and IA

[2020-04-25 20:23] foundscapes commented on #204
@roseregina please test with 0.2.3-BETA-1

[2020-04-25 20:24] foundscapes commented on #201
Save version: 0.2.3-BETA-1
phone: pixel 3a
OS: android 10

This is working now on pixel 3a, please test on other phones @roseregina w/ 0.2.3-BETA-1 version

[2020-04-25 20:29] foundscapes commented on #195
Ah gotcha. Very good catch.
We should format the date/time stamps the same was ios has, is that possible @n8fr8

Along with localization issues, the format for android on GoodCloud has the same problem as we can't sort uploads by date b/c "name" is the only option for that column. One would have to sort by "modified" to get a chronological order.
<img width="537" alt="Screen Shot 2020-04-25 at 1 2

[2020-04-27 01:12] roseregina commented on #194
Save 0.2.3-beta-1
GalaxyS7

actual results (workaround to sign in to a second Dropbox account):
1. on "Connect your Space" screen click "Dropbox", be taken to Dropbox "permission to access it's own folder" screen
2. Click "Sign out" in upper right of Dropbox screen
3. Enter in second account credentials
4. Click accept on  Dropbox "permission to access it's own folder" screen (where it lists the s

[2020-04-27 01:17] roseregina commented on #179
@foundscape Here is the screenshot for the motoG:
![image](https://user-images.githubusercontent.com/15040203/80325479-edd5b180-87fa-11ea-9b6a-aa72e921f555.png)

[2020-04-27 01:22] roseregina commented on #181
0.2.3-BETA-1
GalaxyS7

I can no longer change project names. Name is greyed out and nothing happens when I click on the name on the project settings screen for that project.

[2020-04-27 01:22] #181 closed, assigned to n8fr8

[2020-04-27 01:31] roseregina commented on #201
Save version: 0.2.3-BETA-1
phone: GalaxyS7
OS: android 8.0.0 w/ Samsung experience 9.0

Circle-plus is clickable as described above

[2020-04-27 02:03] foundscapes commented on #201
awesome!

[2020-04-27 02:03] #201 closed, assigned to n8fr8, foundscapes

[2020-04-27 02:05] roseregina commented on #199
0.2.3-BETA-1
GalaxyS7
Guardian Project server

I think this happened at least once again, but I want to reproduce it at least once more before I say for certain that it is the same behaviour.

[2020-04-27 02:23] roseregina commented on #203
Save version: 0.2.3-BETA-1
phone: GalaxyS7
OS: android 8.0.0 w/ Samsung Experience 9.0
server: Dropbox

I think the "edit" is working to pause for this combo. I want to test with other phone and server combos, as well as rechecking this because I had some unexpected, but I believe unrelated, behaviours that made it trickier to tell what exactly what happening.

[2020-04-27 02:41] roseregina commented on #204
0.2.3-BETA-1
GalaxyS7
Dropbox and good cloud

This preliminarily looks resolved, but I want to check on the motoG if possible.

[2020-04-27 02:57] roseregina commented on #202
0.2.3-BETA-1
GalaxyS7
Dropbox and good cloud

Drag and drop works as expected.

Upload order was a little strange, but only after wifi connection was interrupted mid upload (once reconnected, upload went as follows: second to last, last, first, second....) and unclear if bug, but suspect is feature or feature adjacent.

[2020-04-27 19:29] roseregina opened #210 "Dots at Bottom on Onboarding Screen Should Be Left Justified?"
Based on this issue from the iOS app: https://github.com/OpenArchive/Save-app-ios/issues/179

Alternatively, is left justified on iOS and centered on Android just following design expectations for the respective OS's?

[2020-04-27 20:21] #179 closed, assigned to n8fr8

[2020-04-27 20:22] foundscapes commented on #210
I think it's ok as it is!

[2020-04-27 20:22] #210 closed, assigned to n8fr8, foundscapes

[2020-05-06 03:34] n8fr8 commented on #205
yes, this is implemented on Dropbox for Android at least. Not sure where we stand with Dropbox for iOS large file support.

[2020-05-06 11:48] n8fr8 commented on #195
I will make sure we are using the same format on Android as on iOS. The intention was to do that, based on the spec.

Otherwise, sortability in a web UI , be it NextCloud or Dropbox, was never a requirement or feedback we received from users. The format is not controlled by the device time zone setting.

[2020-05-06 11:49] n8fr8 commented on #195
(That said, it might be desirable)

[2020-05-06 12:45] n8fr8 commented on #208
this is done and will be in next build

[2020-05-06 12:46] n8fr8 commented on #209
Why not build it into the onboarding as the final step? Why would we have such a beautiful startup process only to interrupt it with an annoying, ugly popup dialog?

[2020-05-06 16:36] foundscapes commented on #209
Sounds good to me if we can add it to an existing screen, I think we have enough and would rather not add one more. We hadn't designed any imagery for that w/ OkThanks, so didn't know that was an option. Go for it!

[2020-05-06 17:18] n8fr8 commented on #209
It doesn't fit in any existing screen.

I will just make it a pop-up.

[2020-05-06 20:19] foundscapes commented on #209
What would be ideal is if onboarding screens can map to our Share, Archive, Verify, Encrypt features possibly using the new graphics we will soon have on the website. Then Orbot could link from the last Encrypt onboarding screen.

[2020-05-06 20:22] foundscapes commented on #209
For now, I think a popup is best since this won't happen until after we finish the web design work w/ OTF's learning lab.

[2020-05-07 02:25] n8fr8 commented on #72
Now if you scan the QR code provided by NextCloud, it will automatically setup the account, filling in username, password and server.

This is also the current solution to use generated "app passwords" for when 2FA is enabled.

[2020-05-07 02:25] n8fr8 commented on #197
This is heavily related to #72

[2020-05-07 02:32] foundscapes commented on #72
Awesome @n8fr8!

@roseregina and I will test asap

Let's add "scan QR code" as an option when adding a new space (nextcloud and goodcloud only, right?)

[2020-05-07 02:34] foundscapes commented on #197
@n8fr8 #72 was about the IA - shall I change the title and close this issue?

[2020-05-07 13:42] n8fr8 commented on #209
There were issues with doing a pop-up. I have added it the onboarding, so test with a fresh install. It looks good.

In short, if you don't have Orbot, it prompts you to install it, if you do have Orbot, it prompts you to enable SAVE to use it.

[2020-05-07 18:52] foundscapes commented on #209
Awesome, thank you! Looks fantastic!!

[2020-05-07 18:57] foundscapes commented on #209
@roseregina make sure to test orbot on different networks (ex: ensure it auto-resumes when you go from cell to wifi)

[2020-05-08 01:44] n8fr8 commented on #209
there is a new release candidate for Orbot btw, that should be used for testing here:
https://github.com/guardianproject/orbot/releases/tag/16.2.0-RC-1-tor-0.4.2.7

it will be rolling out on Play and F-Droid soon, but isn't there yet.

[2020-05-08 19:05] roseregina opened #211 "Dropbox login not working"
0.2.3-beta-2
MotoG
GalaxyS7

Expected Behaviour:
1. Select Dropbox (BETA) from "Connect Your Space" page
2. Log in to Dropbox account (through browser)
3. Select "Allow" on the Dropbox permissions page
4. Briefly, the "Log in" page within _**Save**_ is visible (barely noticeable most of the time, but I've fairly consistently seen it once I started looking)
5. Be taken to "Add a Project" page for t

[2020-05-08 22:20] roseregina opened #212 "Connecting to Guardian Project Nextcloud server not working"
0.2.3-beta-2
MotoG
GalaxyS7

1. Select "Private Server" on the "Connect Your Space" screen
2. Enter credentials and click check mark to log in
3. Be taken back to Server info page
4. Click arrow in upper left
5. Click "Add a Project"

**Existing Project**.
Expected Behaviour:
6. Click "Browse Existing Projects"
7. A list of all of the existing projects appears
8. Click on desired project
9. Be tak

[2020-05-09 13:45] n8fr8 commented on #211
Regarding Orbot, did you test Dropbox without Orbot/Tor enabled as well?

[2020-05-09 13:46] n8fr8 commented on #211
I just tested Dropbox here on Pixel 3A over Wifi, without Tor enabled in Save, and I can connect, login, browser folders, upload, etc.

[2020-05-09 13:47] n8fr8 commented on #211
regarding "If I had not first set up a different server already, it takes me back to the start of the onboarding screens."

If you have no spaces setup, it will take you back to onboarding. That is the current flow if there are no spaces configured. Happy to have other guidance from @foundscapes for another alternative.

[2020-05-09 13:51] n8fr8 commented on #212
Please don't include @tladesignz on Android related issues.

Again, was this with Orbot enabled? Perhaps these are all related to Tor-network latency, and we need to show a new kind of user interface related to network lag/timeout/delays.

Apologies for the "horrible experience" you are having, and thanks for all the detail.

[2020-05-09 14:50] n8fr8 commented on #211
Side note - why did you force stop Orbot? Was it frozen?

[2020-05-11 13:56] n8fr8 commented on #212
Just noting here that this is connected to #211 with essentially both issues being related to connecting to Tor/Orbot.

I can confirm that when the connection to Tor via Orbot is up and running, that routing Save uploads over Tor does work. What @roseregina experienced must have either been that Tor was not fully connected itself, or that connecting to Dropbox and NextCloud over Tor was not workin

[2020-05-11 17:41] foundscapes commented on #212
@n8fr8 - I added @tladesignz to a few issues since his ios work was winding down and I needed those two things to be finished by now. I'm glad you are able to do it, but we were stuck. I think we have what we need now for Learning Lab so he doesn't have to jump in.

[2020-05-11 20:06] roseregina commented on #212
I'm fairly sure that I had already force quit orbot before I started this testing because I wanted to make sure the basic functions were working before testing the orbot part.

This time, I tried to test the behaviour in a variety of configurations, but reached a crash loop where I had to uninstall and reinstall to exit the loop since neither force quitting through Settings > Apps nor restarting t

[2020-05-11 20:25] roseregina commented on #211
I forced stopped Orbot as part of trying to narrow down what was happening and because I am testing the basic functionalities without Orbot first and then making sure that they work with Orbot

[2020-05-11 20:48] foundscapes opened #213 "New build constantly crashing"
Save 0.2.3.BETA-2
Phone: Pixel3a
OS: Android 10
Sever: oa.thegood.cloud

First Try:
Steps:
1. Download apk
2. Open Save
3. Enable Orbot
4. connect to GoodCloud oa.thegood.cloud
5. click add project
6. Browse Existing
7. Crashed - report emailed to you

Second Try:
Steps:
1. Download apk
2. Open Save
3. connect to GoodCloud oa.thegood.cloud
4. click add project
5. Browse Existing
6. 10 second blank

[2020-05-11 20:53] foundscapes commented on #213
Save 0.2.3.BETA-2
Phone: Pixel3a
OS: Android 10
Sever: DropBox

First Try:
Steps:

1. Open Save
2. Enable Orbot
3. connect / login to DropBox
4. Create new project
5. Crashed - report emailed to @n8fr8
6. opened dropbox login screen, was connected
7. Chose dropbox account
8. Nothing happens when I click - does not go back to Save
9. Went back to Save, was still logged into DropBox
10. successfully

[2020-05-11 21:02] n8fr8 commented on #213
Will review the crash report.

[2020-05-11 21:02] foundscapes opened #214 "Option under App Settings/Networking to turn on onion routing when I've deleted Orbot"
Save 0.2.3.BETA-2
Phone: Pixel3a
OS: Android 10

A fix would be - after uninstalling orbot - Save has prompt to reinstall orbot for any projects with the selected option to turn on onion routing in app settings/networking

AND if orbot isn't on phone, do not give option to turn on onion routing in app settings/networking

[2020-05-11 21:04] n8fr8 opened #215 "NPE on WebDav"
Caused by: java.lang.NullPointerException: Attempt to invoke interface method 'java.util.List com.thegrizzlylabs.sardineandroid.Sardine.list(java.lang.String)' on a null object reference
	at net.opendasharchive.openarchive.services.webdav.WebDAVSiteController.getFolders(WebDAVSiteController.java:523)
	at net.opendasharchive.openarchive.projects.BrowseProjectsActivity.getFolders(BrowseProjectsActiv

[2020-05-11 21:04] n8fr8 opened #216 "NPE on setLicense"
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void net.opendasharchive.openarchive.db.Project.setLicenseUrl(java.lang.String)' on a null object reference
	at net.opendasharchive.openarchive.projects.EditProjectActivity.updateLicense(EditProjectActivity.java:198)
	at net.opendasharchive.openarchive.projects.EditProjectActivity.onPause(EditProjectActivity.java:64)
	at

[2020-05-11 21:06] foundscapes commented on #213
Save 0.2.3.BETA-2
Phone: Pixel3a
OS: Android 10
Sever: DropBox
Orbot Disabled
Proofmode Enabled

1.  Delete Orbot
2. Open Save
3. connect / login to DropBox
4. Enable Proofmode
5. Browse existing/ chose folder
6. selected 3 images
7. successfully uploaded
8. @n8fr8 - checked and files are in dropbox folder but I don't see a pgp key in the json file - added to issue #208

[2020-05-11 21:12] n8fr8 commented on #213
Created tickets #215 and #216 from crash reports

[2020-05-11 21:15] foundscapes opened #217 "Crash"
Save 0.2.3.BETA-2
Phone: Pixel3a
OS: Android 10
Sever: oa.thegood.cloud
Orbot Enabled
Proofmode Disabled

First Try:
Steps:
1. Download apk
2. Open Save
3. Enable Orbot
4. connect to GoodCloud oa.thegood.cloud
5. click add project
6. Browse Existing
7. Crashed - report emailed to you

Second Try:
Steps:
1. Download apk
2. Open Save
3. connect to GoodCloud oa.thegood.cloud
4. click add project
5. B

[2020-05-11 21:19] foundscapes commented on #208
@n8fr8

Save 0.2.3.BETA-2
Phone: Pixel3a
OS: Android 10
Sever: DropBox
Orbot Disabled
Proofmode Enabled

1.  Delete Orbot
2. Open Save
3. connect / login to DropBox
4. Enable Proofmode
5. Browse existing/ chose folder
6. selected 3 images
7. successfully uploaded
8. @n8fr8 - checked and files are in dropbox folder but I don't see a pgp key in the json file (copied here:)
{"collectionId":5,"content

[2020-05-11 21:20] n8fr8 commented on #216
net.opendasharchive.openarchive.db.Project.getLicenseUrl()' on a null object reference
	at net.opendasharchive.openarchive.publish.PublishService.doPublish(PublishService.java:161)
	at net.opendasharchive.openarchive.publish.PublishService.run(PublishService.java:124)
	at java.lang.Thread.run(Thread.java:764)

[2020-05-11 21:23] n8fr8 commented on #216
It seems like this was caused by media still trying to upload after a project was deleted.

[2020-05-11 21:27] n8fr8 commented on #213
From the crash reports from you and @roseregina it seems the vast majority of the reports were showing the same issue - that a media item from a project folder that was "Removed from App" was still trying to upload in the background and getting confused.

[2020-05-11 21:34] foundscapes commented on #213
So the projects weren't actually being removed? Is that a fix you can make?

[2020-05-11 21:34] n8fr8 commented on #208
Sorry, what I meant was done is the option to share your PGP key from the OpenArchive app. That part is right. You are correct that we are not yet uploading the PGP key along side the proof metadata files. That still needs to be done.

[2020-05-11 21:36] foundscapes commented on #208
OK - Does the app generate the key or do people have to login with it somehow?

[2020-05-11 21:45] n8fr8 commented on #208
The app generates it, and uses to sign the data... see the ".asc" files that get uploaded with the proof. Those are the PGP signatures.

Then under the "Metadata" setting in Save, you can now see the "ProofMode Identity - Share ProofMode Public Key". That is where you are meant to tap to manually share the PGP key the app has generated with you, via email, Signal, etc.

I will add it to the files

[2020-05-11 21:52] foundscapes commented on #208
That's what I thought, but wanted to make sure, thank you.

Ok great, let us know when to test!

[2020-05-11 21:58] n8fr8 commented on #214
This is more a feature than a bug, but will do what we can.

[2020-05-11 22:05] foundscapes commented on #206
![Screenshot_20200511-133829](https://user-images.githubusercontent.com/2231711/81616682-cb19d000-9398-11ea-8484-21311fe94b05.png)
if someone can format/add this soon, that'd be great

[2020-05-12 02:00] n8fr8 commented on #206
Will do it this last time, but going forward you do have full access to Google Play, and since this doesn't require coding or other special engineering skills, would be something to take on yourself.

[2020-05-12 02:06] n8fr8 commented on #207
- please don't assign Android things to tladesignz
- again, moving forward, you have full access to manage Google Play listings, so please handle further changes there yourself

[2020-05-12 02:07] n8fr8 commented on #207
done

[2020-05-12 02:07] #207 closed, assigned to n8fr8

[2020-05-12 02:07] n8fr8 commented on #206
done

[2020-05-12 02:07] #206 closed, assigned to n8fr8

[2020-05-12 02:08] #203 closed, assigned to n8fr8, roseregina

[2020-05-12 02:08] #204 closed, assigned to n8fr8

[2020-05-12 02:08] #173 closed, assigned to n8fr8

[2020-05-12 02:09] #150 closed, assigned to n8fr8, foundscapes

[2020-05-12 11:56] tladesignz commented on #207
@foundscapes I don't have access to the Google Play Console, anyway...

[2020-05-12 11:58] tladesignz commented on #211
Since @n8fr8 is now working on this, I guess it doesn't make a lot of sense to try to interfere here. So I'll remove myself again.

[2020-05-13 03:33] roseregina opened #218 "Upload behaviour does not match information in Networking settings"
0.2.3-BETA-3
GalaxyS7

Upload behaviour does not match the option description:
![image](https://user-images.githubusercontent.com/15040203/81767902-2afa9e80-949f-11ea-8bc0-90fa6eec2a2d.png)

1. Install and start  _**Save**_ for the first time
2. Select "enable" at the Orbot stage of onboarding
3. Add dropbox account and existing project
4. Select multiple images to upload
(at this point, I went to

[2020-05-13 03:53] roseregina opened #219 "Unexpected permissions discrepancy between testing phones"
This is not an issue per se, but is here as part of the testing documentation. I do not believe this to be caused by _**Save**_.

0.2.3-BETA-3
MotoG
GalaxyS7

The requested permissions are different on the two devices, with the MotoG displaying what I would expect and the GalaxyS7 claiming that no special permissions are needed.

MotoG:
![image](https://user-images.githubusercontent.com/15040203/8

[2020-05-14 19:43] foundscapes opened #221 "Create ability for auto-tagging within organizations or more broadly?"
I'd be interested in scoping this functionality as it's come up in many conversations with community groups. Is it possible?

[2020-05-14 21:12] roseregina commented on #202
0.2.3-BETA-3
GalaxyS7
Dropbox

If I do not interfere, files upload bottom to top, but as soon as I interact with the edit button (even without reordering), upload order changes to top down.

Observed behaviours (top of queue ---> bottom of queue):

This is only true with adding files to upload all at one time in order A, B, C, D, E (numbered in upload view 1-5)
![image](https://user-images.githubu

[2020-05-14 21:31] foundscapes commented on #213
Save 0.2.3.BETA-3
Phone: Pixel3a
OS: Android 10
Sever: oa.thegood.cloud

1. download orbot
2. open save
3. enable orbot
4. enable proofmode
5. enable upload only on wifi
6. connect to oa.thegood.cloud server
7. choose existing project (pixel3aNC)
8. upload three photos successfully
9. delete project folder
10. open another existing project - "photos"
11. upload three photos successfully -

@n8fr8

[2020-05-14 21:32] foundscapes commented on #213
@roseregina can you test w/ DropBox and IA with same conditions (proofmode/orbot enables, creative commons off)

[2020-05-14 21:49] #209 closed, assigned to n8fr8

[2020-05-14 21:54] foundscapes commented on #183
version: 0.2.3-BETA-3
OS: android 10
phone: pixel 3a

ISSUE RESOLVED!

[2020-05-14 21:54] #183 closed, assigned to n8fr8

[2020-05-14 22:09] roseregina commented on #208
0.2.3.BETA-3
GalaxyS7
Dropbox

When upload one image with proof mode turned on, I get the following files:
- 20200514_144131.jpg
- 20200514_144131.jpg.meta.json
- 20200514_144131.jpg.meta.json.asc
- 20200514_144131.jpg.meta.json.proof.csv
- 20200514_144131.jpg.meta.json.proof.csv.asc

Further, while  _**Save**_ was listed as an option to share the key from the Metadata settings, I was not able to

[2020-05-14 22:10] roseregina commented on #208
0.2.3.BETA-3
Pixel3a
OA Good Cloud

This is probably a separate issue, but fairly minor and found while checking on the key:

Here is the signature for a file @foundscapes uploaded:
`-----BEGIN PGP SIGNATURE-----
Version: BCPG v@RELEASE_NAME@

iQIcBAADCAAGBQJevbcOAAoJEHjIXy2IJLZEhZ8P/05LRZU23zCiK6jjngVdE5Ow
FATbh1O/qeTyhgRwXscWaTEUy9p6pTabHVxGOW+/hw5DAZ7FLGDwevgveMF/jj6g
ZMKuKiQ6xJbzuY4leUOqVNnxmV

[2020-05-15 21:43] #215 closed, assigned to nobody

[2020-05-15 21:46] n8fr8 commented on #212
@roseregina just to be clear, you are saying there is still a "unusably high level of crashing" with the latest build BETA-3 released 4 days ago?

https://github.com/OpenArchive/Save-app-android/releases/tag/0.2.3-BETA-3

This BETA-3 build specifically addresses all the crash reports you submitted, so I would be hopeful that wasn't the case.

[2020-05-15 21:48] #216 closed, assigned to nobody

[2020-05-15 21:52] foundscapes commented on #212
@n8fr8 no, she was testing BETA-2 for this one. We should be listing each version at the top of our reports from now on so there's no confusion. @roseregina

[2020-05-18 22:19] foundscapes commented on #202
0.2.3-BETA-3
Pixel 3a
Dropbox

I've reproduced what @roseregina did and had exact same results. The drag/drop reorder is working but the queue begins uploading from bottom.

[2020-05-18 22:21] foundscapes commented on #211
I think this is the right UI for now

[2020-05-18 22:24] foundscapes commented on #211
I have also had login issues with dropbox with the infinite loop. However, it's likely due to me having two dropbox accounts and I had no trouble logging in today.

However, I was able to add my dropbox accounts twice, which seems like a bug. Shall I make a separate issue @n8fr8?
<img width="339" alt="Screen Shot 2020-05-18 at 3 25 50 PM" src="https://user-images.githubusercontent.com/2231711/8226

[2020-05-18 22:29] foundscapes commented on #217
not happening w/ Beta-3

[2020-05-18 22:29] #217 closed, assigned to n8fr8

[2020-05-18 22:31] foundscapes commented on #212
@roseregina please re-test w/ Beta-3, thank you

[2020-05-18 22:32] #205 closed, assigned to nobody

[2020-05-20 19:27] foundscapes commented on #211
@n8fr8 I noticed on the ios version that once you've logged into dropbox, it's no longer an option to add another dropbox server. this could work as a fix for multiple logins to same dropbox account.

[2020-05-24 22:03] roseregina commented on #139
0.2.3-Beta-3
Galaxys7
Good Cloud (oademo)

I was able to share from memo and upload successfully. I shared from files and uploaded an mp3 successfully as well.

0.2.3-Beta-3
MotoG
Good Cloud (oademo)

I was able to upload mp3s that I had downloaded three times, using the share approach. I was not able to upload via _My Sounds_ app because it only allows the option of sending a link, not sharing th

[2020-05-24 22:08] foundscapes commented on #139
0.2.3-Beta-3
Phone: Pixel 3a
OS: Android 10
Server: GoodCloud (oademo)

I was able to upload an audio file from Keep with no crashing

[2020-05-24 22:08] #139 closed, assigned to roseregina

[2020-05-24 22:11] foundscapes commented on #208
This is working now, but leaving open so @n8fr8 can check on the placeholder info

[2020-05-24 22:13] foundscapes commented on #194
@roseregina please test with beta-3

[2020-05-24 22:14] #190 closed, assigned to n8fr8

[2020-05-24 22:15] #152 closed, assigned to n8fr8

[2020-05-24 22:16] foundscapes commented on #88
It'd be great to reintroduce nearby, so leaving open

[2020-05-24 22:37] roseregina commented on #195
0.2.3-BETA-3
GalaxyS7
Good Cloud (oademo)

![image](https://user-images.githubusercontent.com/15040203/82766476-0ed2f780-9de5-11ea-9443-d0ac350a627f.png)

[2020-05-24 22:37] #195 closed, assigned to foundscapes

[2020-05-24 22:56] roseregina commented on #199
Save 0.2.3-beta-3
Galaxy S7
Good Cloud server

Appears resolved

[2020-05-24 23:27] roseregina commented on #212
I think that the entire Nextcloud instance is down, given that I cannot log in with either the MotoG or the GalaxyS7 and I get `ERR_CONNECTION_REFUSED` when I try to log in from a desktop browser. Please resolve.

[2020-05-25 00:07] roseregina commented on #194
This is still a problem with 0.2.3-BETA-3, but I think that the issue may be coming from  Dropbox given that I don't this we ever really resolved it with iOS aside from just not allowing more than one Dropbox login at a time.

Actual behaviour on the GalaxyS7:
1. Successfully add dropbox account A
2. Add Dropbox via Connect Your Space page
3. Taken to Dropbox site in browser, where stilled logged

[2020-05-25 00:20] roseregina commented on #196
0.2.3-BETA-3
GalaxyS7

Still having this problem, plus, now it won't queue files for other servers. It seems to have triggered a crash (after hanging for a while, then recovered and uploaded _all of the files, included the file intended for Good Cloud_ to the other server. I was able to reproduce the uploading to not the intended server without the crash that occurred the first time.

Is this expe

[2020-05-28 19:01] foundscapes commented on #199
@roseregina please test with dropbox, then we can close, thank you!

[2020-05-28 19:12] foundscapes commented on #212
I also can no longer connect to the Guardian Project nextcloud server so I will close this issue

[2020-05-28 19:12] #212 closed, assigned to n8fr8, foundscapes

[2020-05-28 19:18] foundscapes commented on #196
We need further investigation as files in project folder associated w/ good cloud should not be uploading to a different server (in this case dropbox) @n8fr8 any idea what's going on?

[2020-05-28 19:20] foundscapes commented on #194
See #211 for a potential fix @n8fr8

[2020-05-30 11:06] n8fr8 commented on #72
It works with any webdav server that supports the "nc://login/" format.

I will create "scan QR code" as a new feature ticket, since it requires a good amount of work to handle loading a separate QR code app, etc.

[2020-05-30 11:06] #72 closed, assigned to n8fr8, foundscapes

[2020-05-30 11:07] n8fr8 opened #222 "add "Scan QR code ot login" feature/screen for NextCloud"
This is for the nextcloud "nc://login" feature we have in issue #72

[2020-05-30 11:08] n8fr8 commented on #213
they were, but there was some lingering stuff in member. all good now.

[2020-05-30 11:08] #213 closed, assigned to n8fr8, roseregina

[2020-05-30 11:10] n8fr8 commented on #72
(Closed this since sharing a single "built-in" IA account across all users is insecure and not viable)

[2020-05-30 11:11] n8fr8 commented on #197
Sorry for the confusion. #72 isn't something we can do for IA. However, adding the QR code support is one way to make "auto-login" easier.

That said, QR code scanning s the solution for 2FA on Nextcloud... that or manually entering in an app-specific password.

[2020-05-30 11:12] n8fr8 commented on #208
fixing that will require an update to the core ProofMode library. Will move this ticket to the "future coolness" milestone.

thanks for testing!

[2020-05-30 11:14] n8fr8 commented on #211
We can technically support multiple Dropbox accounts. The issue is just with the browser integration.

If we want to limit it to just one Dropbox account for now, we can do that, until we are able to integrate the browser login more directly.

[2020-05-30 14:17] tladesignz commented on #211
I don't remember much of trying to support multiple Dropbox accounts in iOS, but I think it was sort of possible. But more on the line of  logging out of Dropbox and then re-login with the other account. Didn't fit well in our model, so I now only allow one Dropbox account.

Just in case you were thinking of having that on both versions. It's possible, but will feel kinda ugly!

[2020-05-31 23:30] roseregina opened #223 "Crashes when logging in to IA account"
0.2.3-Beta-3

MotoG
GalaxyS7

Internet Archive account

Expected Behaviour:
1. Selected Archive.Org from Server Screen
2. Enter credentials and login
3. Taken to next screen

Actual Behaviour:
1. Selected Archive.Org from Server Screen
2. Enter credentials and login
3. App crashes

As well as:
1. Selected Archive.Org from Server Screen
2. Click login _without_ entering credentials
3. App crashes

[2020-06-01 15:05] n8fr8 commented on #211
For now, we'll just limit it to one. I think the solution would be to use a new WebView instance that has a clean session each time, so would require a fresh login. Relying on the system web browser which persists the login is what is causing the confusion.

[2020-06-05 07:00] foundscapes commented on #199
@purvi-ranawat please test with dropbox to see if this is still an issue. Thank you

[2020-06-08 02:56] purvi-ranawat commented on #199
@foundscapes / @n8fr8 : This is working fine. I have selected around 25 photos and kept the app open while uploading. The app doesnt crash. I have tried the same on Android 9 and Android 7

[2020-06-08 08:23] purvi-ranawat commented on #74
@n8fr8  / @foundscapes : On Samsung A70 - Android 10 version, this is working fine. But on MI - Note 4 - Android 7, when I click on Acquire Keys for trying to create internet archive account, the app hangs and it says that it is not responding

[2020-06-08 19:59] #199 closed, assigned to n8fr8, purvi-ranawat

[2020-06-08 20:17] n8fr8 commented on #196
If you had previously asked files to be uploaded to Dropbox, then removed the space/account, there is a chance it could still be in memory uploaded in the background service queue.

All in all, this is definitely a separate new issue from GoodCloud logging in.

@roseregina when you say "Still having this problem" what is the exact issue, as I don't see any notes from you before. You cannot login t

[2020-06-08 20:20] n8fr8 commented on #182
DONE button added

[2020-06-08 20:20] #182 closed, assigned to n8fr8

[2020-06-08 20:26] n8fr8 commented on #218
Ultimately, it will use Orbot opportunisitically if it is available, but it "fail open" as they say, and keep uploading if Orbot is not available.

If we want to require Orbot all the time and pause/don't upload without, we can do that @foundscapes so the choice is up to you and/or we can/should modify the language.

[2020-06-08 21:53] n8fr8 commented on #165
Merge request for fdroid.org is in progress here: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6898

Update in primary guardian project repo will be done as new releases are ready, with next beta/ RC this week.

[2020-06-08 22:26] #200 closed, assigned to n8fr8

[2020-06-08 22:27] n8fr8 commented on #218
If Tor feature is enabled, uploads will now wait until Orbot is running.

Also improved error display if Orbot is not running, or uploads fail for some other reason.

[2020-06-08 22:29] foundscapes commented on #64
@n8fr8 can we implement this?

[2020-06-08 22:30] foundscapes commented on #218
awesome, thank you!! @purvi-ranawat please test this, then we can close

[2020-06-08 22:30] foundscapes commented on #165
Great!

[2020-06-08 22:32] foundscapes commented on #196
@purvi-ranawat can you test this? Let me know if you need clarification

[2020-06-09 05:05] purvi-ranawat commented on #218
sure

On Tue, Jun 9, 2020 at 4:00 AM Natalie Cadranel <notifications@github.com>
wrote:

--
Regards
Purvi

[2020-06-09 10:49] purvi-ranawat commented on #172
@n8fr8  / @foundscapes : This is working fine now. The space between the text and the image is quite enough.

I have tested the same on Android 10 and Android 7

Attached is the screenshot :

![image](https://user-images.githubusercontent.com/8190141/84139166-04635f80-aa6d-11ea-9a9e-eccdf4957123.png)

[2020-06-09 21:09] foundscapes commented on #172
This may only be an issue on older/smaller phones - @roseregina can you test most recent beta on motog to see if it's still cramped?

thank you!

[2020-06-11 04:58] purvi-ranawat opened #224 "Not able to upload the media sometimes in Beta 4 build in Android"
Steps to Reproduce :

1. Stop the Orbot
2. Install the Save and Enable for Onion Routing
3. Create new private server for good cloud (Onion Routing is already enabled)
4. Create new project
5. Add Media to the project

Note : As Orbot is stopped, media will not be uploaded

6. Now again go to Server and disable Onion Routing
7. Go to Project and upload the media

Expected Result  :
As Orbot is sto

[2020-06-11 15:23] purvi-ranawat commented on #176
@n8fr8 / @foundscapes : Now I am able to turn off CC licensing successfully on Android 10.

But the licensing details are not getting displayed in the JSON files when CC licensing is on

Attached are the content of  json files with CC licensing on and off

CC Licensing on :

{"collectionId":4,"contentLength":1630614,"createDate":"Jun 11, 2020 20:45:06","flag":false,"mediaHashBytes":[],"mediaHash":

[2020-06-13 11:35] purvi-ranawat commented on #172
@n8fr8  / @foundscapes

I have also tested on Samsung Galaxy J3 (2016) screen size 5.0, it works fine.
![a8dacd9f-0b53-48de-93a1-63fd94f99d35](https://user-images.githubusercontent.com/8190141/84567723-1ceab700-ad98-11ea-9b3c-0f8214dab0c7.jpg)

[2020-06-13 14:31] purvi-ranawat commented on #211
@foundscapes  / @n8fr8 : This is working fine on Android 10 and Android 5.1 (Samsung A70 and Samsung J3)

[2020-06-16 12:05] purvi-ranawat commented on #218
@foundscapes  / @n8fr8 : Still when we select the multiple images and then force stop the Orbot, the uploading is not paused. Instead, it keeps on uploading even if onion routing is enabled and we have force stopped the orbot in middle of the images getting uploaded

[2020-06-16 13:24] n8fr8 commented on #218
It may be that force stopping Orbot only stops the app, and doesn't kill the background Tor daemon service that is running. I will double check that.

[2020-06-26 13:30] #211 closed, assigned to n8fr8, purvi-ranawat

[2020-06-26 13:30] #172 closed, assigned to n8fr8, purvi-ranawat

[2020-06-26 13:31] #197 closed, assigned to nobody

[2020-06-26 13:31] #194 closed, assigned to n8fr8

[2020-06-27 13:54] n8fr8 commented on #176
@purvi-ranawat there is a new build that I have tested this with successfully. I couldn't fully reproduce your issue, but did double check and make small modifications to the code for publishing the license value in the json.

Please test again, https://github.com/OpenArchive/Save-app-android/releases/tag/0.2.3-RC-1

[2020-06-27 13:55] n8fr8 commented on #171
@purvi-ranawat new build please test: https://github.com/OpenArchive/Save-app-android/releases/tag/0.2.3-RC-1

[2020-06-27 13:55] n8fr8 commented on #202
found/fixed an issue related to this: new build please test: https://github.com/OpenArchive/Save-app-android/releases/tag/0.2.3-RC-1

[2020-07-01 17:21] purvi-ranawat commented on #176
@n8fr8 / @foundscapes : This is working fine. I am able to see the licensing value in the json if we have enabled creative commons licensing options for project

[2020-07-07 04:51] purvi-ranawat commented on #171
@n8fr8  / @foundscapes : This is working fine. I am able to move the media up and down anywhere after clicking on edit . It does not crash. Also, while media is uploading , I am also able to add additional media while the current media is uploading and it is uploaded successfully. The app does not crashes. I have tried it on following device :

Android 10 - Samsung A70
Android 5.1.1 - Samsung J3

[2020-11-11 19:10] foundscapes opened #225 "Photos hang when importing to Save"
Person tried to upload a photo from camera roll and took a photo within app - both attempts hung on “importing” for over 10 minutes when using - did not resolve over extended time. This was done in the MENA region if relevant.

Server: oa.thegood.cloud
Cell service: 4G
Phone: Pixel 2
OS: Android 11
<img width="402" alt="Screen Shot 2020-11-11 at 11 43 06 AM" src="https://user-images.githubusercont

[2020-11-30 18:33] foundscapes commented on #225
We tried to reproduce the issue above - but it resolved :)

It's uploading media today but we have a UX issue - there is no indication that media has been uploaded. We need a UX fix to show the status for most recent uploads since it shows time/date of prior uploads below but only once you add new media and it does not show date stamps for new items.
Please see video below:

[signalvid.mp4.zip](ht

[2020-12-17 00:12] foundscapes opened #226 "Incorrect title for NextCloud/GoodCloud/DropBox folders. Picking upload date instead of date of capture/creation"
#### Issue description

Folders in NextCloud/GoodCloud/DropBox are named with the upload date of the file instead of the date of capture/creation.

This has happened to one of our community partners across Android and iOS versions so will add to iOS issues as well.

Phone: Google pixel 2
OS: Android 10

#### Steps to reproduce the issue
1. Upload any file from an Android or iOS device to either of

[2020-12-17 00:17] foundscapes opened #227 "Arrow on last welcome screen is not visible"
phone: Google pixel 2
OS: Android 10

A community partner said that the arrow on the last welcome screen is not visible, so people don't know to continue to "add project"

will add screenshots asap

[2020-12-22 19:00] helyxchase commented on #226
heres a photo displaying the incorrect dropbox file name and creation date in JSON metadata file - along side the correct metadata pulled from the image file using Media Info
![Screen Shot 2020-12-22 at 1 59 08 PM](https://user-images.githubusercontent.com/50552020/102923594-fe0f6080-445d-11eb-971b-ddcc9214d577.png)
the above image file was created on 2020-11-07 but is listed in the SAVE metadata

[2021-01-27 22:12] elric-wamugu opened #228 "Incorrect value for the `createDate` field in the uploaded file's metadata JSON file"
#### Issue description

The file's creation date that is populated in the uploaded file's metadata JSON is incorrect. The value seems to be the file's upload date instead of the actual capture/creation date.

#### Steps to reproduce the issue

1. Upload any file from an Android or iOS device to either of the connected cloud services i.e NextCloud/GoodCloud/DropBox.
2. Open the cloud service where

[2021-01-27 22:17] elric-wamugu opened #229 "Hashes not matching original file hash"
### Issue description

Hashes not matching original file hash

### Steps to reproduce the issue

1.
2.

### What's the expected result?

### What's the actual result?

### Additional details / screenshot

[2021-01-27 22:23] elric-wamugu commented on #229
@foundscapes Any additional info on this issue?

[2021-01-27 22:35] elric-wamugu commented on #229
@foundscapes I found a reference of the same issue but on iOS devices here: https://github.com/OpenArchive/Save-app-ios/issues/182

Maybe we can think of and come up with a way to curate all the issues from both platforms under one unified repository for easier triage across the project. Let's discuss.

[2021-01-27 22:45] foundscapes commented on #229
@elric-wamugu good idea - all I have is in https://github.com/OpenArchive/Save-app-ios/issues/182

[2021-02-20 19:18] sunjam commented on #165
This needs attention on the F-Droid side.  It was just closed due to inactivity.

https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6898#note_507524846

[2021-02-25 17:33] suryanshsangwan commented on #228
Hi can i pick up this issue

[2021-02-25 17:34] elric-wamugu commented on #228
Hello @suryanshsangwan Yes please.

[2021-03-11 06:45] suryanshsangwan commented on #228
App crashes every time i click on **dropbox** and on the **check** button after putting internet archive keys.

[2021-03-11 06:50] suryanshsangwan commented on #228
I tried it on enmulator as well as on a physical device.

Any solution??

[2021-03-14 19:58] ozgegn commented on #227
Button color on last welcome page is updated as white regarding to used library. PR ;
https://github.com/OpenArchive/Save-app-android/pull/232

[2021-03-18 18:13] #171 closed, assigned to n8fr8

[2021-03-18 18:18] n8fr8 commented on #224
This has to be related to Tor network issues.

[2021-03-18 18:19] #176 closed, assigned to n8fr8, purvi-ranawat

[2021-03-18 18:22] n8fr8 commented on #218
Need to ensure network stops when the user cuts proxy connections.

[2021-03-19 19:41] n8fr8 opened #233 "Crash report"
REPORT_ID=e282a4ed-91cf-40f4-bdb8-d1f5baca2fa9
APP_VERSION_NAME=0.2.3-RC-1
APP_VERSION_CODE=20321
ANDROID_VERSION=9
PHONE_MODEL=vivo 1904
PACKAGE_NAME=net.opendasharchive.openarchive.release
CRASH_CONFIGURATION=colorMode=5
	densityDpi=272
	extraConfig= themeId=396047746
	fontScale=0.85
	hardKeyboardHidden=HARDKEYBOARDHIDDEN_YES
	keyboard=KEYBOARD_NOKEYS
	keyboardHidden=KEYBOARDHIDDEN_NO
	locale=en

[2021-03-19 19:45] n8fr8 opened #234 "Archive.org account setup crash"
REPORT_ID=0a822078-62dc-48a2-9d47-68ad1ecb3318
APP_VERSION_NAME=0.2.3-RC-1
APP_VERSION_CODE=20321
ANDROID_VERSION=10
PHONE_MODEL=POCO F1
PACKAGE_NAME=net.opendasharchive.openarchive.release
CRASH_CONFIGURATION=assetsSeq=0
	colorMode=9
	densityDpi=440
	fontScale=1.4
	hardKeyboardHidden=HARDKEYBOARDHIDDEN_YES
	keyboard=KEYBOARD_NOKEYS
	keyboardHidden=KEYBOARDHIDDEN_NO
	locale=en_IN
	mcc=405
	mnc=857

[2021-03-22 20:14] ozgegn commented on #227
Tested on Pixel 2 API 29

<img width="389" alt="Screen Shot 2021-03-22 at 23 14 06" src="https://user-images.githubusercontent.com/7272389/112052597-5a207880-8b64-11eb-856e-418b490b25e4.png">

[2021-03-22 20:14] #227 closed, assigned to ozgegn

[2021-03-22 21:18] n8fr8 commented on #234
If spaceId is null, it must have been deleted, and this was some kind of background task race condition.

You should just complete the task without a NPE.

[2021-03-22 21:19] n8fr8 commented on #234
the bigger question is why this is possible... perhaps before deleteing a space, we should keep track of all asynctasks and make sure they are canceled?

this could also be addressed by moving to Kotlin and use a coroutine tied to the lifecycle of the Activity.

[2021-03-22 22:18] ozgegn commented on #234
I've got this error on register. Any delete isn't operated I guess. It seems like the Space isn't initialized at all.

[2021-03-24 02:59] foundscapes commented on #81
@ozgegn would you be able to test to make sure this is resolved and then close?

[2021-03-24 03:00] foundscapes commented on #77
@ozgegn would you be able to test to make sure this is resolved and then close?

[2021-03-24 03:01] foundscapes commented on #64
@ozgegn would you be able to do this?

[2021-03-24 03:02] #63 closed, assigned to n8fr8

[2021-03-24 03:03] #40 closed, assigned to nobody

[2021-03-24 03:09] foundscapes commented on #165
@ozgegn of @elric-wamugu would you be able to help with this?

[2021-03-24 03:10] foundscapes commented on #78
@ozgegn would you be able to test to make sure this is resolved and then close?

[2021-03-24 03:11] #31 closed, assigned to nobody

[2021-03-24 03:13] foundscapes commented on #36
@n8fr8 is this still an issue?

[2021-03-24 03:13] #21 closed, assigned to nobody

[2021-03-24 03:20] foundscapes commented on #214
@ozgegn would you be able to help figure out if this is doable?

[2021-03-24 19:12] ozgegn commented on #81
Hi @foundscapes ,
What is the expected behavior to see if it's resolved ?

[2021-03-24 19:27] ozgegn commented on #64
Hi @foundscapes ,
We can implement this library for redirection to Play Store or fDroid. But until user gets in to application, we can't force to update.

[2021-03-28 13:41] ozgegn commented on #234
Hi @n8fr8 ,

About that issue ; https://github.com/OpenArchive/Save-app-android/pull/237

[2021-03-28 13:41] #234 closed, assigned to ozgegn

[2021-03-28 13:42] ozgegn commented on #223
Pr about that issue ;
https://github.com/OpenArchive/Save-app-android/pull/237

[2021-03-28 13:42] #223 closed, assigned to ozgegn

[2021-03-29 18:14] foundscapes commented on #81
May be out of scope, will try to reproduce and let you know @ozgegn!

[2021-03-29 18:17] foundscapes commented on #64
It'd be great to implement this for ios as well, @tladesignz

[2021-03-29 18:20] foundscapes commented on #226
We need to test this for Internet Archive, but it will likely be the same naming issue

[2021-03-29 18:20] foundscapes commented on #226
We also need to make sure folders have capture date after upload for ios as well @tladesignz

[2021-03-29 18:33] foundscapes commented on #88
@ozgegn @n8fr8 let's discuss adding nearby back into android and also add it to ios?

[2021-03-29 20:30] tladesignz commented on #64
No way. This is a ridiculous anti-feature for something which is provided by the OS in a fully automated fashion for an app which wasn't updated in over a year.

[2021-03-29 20:34] foundscapes commented on #64
I'm sorry I don't understand @tladesignz - the idea is to automatically push updates for both apps so everyone has the most updated version without having to remember to do it (no one does).
We will have a number of new updates for android in the next few months and we will need to make those metadata fixes for ios as well plus a few other updates, so why would it be difficult/problematic?

[2021-03-29 20:35] tladesignz commented on #226
There's already a lengthy discussion about this here:
https://github.com/OpenArchive/Save-app-ios/issues/182

Please make sure to answer all the open questions first. I will not start implementing before.

[2021-03-29 20:36] tladesignz commented on #64
The OS pushes updates of apps automatically. The OS provides all infrastructure to handle this. It doesn't make sense to implement this and on top of it all it is a privacy leak. **As already explained by Nate**.

[2021-03-29 20:37] foundscapes commented on #226
Will do @tladesignz

[2021-04-04 05:03] surender786 commented on #151
Hello @foundscapes I am an outreachy-21.I want to contribute to openarchive projects. Please elaborate the what work I do for contributing to the projects. I am newbie
Also add me in #OpenArchive-Outreach slack channel.
My mail surendernawalrai11@gmail.com

[2021-04-04 10:00] ozgegn commented on #225
Hi @n8fr8 , @foundscapes

Pr is added ;
https://github.com/OpenArchive/Save-app-android/pull/238

We can talk about a UI improvement to move this to a progress bar or notification.

[2021-04-04 10:00] #225 closed, assigned to ozgegn

[2021-04-04 15:45] ozgegn commented on #228
Hi ,

PR is https://github.com/OpenArchive/Save-app-android/pull/240

Cc: @foundscapes

[2021-04-04 15:45] #228 closed, assigned to ozgegn, suryanshsangwan

[2021-04-04 17:01] ozgegn commented on #226
Fixed with https://github.com/OpenArchive/Save-app-android/pull/240/files

[2021-04-04 17:01] #226 closed, assigned to n8fr8, ozgegn

[2021-04-08 18:24] foundscapes commented on #64
So it sounds like the OS will automatically update and we don't have to worry about this? My priority is to make sure people have our most updated version without having to go look for it. If that is the case here, then we can close this issue, am I right with this @tladesignz ? Thank you!

[2021-04-08 19:18] n8fr8 commented on #64
The OS will do what the user chooses to do. If they have their Google Play or App Store set to automatically update apps for them, then yes. If they have that setting off, then they will have to go and "look for it". This is a problem beyond the scope of our control, and as @tladesignz said, adding something that repeatedly/regularly checks a centralized service for a version info file s we can di

[2021-04-08 19:20] n8fr8 commented on #214
@ozgegn if you look at the NetCipher library that Save is referencing, it should provide what you need to detect if Orbot is installed or not, and hide/show or disable/enable the "Route through Tor" options.

https://github.com/guardianproject/netcipher

[2021-04-08 19:23] n8fr8 commented on #78
I don't think we have sign-up for virtual IA library card anymore, do we? At least, that isn't an official feature of Save. Users are expected to have an existing account for the cloud services they are adding.

[2021-04-08 19:25] n8fr8 commented on #159
Image compression is easy. Video is much harder. I think @ozgegn can probably tackle this though.

For images, at time of upload, we could compress the image into a temporary lower quality file to upload. That we can do via Bitmap downsampling tools.

For video, we would to either integrate ffmpeg type library, or see what we might be able to do with newer version of Android. Video compression is

[2021-04-08 19:36] n8fr8 commented on #78
Yeah, just checking the app now, and this isn't there anymore. For Internet Archive, we just tell them "you need an account", but don't provide a link to get one. Closing this since it isn't relevant anymore.

[2021-04-08 19:36] #78 closed, assigned to n8fr8

[2021-04-08 21:05] foundscapes commented on #64
Ok. I just like that signal (among other apps) asks to update whenever there are updates, but it sounds like that is not as secure as we'd want it to be, which surprises me. I'll defer to you all.

[2021-04-08 23:25] n8fr8 commented on #64
Signal runs their own servers, that their client connects to, and so it can push update notifications.

Save does not run its own servers.

On Thu, Apr 8, 2021, at 5:06 PM, Natalie wrote:

[2021-04-09 08:58] tladesignz commented on #64
They do this, because they have a huge ecosystem of servers and different client apps which all need to work together. Annoying the user about updates helps them in keeping the different versions in the field closer together so they can move forward more quickly and don't spend too much time on legacy support.

They also have the situation that they have client apps, where the OS doesn't take care

[2021-04-14 21:10] ozgegn commented on #229
Hey @foundscapes ,
As far as I understand from linked issue, it must be resolved with filename fix. Could you please test ?

[2021-04-16 07:15] elric-wamugu commented on #229
@ozgegn re-testing this on both platforms

[2021-04-16 21:58] foundscapes opened #246 "Unable to acquire keys for the IA - button not responsive"
Two people, same issue:

Phone: Redmi Note 7 Pro
OS: Android 10
&
Phone: Galaxy A10
OS: Android 9

These two people had trouble acquiring keys for the IA:
The Redmi Note 7 Pro person: When I am trying to login via Internet Archive, it doesn't show up the option to login or sign up to Internet Archive, video here: https://files.slack.com/files-pri/T01RRRK31BM-F01T36YHPJR/save

The Galaxy person: wh