[2021-04-16 22:03] foundscapes commented on #229
Thanks @elric-wamugu for testing and @ozgegn for helping!

[2021-04-16 22:05] foundscapes commented on #196
@elric-wamugu can you test this?

[2021-04-16 22:07] foundscapes commented on #76
@n8fr8 can we close this?

[2021-04-16 22:31] elric-wamugu commented on #196
@foundscapes Yes. Assigning it to myself.

[2021-04-16 23:32] Ghranty opened #247 "Save App Freezes when Acquire Keys is Clicked after Selecting Internet Archive as a server option"
## Prerequisites:

Orbot is enabled

## Case:
Download and install Save by OpenArchive on Playstore, go through splash screens, enable Orbot, select Internet Archive as a server option, then click on Acquire Keys

## Expected result:
Application opens sign in page

## Actual result:
Application freezes and only responds accordingly after exiting and reopening the app

## Notes:
Reproduced on Huawe

[2021-04-16 23:33] Ghranty opened #248 "Create New Project Functionality is Erratic on Save App"
## Prerequisites:

Orbot is enabled

## Case:
A Project is previously created, select add button on the top left of the screen, then select Create New Project

## Expected result:
The application brings up a screen to type new project name

## Actual result:
Application opens a blank page and no further response

## Notes:
Reproduced on Huawei Y9s, Android 10 version

Issued moved from [here](http

[2021-04-16 23:34] Ghranty opened #249 "Moving an Item/Upload up the Queue is not Functional on the App"
## Prerequisites:
Orbot is enabled

## Case:
Create a project and select items for upload, then click on upload. Open the upload queue and drag an item or items up the queue

## Expected result:
The new item on top of the queue gets upload priority

## Actual result:
Item kept moving all the way down again.

## Notes:
Reproduced on Huawei Y9s, Android 10 version

Issue moved from [here](https://gi

[2021-04-16 23:35] Ghranty opened #250 "Browse Existing Projects is not Functional on Save App"
## Prerequisites:
Download Save by OpenArchive on PlayStore
Orbot is enabled

## Case:
Create a project or couple of projects and make uploads. Click on the icon on the top left of screen. Select "Browse Existing Projects"

## Expected result:
See a list of existing projects and make a selection

## Actual result:
The app opens a blank page and nothing else happens

## Notes:
Reproduced on Huawei

[2021-04-16 23:36] Ghranty opened #251 "Next Step after Creating an Account on Internet Archive to Acquire Keys is not Intuitive enough on Save App"
## Prerequisites:
Download Save by OpenArchive on PlayStore
Orbot is enabled

## Case:
Select Internet Archive. Click on Acquire Keys, then select the signup option and sign up for an account. Verify email after signup

## Expected result:
Application takes you to the acquired keys screen or shows a button to click

## Actual result:
Application takes one to the homepage where it was unclear what

[2021-04-16 23:46] foundscapes commented on #64
Thanks for clarifying @tladesignz and @n8fr8. Closing

[2021-04-16 23:46] #64 closed, assigned to n8fr8

[2021-04-17 13:15] ozgegn commented on #246
Hi,
Pr is opened for this issue; https://github.com/OpenArchive/Save-app-android/pull/252

[2021-04-17 13:15] #246 closed, assigned to n8fr8, ozgegn

[2021-04-17 22:00] ozgegn commented on #214
Hi,
Pr is -> https://github.com/OpenArchive/Save-app-android/pull/253

And I added a warning string as "Please install Orbot to enable"

[2021-04-17 22:00] #214 closed, assigned to ozgegn

[2021-04-17 22:02] ozgegn commented on #202
Tested with;

Samsung A50 Android: 10
Xiaomi Redmi 7 Android: 10

Uploads media as given order

[2021-04-17 22:02] #202 closed, assigned to n8fr8, elric-wamugu, ozgegn, roseregina

[2021-04-20 01:54] elric-wamugu commented on #196
@foundscapes Works after logging in with correct credentials. However, it's failing to upload files to folders that have spaces or other special characters in their folder name.

[2021-05-13 17:53] foundscapes commented on #251
More of a feature than a bug - I think we just need better UX - a popup? to explain to folks how to get back to Save once logging in and acquiring keys on the IA site

[2021-05-13 17:57] foundscapes commented on #229
@elric-wamugu what was the outcome of this test?

[2021-05-13 17:58] foundscapes commented on #218
@elric-wamugu can you please test? thank you!

[2021-05-13 18:02] foundscapes commented on #224
@elric-wamugu please test

[2021-05-13 18:23] foundscapes commented on #229
@ozgegn is creating a new apk for myself and @elric-wamugu  to test - Ozge - please add a link here as well as our slack distro channel. thank you!

[2021-05-13 18:51] n8fr8 commented on #251
I would only use the "PLEASE TEST" label once new code has been pushed and needs testing.

[2021-05-14 15:25] foundscapes commented on #251
I made a tag "please reproduce" for situations like these - does that make sense @n8fr8?

[2021-05-25 07:25] purvi-ranawat commented on #251
@foundscapes @n8fr8

For Internet Archive after creating account, I got the link which says Click here to login, on clicking that link I got Acquire key screen, on clicking on the tick mark on Acquire key screen it takes me to the home page. Below is the video link for the same:

https://drive.google.com/file/d/1MGZf6NyphocUHrOTK1mujDOVmLt7vV3F/view?usp=sharing

Tested on Samsung A70 android 11

[2021-05-25 07:36] purvi-ranawat commented on #248
@foundscapes @n8fr8

Unable to reproduce the issue on Samsung A70 android 11.

[2021-05-25 07:48] elric-wamugu commented on #218
@foundscapes @n8fr8 looks like the upload still goes on even with Orbot's Tor service not running.
Tested on Google Pixel 4a with Android 11.

![screen-20210525-102022](https://user-images.githubusercontent.com/2143671/119459646-8d3ede00-bd46-11eb-80e7-578ceb4e132a.gif)

[2021-05-25 08:54] elric-wamugu commented on #250
@foundscapes works as expected.
Tested on:
App version: 4.1
Device: Google Pixel 4a
Android version: 11

![Screenshot_20210525-115004](https://user-images.githubusercontent.com/2143671/119469284-e0695e80-bd4f-11eb-87cd-cd020eaf13a6.png)

[2021-05-25 09:05] elric-wamugu commented on #249
@foundscapes works as expected on:
Device: Google Pixel 4a
App version: 4.1
Android version: 11

[2021-05-25 10:27] purvi-ranawat commented on #250
@foundscapes @n8fr8

Able to reproduce the issue on Samsung A70 android 11. Please find below the video link:

https://drive.google.com/file/d/1MUJrA-EybLdgh90jx7Tx8pVlxcP7MZcn/view?usp=sharing

[2021-05-25 10:55] elric-wamugu commented on #250
@purvi-ranawat Please check on the above device if it's working for Dropbox

[2021-05-25 11:13] purvi-ranawat commented on #250
@elric-wamugu The app is getting crashed when trying to access drop box. Please see the video:

https://drive.google.com/file/d/1MkWTmC7T26E1pkZ8JxUJ6RMuCwZY3eUo/view?usp=sharing

[2021-05-25 11:30] elric-wamugu commented on #250
@purvi-ranawat  yes I noticed that too with the recent apk file and flagged it on the Slack channel. Trying installing and testing with the one on Google playstore.

[2021-05-25 11:55] purvi-ranawat commented on #250
@elric-wamugu I have downloaded from Google Playstore and not facing the above mentioned issues with Dropbox.

[2021-05-27 13:51] purvi-ranawat commented on #247
@foundscapes Able to reproduce the issue on Samsung Galaxy A70 Android 11, by following the above mentioned steps.

[2021-05-27 18:35] foundscapes commented on #222
@elric-wamugu to look into how to do this with NextCloud rerfer to @n8fr8's notes in issue #72

[2021-06-02 08:20] purvi-ranawat commented on #77
@foundscapes Unable to reproduce the issue on Samsung Galaxy a70 Android 11

[2021-06-10 18:21] foundscapes commented on #247
@ozgegn can you add the new apk where this should be fixed here? @purvi-ranawat can you test to see if it's fixed?
thank you!

[2021-06-10 18:29] foundscapes commented on #196
@elric-wamugu @purvi-ranawat can you test this with the newest APK to figure out if it's just a naming issue, if so, what can we do about it to ensure people can add characters and still upload (if possible)?

[2021-06-10 18:31] foundscapes commented on #88
@n8fr8 since we stopped supporting this feature, I've had a number of community members tell me it's really important, let's discuss re-adding it and also include on iOS version.

[2021-06-10 18:32] foundscapes commented on #56
I will connect with Localization Lab on this issue

[2021-06-10 18:33] foundscapes commented on #77
@purvi-ranawat great, can you close these issues when they're fixed?

[2021-06-15 10:11] purvi-ranawat commented on #77
@foundscapes @n8fr8  The issue seems to be fixed now, can close the issue.

[2021-06-15 10:27] purvi-ranawat commented on #247
@foundscapes  The issue seems to fixed now as unable to reproduce the same with new apk. Tested on Samsung Galaxy A70, android 11.

[2021-06-15 10:46] purvi-ranawat commented on #250
@elric-wamugu Can reproduce the issue on latest apk. Also getting Bad request error with Dropbox. I have attached the screenshot dropbox.JPG for the same.

![dropbox](https://user-images.githubusercontent.com/8190141/122040048-01741b00-cdf5-11eb-9b50-5f3452a6263d.jpg)

[2021-06-16 12:07] elric-wamugu commented on #92
@foundscapes Two new issue templates are now live when [creating a new issue](https://github.com/OpenArchive/Save-app-android/issues/new/choose)

[2021-06-17 14:27] elric-wamugu commented on #81
Failed to reproduce this on a Galaxy Nexus with Android 7.
Uploading to InternetArchive is working on Android 11 with the Save App version `0.2.3-BETA-3`

[2021-06-17 14:57] elric-wamugu commented on #229
Both issues are resolved on Android 11. Tested with Google Pixel 4a and Save app version `0.2.3-RC-1`

[2021-06-17 15:00] elric-wamugu commented on #224
Resolved on Android 11. Tested with Google Pixel 4a and Save app version 0.2.3-RC-1

[2021-06-17 15:34] elric-wamugu commented on #208
Confirmed to be working. Tested on Google Pixel 4a with Android 11

[2021-06-17 15:38] elric-wamugu commented on #250
Getting the above error too with the latest .apk file @ozgegn

[2021-06-17 15:57] elric-wamugu commented on #251
Confirmed to be also working as expected on Android 11 on Google Pixel 4a

[2021-06-17 17:29] foundscapes commented on #251
Great news - can we close @elric-wamugu ?

[2021-06-21 13:02] purvi-ranawat commented on #249
@foundscapes
Working as expected., tested on Samsung Galaxy A70, Android 11.

[2021-06-21 13:39] purvi-ranawat commented on #224
@foundscapes This is working fine now. tested on Samsung Galaxy A70, Android 11.

[2021-06-21 13:39] #224 closed, assigned to n8fr8, elric-wamugu

[2021-06-21 16:13] purvi-ranawat commented on #196
@foundscapes It is working fine now. I tried using the special characters in the folder name and did not face any issue uploading the media.
Tested on Samsung Galaxy A70 Android 11.

[2021-06-24 17:54] #229 closed, assigned to ozgegn

[2021-06-24 17:54] #196 closed, assigned to n8fr8, elric-wamugu, foundscapes

[2021-06-24 17:56] #208 closed, assigned to n8fr8

[2021-06-24 17:59] #251 closed, assigned to foundscapes, ozgegn

[2021-06-24 17:59] #249 closed, assigned to elric-wamugu

[2021-06-24 18:00] #247 closed, assigned to elric-wamugu

[2021-06-24 18:16] n8fr8 opened #258 "Add TorServices support integration"
integrate TorServices instead of using Orbot
https://github.com/guardianproject/tor-android

This allows for easy use of Tor without a separate app.

[2021-06-30 10:27] purvi-ranawat commented on #74
@foundscapes This is working fine on Samung A70, Android 11.

[2021-06-30 11:33] purvi-ranawat commented on #81
@n8fr8 / @foundscapes : This is working fine on Samsung A70 - Android 11. We can close the issue

[2021-06-30 11:38] #81 closed, assigned to nobody

[2021-06-30 11:43] elric-wamugu commented on #33
@n8fr8 @foundscapes this seems to have already been implemented in the recent OA versions, yes?

[2021-06-30 11:48] elric-wamugu commented on #38
The service seems to be suspended for maintenance for an undefined time, since October 25, 2019. Source: https://telegra.ph/Stampery-Services-Currently-On-Maintenance-10-25

cc @n8fr8 @foundscapes

[2021-06-30 11:56] elric-wamugu commented on #62
The nearby/Bluetooth feature seems deprecated from later versions of the OA app

[2021-06-30 11:56] #62 closed, assigned to n8fr8

[2021-06-30 11:58] #74 closed, assigned to n8fr8, purvi-ranawat, roseregina

[2021-06-30 11:59] #76 closed, assigned to n8fr8, foundscapes

[2021-06-30 12:00] #77 closed, assigned to n8fr8

[2021-06-30 12:10] #83 closed, assigned to nobody

[2021-06-30 12:16] elric-wamugu commented on #87
@foundscapes Is this still a relevant issue going forward?

[2021-06-30 12:16] #92 closed, assigned to n8fr8, elric-wamugu

[2021-06-30 13:41] #248 closed, assigned to elric-wamugu

[2021-09-24 17:18] #233 closed, assigned to nobody

[2021-09-24 17:20] n8fr8 opened #259 "Main screen project grid view is cut-off"
**Describe the bug**
The top line of text, either showing "# items(s) upload" or "Ready to upload" is cut-off from view

**To Reproduce**
Steps to reproduce the behavior:
1. Get latest build from DEVELOPMENT
2. Open main screen to a project
3. Add items

**Expected behavior**
"Ready to upload" should be visible.

**Screenshots**
It is not visible!

**Environment (please complete the following info

[2021-09-24 17:25] n8fr8 opened #260 "Batch editing is not working"
**Describe the bug**
Previously, for items NOT yet uploaded, you could batch select, then press the "Edit" pencil icon to set all the metadata fields with one shared form. Now, the items show up in a carousel, but the edit form is not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open main screen to a project
2. Add 2 or more new items
3. Back out to main project screen
4. Multi

[2021-09-24 17:27] n8fr8 commented on #250
Confirmed as well for WebDAV/Nextcloud, as well as crash when trying to add Dropbox.

[2021-09-24 17:30] n8fr8 opened #261 "Crash when trying to add new Dropbox space"
**Describe the bug**
When adding a new space of type Dropbox, the app crashes immediately

**To Reproduce**
Steps to reproduce the behavior:
1. Tap on upper left hand corner icon
2. type on upper right hand + icon
3. choose "Dropbox" as space type
4. CRASH!

**Expected behavior**
flow for authenticating Dropbox is shown

**Environment (please complete the following information):**
 - OS version: A

[2021-10-08 11:06] Ananyaas commented on #259
Hi, Can I work on this issue ? Thanks.

[2021-10-09 12:15] ozgegn commented on #261
Hi,
PR is created;
https://github.com/OpenArchive/Save-app-android/pull/262

[2021-10-09 14:23] ozgegn commented on #259
Hi,
PR is created
https://github.com/OpenArchive/Save-app-android/pull/263

[2021-10-09 16:16] ozgegn commented on #250
Hi,
PR is created.

https://github.com/OpenArchive/Save-app-android/pull/264

[2021-10-25 19:28] n8fr8 commented on #261
I do have a "dropbox_key" value in my BuildConfig already. The app would not have compiled without it being there. The error that is being display seems to be something different:

2021-10-25 15:27:47.367 26627-26627/net.opendasharchive.openarchive.release E/ACRA: ACRA caught a RuntimeException for net.opendasharchive.openarchive.release
    java.lang.RuntimeException: Unable to start activity Com

[2021-10-25 19:41] #250 closed, assigned to ozgegn

[2021-10-25 19:41] #259 closed, assigned to ozgegn

[2021-10-25 19:41] #261 closed, assigned to ozgegn

[2021-11-09 14:03] purvi-ranawat commented on #260
@n8fr8  / @foundscapes : This issue is still there. Batch editing is not working. After selecting multiple media, when we select by tapping and holding the media for editing, it edits only one media and the other are not displayed for editing. But the details of the first media is getting copied to rest of the media

[2021-11-11 04:26] purvi-ranawat opened #265 "On Accessing Save app on next day, the media which are yet to be uploaded are shown as still processing"
On Accessing the Save on next day, the media which are yet to be uploaded (on previous day, we have just selected the media and not uploaded the same) still shows as processing and not getting displayed correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Save App'
2. Click on + icon to select the media
3. Select few media
4. Without uploading the media, leave the app
5. open the

[2021-11-11 13:13] purvi-ranawat opened #266 "Error is displayed when we upload the media and it is shown as 100%"
Summary : After selecting the media and clicking on Upload, after uploading is 100% complete, "Error" text is shown for the media uploaded

Steps to reproduce the behavior:
1. Go to Save App
2. Click on "+" icon in the project to select the media
3. Select any photo or video and click on upload

**Expected behavior**
Photo / Video should be uploaded successfully

Actual Result :
After the media up

[2021-11-12 12:35] purvi-ranawat opened #267 "Nothing happens when we click on Sign in with Google for adding Internet Archive server on Save App"
Summary : When we try to add Internet Archive Server and click on Sign in with Google, nothing happens.

Steps to reproduce the behavior:
1. Go to Save App
2. Click on + icon to add the server
3. Click on Internet Archieve
4. Click on Acquire Keys
5. Click on Sign in with Google

**Expected behavior**
User should be able to get the Google Credentials login pop up

Actual Result  :
Nothing happens

[2021-11-12 13:35] n8fr8 commented on #267
Sign in with Google on the Internet Archive is definitely a new feature. Hmmm.... Need to think how to support that.

On Fri, Nov 12, 2021, at 7:35 AM, purvi-ranawat wrote:

[2021-11-13 08:45] purvi-ranawat opened #268 "Even after the media is shown as 100% uploading, the text "uploading: is only displayed"
Summary :
After selecting the media for uploading, once the media is uploaded , it is shown as "100%" but the text still shows as "Uploading". Instead it should convert to "Uploaded" else user might get confused if the media is still uploading or not

Steps to Reproduce :

1. Open Save App
2. Click on + icon for selecting the media for uploading'
3. Select the media and click on Upload
4. Click on

[2021-11-17 11:22] purvi-ranawat opened #269 "When we add dropbox as the server, after allowing the Save app to access the media, dropbox id is displayed as blank"
Summary : When we add dropbox as the server and allows the Save app to access the media, dropbox id is displayed as blank. Only when we click on back and click on dropbox server, the dropbox id is displayed

Steps to Reproduce :

1. Go to Save app
2. Click on '+" icon to add the space
3. Select dropbox for the space
4. Click on Sign in with Google option for drop box
5. Select Allow for Save app a

[2021-11-18 03:21] purvi-ranawat opened #270 "Not able to add another dropbox space after adding the first dropbox space on Save App"
Summary : After adding the first dropdown space , user is not able to add another dropdown space as adding another dropdown space option is not there. I am getting the option to add another internet archive or private server space even if we have added one earlier

Steps to reproduce the behavior:
1. Go to Save App
2. Click on "+" icon to add dropbox space
3. After adding the dropbox space, try to

[2021-11-18 08:53] purvi-ranawat opened #271 "Closing a project which is no longer required could take fewer clicks"
Summary : When we have several projects open for the space and if we wish to close the project, there is no way that we can close the project. There should be "x" icon besides each project so that user can close the project which are no longer required

Steps to Reproduce :

1. Go to Save App
2. Open multiple projects for any of the space
3. Try to close the project which are no longer in use for

[2021-11-24 13:10] purvi-ranawat opened #273 "Blank screen is displayed when we click on Browse Existing Project for the dropbox space"
Summary : When we click on Browse Existing Projects for the dropbox, blank screen is displayed even though we have several projects with the media in the dropbox

Steps to reproduce the behavior:
1. Go to Save App
2. Select Dropbox space which already have several projects (with already uploaded media) added to it
3. Click on + icon on the space to select / create the project
4. Click on Browse Ex

[2021-11-29 22:17] n8fr8 commented on #198
In the case of a nextcloud instance, the server has an icon image it provides at:
/index.php/apps/theming/image/logo?useSvg=1&v=9

so
https://cloud.guardianproject.info/index.php/apps/theming/image/logo?useSvg=1&v=9

for instance for ours.

For other services like Dropbox or Internet Archive, we should use the stock icons from those services.

[2022-01-14 13:52] n8fr8 commented on #271
If you tap on the space icon, and then see "Project Settings" and then tap on the name of a project there, you will be given the "Remove from App" option.

Was the "X" icon something you expected from a design reference, or is this more a feature request from you?

[2022-02-05 10:31] ozgegn commented on #273
PR is opened ; https://github.com/OpenArchive/Save-app-android/pull/275

[2022-02-05 10:35] ozgegn commented on #271
Hi @n8fr8 @purvi-ranawat  ,
Any comments or decision about that issue ?

[2022-02-05 10:50] ozgegn commented on #270
Hi @purvi-ranawat , @n8fr8
There is a rule in code that checks if there is any added Dropbox space, it hides the layout for not to add another. Should it be changed ?

[2022-02-05 10:56] ozgegn commented on #269
PR; https://github.com/OpenArchive/Save-app-android/pull/276

[2022-02-05 11:15] ozgegn commented on #268
Hi @purvi-ranawat , @n8fr8
The condiitons says if the status of media is 4 or 5 update the status text as "Uploading". Should it be updated for 5 ?
STATUS_UPLOADING = 4
STATUS_UPLOADED = 5

[2022-02-05 11:23] ozgegn commented on #267
Hi @n8fr8 ,
Is this something we should search ?

[2022-02-05 11:24] ozgegn commented on #266
Hi @purvi-ranawat ,
Can we see the error ? Or is media uploaded to the space that wanted ?

[2022-02-06 14:39] ozgegn commented on #198
Hi @n8fr8 ,
Apk is shared to test the feature.

[2022-02-13 14:27] purvi-ranawat commented on #271
@n8fr8 / @ozgegn : I think this can be a feature request as it will be easier for the user close the project instead of going through few steps

[2022-02-15 07:26] purvi-ranawat commented on #270
@n8fr8  : Can you please reply to the above query from Ozge? I am not sure if this is design requirement that user is able to add only one dropbox. Can you please clarify the same

[2022-02-15 07:34] purvi-ranawat commented on #268
@ozgegn  : I think once the uploading of the media is 100% completed, the status should be shown as "Uploaded" so the user does not gets confused between which media is uploaded and which is still uploading.

@n8fr8 : Can you confirm the same?

[2022-02-15 07:49] purvi-ranawat commented on #273
@ozgegn  : The issue still exists. Still I am getting Blank screen when I click on Browse Existing Projects for dropbox space even though there are few existing projects

[2022-02-15 19:23] ozgegn commented on #273
Sorry my bad, I sent the wrong package. I will update it asap @purvi-ranawat

[2022-03-23 20:08] johnhess commented on #270
Still able to add just one dropbox space, though I can have several projects within it.

Next steps:
- Do we support multiple spaces in WebDAV/Internet Archive?  If so, how are they differentiated for the user & would same pattern work for drobpox?

[2022-03-23 20:19] johnhess commented on #267
Regardless of using Google's SSO, clicking "Acquire Keys" does nothing for me [on Android 11, A21].  The app just hangs and the OS asks if I want to wait or kill the app.

[2022-03-24 18:17] johnhess opened #277 "Proof is not uploaded"
**Describe the bug**
Despite having Proofmode installed, running in the background, with maximal permissions, and turning on proofmode in Save, no proof appears in Dropbox.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Save
2. Install and enable proofmode with all permissions
3. Enable proofmode within save
4. Take a photo in save and upload it to an existing project

**Expected be

[2022-03-24 19:28] n8fr8 commented on #277
Proofmode app is not required since Proofmode Lib is built into Save. Why it’s not being uploaded is a question tho.

On Thu, Mar 24, 2022, at 2:17 PM, John Hess wrote:

[2022-03-28 07:56] purvi-ranawat commented on #269
This is working fine . Hence closing the issue

[2022-03-28 07:56] #269 closed, assigned to ozgegn

[2022-04-06 15:43] johnhess commented on #108
This might be under specified @tladesignz, but take your best shot at it.  It would also be helpful to have debug information for uploads which succeed.

I noticed some wonky behavior around uploads.  Some of that behavior might be in the application's presentation layer, but especially as we talk less-straightforward upload paths (Tor, IPFS, chunked uploads, flakey/changing networks) it'd be nice

[2022-04-08 11:56] tladesignz commented on #267
Google disabled the ability to use "Sign in with Google" in embedded web view UIs. It also doesn't work on iOS:

https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html

We can't do anything about it, except explain the situation.

You can either
1. use a normal login inside the app-embedded web view, then Save will be able to scrape the access and secret keys.

[2022-04-08 11:58] tladesignz commented on #267
For reference, this is how it looks now:

![Simulator Screen Shot - iPhone SE1 @ iOS 15 - 2022-04-08 at 13 56 13](https://user-images.githubusercontent.com/117089/162430916-84a980d5-0d90-4bf1-bd65-72f24a25fa95.png)

(Same on Android. You don't even see the button anymore, because some library is now already blocked to load by the Google servers in this circumstances which results in that error mes

[2022-04-08 12:01] tladesignz commented on #267
For reference: This is what we currently show on iOS:

![Simulator Screen Shot - iPhone SE1 @ iOS 15 - 2022-04-08 at 13 58 29](https://user-images.githubusercontent.com/117089/162431183-9af5f923-ea7f-4d18-b17a-a85d4a0a26e0.png)

Android only shows this text between the key entry fields and the "Acquire Keys" button:

On iOS, when you tap the middle paragraph, you're forwarded to the system browser

[2022-04-08 12:10] tladesignz commented on #268
On iOS, we remove items, which are done.
There's also the common status displayed in the title bar:

![Simulator Screen Shot - iPhone SE1 @ iOS 15 - 2022-04-08 at 14 07 38](https://user-images.githubusercontent.com/117089/162432461-df62a148-14bc-4a2e-a7a3-f7c885c4a067.png)

I suggest to adapt the Android version to the behaviour of the iOS version, including brushing up the styling (e.g. more spac

[2022-04-08 12:12] tladesignz commented on #268
@johnhess is that an acceptable plan?

[2022-04-08 12:26] tladesignz commented on #108
"might" is quite the understatement, @johnhess. 🤣

Happy to fill in some gaps, but this definitely needs some explanation before I can start implementing anything.

Questions:

- Add more debug info to what?
  - A log?
  - CleanInsights?
- If log, where should this log reside?
  - In the app database?
  - In the app filesystem?
  - In the user-accessible part of the file system?
  - In RAM?
  - On

[2022-04-08 14:18] johnhess commented on #267
Gotcha, I'd assumed it was something misbehaving, rather than WAI.

I don't mind getting a UX designer involved, but we may need to bring some information to the table about what options there are to authenticate and/or upload to IA.  Can you do a bit of digging and add information on this ticket?

[2022-04-08 14:19] johnhess commented on #268
Love it.  Solves the problem and consistency!  Let's go with that.

[2022-04-08 14:31] johnhess commented on #108
I trust your judgment too as to what's worthwhile and what's not worth the effort.

I'd like to have a

* local-to-device log that we can use for both debugging/replicating (not sure to what degree we have it now)
* way for a user to get more information on their failing upload that they could optionally share with us [nice to have].
  * No need to have an automated reporting mechanism/sink for th

[2022-04-12 05:10] purvi-ranawat opened #278 "Connect Your Space screen should be displayed when we remove dropbox id from the app and if the user do not have any other space logged in"
When we connect using only dropbox and no other spaces and then remove the dropbox id from app, it should show us the "Connect Your Space" screen only as there are no other spaces. Instead , the app is not refreshed and the dropbox id which was removed from the app is only shown. When we go to the Project space and then come back again, the dropbox id disappears but still the other details related

[2022-04-12 15:38] tladesignz commented on #108
As talked on the meeting, I'll first do #268 and then revisit this with the knowledge of my findings.

[2022-04-12 15:45] tladesignz commented on #267
Here's the Internet Archive's documentation about its API:
https://github.com/vmbrasseur/IAS3API

To my knowledge, there's no API to create accounts or the like, and no other facilities and libraries for authentication than these API access keys.

So, there's these 2 options:

1. Use a browser, log in, go to that page which shows you the keys and copy-paste that into our app.
2. Let the app try to

[2022-04-12 19:21] johnhess opened #279 ""Done" button in onboarding slideshow is invisible"
**Describe the bug**
Upon install, the user is presented with a set of slides explaining the app.  The last slide explains that the user can "Save over Tor" and has a button "Enable".  There's also a button in the bottom right for those not inclined to "Enable" that says "Done", but the text of that button is the same color as the background (blue green).

The button should be visible.

**To Repro

[2022-04-12 19:28] johnhess opened #280 "Image not uploaded to NextCloud"
**Describe the bug**
Images are not uploaded to NextCloud.  A folder for the image is created but neither the image file nor the metadata file appear on the server, nor does the app reflect the upload succeeded.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Save
2. Provide valid creds for NextCloud Server
3. Create new project
4. Select a single file and upload it.

**Expected beha

[2022-04-12 22:00] johnhess opened #281 "Create New Android Release"
@tladesignz Can you create a test release for @purvi-ranawat to thoroughly test this milestone's CUJ on?  Since the last play store release in 2020, there have been some fixes.  I also want to make sure we catch any regressions introduced in e.g. the Kotlin migration before we give this milestone the "all clear".

[2022-04-12 22:53] #267 closed, assigned to tladesignz

[2022-04-13 00:59] n8fr8 commented on #281
I have the release key for Android, so it has to be me, for now.

[2022-04-13 16:05] johnhess commented on #281
Do we need the release key for a test release?  I thought those could be unsigned.

If we do, what's your preference is in terms of key security vs. workload?  I'd be happy to raise the "bus factor" and would like to be able to fire out a release on demand.

[2022-04-14 08:41] tladesignz commented on #281
They try to move you over to resigning, but we're trying to stay with the old system because that means nobody needs to trust Google.

However, even for the new process where Google repacks and resigns your apps, you'll need a release key AFAIR.

For that, the private key needs to be shared. Either by really sharing it, or by setting up a machine which is the key owner and can be used for signing

[2022-04-19 05:03] purvi-ranawat opened #282 "On Onboarding last slide, Start / Open button should be there for Orbot if it is already installed"
Describe the bug :
 Pre-requisite : Orbot is already installed before Save App

When we have already installed Orbot and then install and access Save App for the first time, on last slide of Onboarding, for Orbot (Save over Tor), Install is displayed for Orbot. But as we have already installed Orbot before Save, it should either say "Start" to start the orbot or anything relative if orbot is alrea

[2022-04-25 05:56] purvi-ranawat commented on #198
@johnhess For thegood.cloud instead of icon first letter of server URL is getting displaye
![WhatsApp Image 2022-04-25 at 11 22 57 AM](https://user-images.githubusercontent.com/8190141/165028833-30d7f0c5-bfc6-4537-95ab-59873cc64aed.jpeg)
d

[2022-04-27 15:42] johnhess commented on #281
@n8fr8 can you post that QA build?

[2022-04-29 09:12] tladesignz commented on #268
Ok, I had a little time here in a very boring conference, so I started off with Android development.
Cleaned up code, fixed lint warnings and improved UI a little.

Now stumbled across the fact, that the problem is not, that done items aren't filtered, but obviously done items are not set to status `UPLOADED`. Will need more time to investigate, as there seems to be code in the middle of conversio

[2022-05-02 15:00] johnhess commented on #268
Do you have a sense of whether this is an isolated issue or if there seems to be a lot of WIP/duplication elsewhere in the project?

Not with me.  @n8fr8 could you give us the cliffs notes on translation for Save Android?

[2022-05-04 13:39] tladesignz opened #283 "Upload not stopping when editing/resorting the upload list"
Currently, the `UploadService` is stopped, but that doesn't do it most of the times.
There needs to be a flag in the database, which controls pausing.

Refer to iOS version, how it's done there.

[2022-05-24 22:18] pkhivesara commented on #279
This seems to be fixed on master. Let me know if there is anything else to be done on this ticket @johnhess

[2022-05-25 01:57] #279 closed, assigned to pkhivesara

[2022-05-25 22:05] pkhivesara commented on #280
@tladesignz @johnhess Seeing some rather interesting behavior. ``PUT`` request via OkHttp3/Sardine seems to fail on physical devices, but not on the emulator. I tried uploading a 7KB image through the device, and the connection is reset half way through from the server. Its almost as it the connection is dropped because of some server config.

The file in question: ``WebDAVSiteController.kt#transf

[2022-05-25 22:25] pkhivesara opened #284 "Login UI needs to be cleaned up to highlight server url field"
**Describe the bug**
The login UI on Android app does not highlight the fact that server url field is a editable one.

**Steps to reproduce the behavior**
   - Install Save
   - Walk through the initial onboarding screens
   - Select 'Private Server' option
   - Observe the ``WebDAV/Nextcloud Server`` field

**Expected behavior**
 The field needs to be appear consistent with the other fields on th

[2022-05-26 10:47] tladesignz commented on #280
No idea why that happens. Some ideas for debugging, though:

- Use your own Nextcloud server and have a look at the logs there.
- Check the reference lifetime of the OkHttp / Sardine objects. There might be differences in the Garbage Collector which removes unreferenced objects earlier on the device than in the simulator, which might lead to a sudden transfer stop.

[2022-05-26 17:12] johnhess commented on #280
@purvi-ranawat could you share the OA goodcloud login with @pkhivesara so we can see if there's something particular about tab.digital?  Alternatively, perhaps just test against that and let us know what you get.  That would let us rule out tab.digital as the cause.

[2022-05-27 06:55] purvi-ranawat commented on #280
@pkhivesara @johnhess I use the following credentials for OA,thegood.cloud
server: oa.thegood.cloud
username: OA_Tester
pw: gogo2021_$

[2022-05-27 08:08] tladesignz commented on #280
That was not a good idea. This website is world-readable and indexed by search engines. Please change password immediately and only share credentials via private messaging. Encrypted messaging, at best!

[2022-05-31 15:56] johnhess commented on #284
Could you share a screenshot @pkhivesara?

[2022-05-31 16:00] johnhess commented on #284
AFAICT, both @pkhivesara and I struggled the first time we tried to login to the NextCloud, mistaking "server name" for a URL field.

We eventually clued into the correct field usage (which, yes, is *technically* clear on what's what), but it seems like a potential stumbling block we can remove.

[2022-05-31 17:18] johnhess opened #287 "Fix Circle CI"

[2022-06-01 20:13] #268 closed, assigned to johnhess

[2022-06-02 11:38] tladesignz commented on #278
What I implemented on iOS is, that the UI updates correctly when state changes - Even when there's no space anymore.

Then, when the user wants to jump into any activity, e.g. to create a project, add a file, work on settings etc. it's always the same logic:

- Check, if a space exists.
  - Set first space selected, if none selected, yet.
  - If no space exists, jump user to space creation workflo

[2022-06-03 10:37] purvi-ranawat opened #290 "App closes when we click on Add a Project text"
When we install the app and configure Dropbox, Internet Archive or any other server, and click on Add a Project text, app closes.

Steps to reproduce:
1. Install the app
2. Configure Internet Archive or Drobox
3. Click on Add a Project text

**Expected results**
Add a Project screen should be displayed with options like Browse Existing Projects, and Create New Project

**Actual results**
App close

[2022-06-03 11:37] purvi-ranawat commented on #273
It works fine.

[2022-06-03 11:37] #273 closed, assigned to ozgegn

[2022-06-03 11:53] purvi-ranawat opened #291 "When we click on Browse Existing Projects for the Nextcloud, blank screen gets displayed"
When we click on Browse Existing Projects for the Nextcloud, blank screen gets displayed, even though we have several projects with the media in Nextcloud

1.Go to Save App
2.Select Nextcloud space which already have several projects (with already uploaded media) added to it
3.Click on + icon on the space to select / create the project
4.Click on Browse Existing Project

Expected behaviour:
If the

[2022-06-03 15:52] pkhivesara commented on #268
@purvi-ranawat Should be fixed in latest release.

[2022-06-03 15:52] pkhivesara commented on #284
@purvi-ranawat Should be fixed in latest release.

[2022-06-03 15:52] pkhivesara commented on #280
@purvi-ranawat Should be fixed in latest release.

[2022-06-03 16:00] pkhivesara commented on #282
@purvi-ranawat Should be fixed in latest release

[2022-06-07 08:53] tladesignz commented on #277
Is this only not working in Dropbox? It seems the respective code is in a class specific to Dropbox. Without getting in the weeds now, this smells heavily like there is a refactoring necessary.

[2022-06-07 14:48] johnhess commented on #277
I have no reason to believe this is isolated to Dropbox.  I mention what I did just so folks can replicate.

[2022-06-09 13:36] purvi-ranawat opened #294 "On Logging into the dropbox, the username is not displayed for the dropbox at first"
Describe the bug :

When we first login into the dropbox, the username with which we have logged in does not display on the Log In screen. We have use the back button and come back again on the login screen to see the ussername

Steps To Reproduce :

1. Install Save App / Open Save App
2. On Connect Your Space, select dropbox
3. Login into your dropbox
4. Verify the username on Login screen

Expec

[2022-06-09 16:07] johnhess opened #295 "Upload proof to IA?"
Should IA have proof uploaded and if so, how (it's not a simple directory structure like the other servers)?  Is it broken or was it never implemented?

See #277 which was the bug for proof not getting uploaded to the other servers.

[2022-06-13 14:01] #294 closed, assigned to nobody

[2022-06-14 00:54] johnhess commented on #281
0.2.4-RC-5: https://play.google.com/apps/test/net.opendasharchive.openarchive.release/20435

[2022-06-14 00:54] #281 closed, assigned to johnhess

[2022-06-14 01:20] #287 closed, assigned to pkhivesara

[2022-06-14 01:31] johnhess commented on #283
@tladesignz you've assigned this to yourself.  Do you intend to handle this one personally?

[2022-06-14 01:36] johnhess commented on #283
From what I can gather from the title of this issue, I'm not sure that's a bug.  Is it that the upload doesn't stop _during_ the resorting?  Or that once resorted, the top most item is not uploading because the previously top most item is continuing?

[2022-06-14 01:48] johnhess opened #299 "App freezes on "uploads" pane"
When Uploading multiple files and clicking the circled number (to go to the "Uploads" list view), the percentages never change.  In my replications, they all remained at 0%.  After a while, when clicking "Edit" to resort, I get the message that the app is not responding.

**To Reproduce**
Steps to reproduce the behavior:
1. Select several photos to upload
2. Click the circled number at the top rig

[2022-06-14 02:01] johnhess opened #300 "The same dropbox space can be added twice"
**To Reproduce**
Steps to reproduce the behavior:
1. Add Dropbox Space to app
2. [If necessary, add IA space to app]
3. Add new dropbox space to app using same credentials

**Expected behavior**
A de-duplicated set of spaces is presented.  Possibly an informative message would say that I've already got a space with these credentials.

**Environment (please complete the following information):**
 -

[2022-06-14 02:05] johnhess commented on #265
@purvi-ranawat can you please verify this is still happening with 0.2.4-RC-5?

[2022-06-14 02:05] johnhess commented on #266
@purvi-ranawat can you see if this is still happening on 0.2.4-RC-5?

[2022-06-14 02:06] johnhess commented on #270
Oddly, I am now (0.2.4-RC-5) able to add two dropbox spaces _with the same credentials_.  I'd argue that is also a bug in that displaying a duplicate of the same space is not helpful.

[2022-06-14 10:35] purvi-ranawat commented on #266
This is working fine. Now once the media is uploaded, it is removed from Upload pane and once all the media are uploaded, Upload Pane is empty

[2022-06-14 10:35] #266 closed, assigned to johnhess

[2022-06-14 12:24] purvi-ranawat opened #301 "Not able to upload multiple media if we select the media from project screen"
**Describe the bug**
A clear and concise description of what the bug is.

Steps to reproduce the behavior:
1. Install / Open Save App
2. Open / Create new Folder
3. Click on + icon to select the media
4. Select few media and click on Apply
5. On Project screen, select one media and click on upload
6. After uploading the first media, select two media and click on Edit

Expected behavior :
Two image

[2022-06-14 12:43] tladesignz commented on #283
Well, my idea was to adapt to the behaviour we have in iOS, but you talked me into implementing something else:

https://github.com/OpenArchive/Save-app-ios/issues/202#issuecomment-1142534597

So, this issue needs to adapt, too, I guess.

The reason why I am assigned is, yes, I planned on doing this, but this was back then when there was no Pratik.

[2022-06-14 12:52] purvi-ranawat opened #302 "Wrong number of items uploaded are displayed if we upload only few items out of all the selected media"
Description :

Steps to reproduce the behavior:
1. Go to Save App.
2.  Select any folder
3.  Select few media and navigate back to the Project screen
4. Click on only one image and select Upload
5. Once the image is uploaded, navgiage back to the Project Screen

**Expected behavior**
Above the media , it should say "1 out of (total # ) uploaded. for eg. if we have selected 4 images and uploaded 1

[2022-06-14 19:02] #290 closed, assigned to johnhess

[2022-06-15 05:33] purvi-ranawat commented on #265
@johnhess The issue still exist, I tried with Save 0.2.4-RC.5 on Android 11
attached the screenshot.
![WhatsApp Image 2022-06-15 at 10 58 40 AM](https://user-images.githubusercontent.com/8190141/173746995-a787ea08-2e78-44ce-98ae-3df336b90b0b.jpeg)

[2022-06-15 13:35] purvi-ranawat commented on #268
@johnhess  / @pkhivesara : This is working fine now. Now once the media is uploaded, it automatically gets removed from the Upload Pane

[2022-06-15 19:05] #291 closed, assigned to johnhess

[2022-06-16 06:28] purvi-ranawat commented on #280
@johnhess @pkhivesara

Uploading to OA.thegood.cloud was successful, however, not able to upload on nextcloud (sam.nl.tab.digital). It keeps on processing.

Tested on Android 11 for Save version 0.2.4-RC.5

[2022-06-16 10:01] purvi-ranawat commented on #282
It works fine for Save 0.2.4-RC-5

[2022-06-16 10:08] purvi-ranawat commented on #290
@pkhivesara The issue still exist for Dropbox and Goodcloud, whenever the app is installed and configured with this servers. Tested on android 11 for Save: 0.2.4-RC.5

[2022-06-16 10:25] purvi-ranawat commented on #284
It works fine for Save 0.2.4-RC.5
attached the screenshot:

![Image](https://user-images.githubusercontent.com/8190141/174050616-cc6bdd9e-46f6-417d-9597-63449d402ea7.jpeg)

[2022-06-16 14:26] pkhivesara commented on #280
@purvi-ranawat The uploading of the image on NextCloud takes some time. I believe on an average of 10-11 seconds. Of course, the bigger the image, the more time it needs. Could you retest this and let me know what do you see?

[2022-06-16 16:35] pkhivesara commented on #290
@purvi-ranawat This was fixed 2 days ago I believe. Will be available in the upcoming build.

[2022-06-16 17:47] purvi-ranawat commented on #280
@pkhivesara It keeps on processing but never uploads, I tried with 1.3 MB size and waited for few minutes.  The issue is with sam.nl.tab.digital, it works fine with OA.THEGOOD.CLOUD

Attached the screenshot.

![WhatsApp Image 2022-06-16 at 11 13 15 PM](https://user-images.githubusercontent.com/8190141/174133673-f982c719-802a-488c-bc24-9c9a19867a13.jpeg)

[2022-06-16 19:31] pkhivesara commented on #280
I am seeing a different behavior as seen in the video. Am I missing something here?

https://user-images.githubusercontent.com/6237488/174150040-f6f485a6-5cb0-42e1-abc1-e948fb47039a.mov

[2022-06-17 07:03] purvi-ranawat commented on #280
@pkhivesara After reinstalling the app, images are showing as uploaded in mobile device, but still the folder is not created in nextcloud (sam.nl.tab.digital)

[2022-06-17 14:04] pkhivesara commented on #280
@purvi-ranawat I have attached a video to this link which shows the file being uploaded and the same being visible within nextcloud: https://we.tl/t-Wj7pX13lMr

Can you perhaps share a recording of what is the behavior on your end

[2022-06-17 15:49] purvi-ranawat commented on #280
@pkhivesara : Please find attached the video for the same.

https://user-images.githubusercontent.com/8190141/174332841-de78d43c-c556-481d-afd0-291c5fa1a54f.mp4

[2022-06-20 20:42] #300 closed, assigned to johnhess

[2022-06-21 08:53] purvi-ranawat opened #306 "semi colon is displayed when we have space in between the people's name on Details screen for the media"
Steps to reproduce :
1. Go to Save App
2. Select few images and click on Apply
3. Select the image and click on Edit
4. In the Add People field, add the name of the person with space in between (eg. Purvi Shah)
5. Again click on the edited image and verify the person name

**Expected behavior**
Person name should be displayed correctly as it was enter

Actual Result :
semi colon is displayed inste

[2022-06-21 14:11] johnhess commented on #283
Blocked waiting on iOS reference implementation

[2022-06-21 14:21] tladesignz commented on #283
Expected behaviour now:
- Keep finished uploads around until user leaves management scene.
- Remove finished uploads on *leave* **and** on *enter* of management scene. (To make up for situations, where a user never leaves the scene, but the app gets killed instead.)
- Don't stop uploading when reordering.
- Allow reordering of *all* uploads, regardless of their state.

[2022-06-21 17:38] johnhess opened #307 "Proof *.csv.asc is sometimes not uploaded"
While proofmode is enabled, sometimes, the .asc file is not also uploaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable proofmode
2. Upload one or more files (I used an existing nextcloud project)

**Expected behavior**
one proof .csv and one .csv.asc are uploaded for each file I've uploaded.

**Actual behavior**
Sometimes, the .csv.asc is missing.  In one multi-file upload, a sing

[2022-06-21 20:26] johnhess commented on #258
@tladesignz does our discussion earlier mean that this is not the pivot to make (and instead, stay with Orbot until maybe Tor VPN supercedes it)?

if so, feel free to close this.

[2022-06-22 08:06] tladesignz commented on #258
Well, there's a push to have Tor in as much apps as possible.
I think on Android, it's easier to have a built-in Tor coexist with Orbot. (But please talk to Nate about how that works.)
It's definitely easier for the user, because they don't have to download another app.
Not sure about the Play Store China situation, though. (Again, talk to Nate.)

[2022-06-22 14:57] pkhivesara commented on #280
@johnhess @purvi-ranawat NextCloud has two identifiers for its users, email and username. The WebDav upload URLs are based off the username, not email. Using the username/password combo to login fixes this issue.

[2022-06-22 16:15] #306 closed, assigned to johnhess

[2022-06-22 16:48] purvi-ranawat commented on #280
@johnhess Images are getting uploaded when using the Username instead of email for NextCloud.

[2022-06-23 02:08] johnhess commented on #280
@pkhivesara is there a way we can validate that a user isn't feeding an email-which-is-not-a-username into that form or, one better, identify the username regardless of whether or not they've used it or their email-which-is-not-a-username?

Mostly, I'd just like to take the sharp edges off.

[2022-06-23 14:17] n8fr8 commented on #258
Save on Android isn't distributed in Chinese app stores (and likely wouldn't able to be), so integrating Tor directly is not a problem.

Also, yes, Tor in Save can coexist with Orbot just fine. No need to wait for future Tor VPN either.

OnionShare shows how this is possible to do:
https://github.com/onionshare/onionshare-android

Ultimately, if "Archive media over Tor" is going to remain a key ma

[2022-06-23 21:34] #302 closed, assigned to johnhess

[2022-06-27 18:08] #301 closed, assigned to johnhess

[2022-06-28 04:05] purvi-ranawat commented on #290
It works fine for Save 0.2.4-RC-6-3ba7fdb

[2022-06-28 04:23] purvi-ranawat commented on #306
It works fine for Save 0.2.4-RC-6-3ba7fdb

[2022-06-28 07:57] purvi-ranawat commented on #291
It works fine for Save 0.2.4-RC-6-3ba7fdb

[2022-06-28 08:07] purvi-ranawat commented on #278
It works fine for Save 0.2.4-RC-6-3ba7fdb

[2022-06-28 13:37] purvi-ranawat commented on #299
This is working fine now. I have tried uploading more than 10 images and videos at once and it haven't freezed. It uploaded successfully.

Environment :

OS Version : Android 11
Device : Samsung Galaxy M32
App Version : 0.2.4-RC-6

[2022-06-28 13:48] johnhess opened #311 "Make Android Release"

[2022-06-28 13:51] purvi-ranawat commented on #300
@johnhess : Currently I am not able to add the dropbox twice. Once we have added the dropbox, I am not seeing the dropbox option again. Is this fine?

[2022-06-28 14:04] johnhess opened #312 "Generate Android dev builds via CI"
Goal: Generate dev (not production) builds.  Pratik to see what access blockers there may be and what the current configuration is/whether builds provided today are adequate.  If they're not adequate, will add info here on what's needed.

[2022-06-28 14:20] johnhess commented on #300
No, I think it should allow you to add a (different) dropbox.  It just shouldn't let you create the same space (e.g. spaces with identical creds)

[2022-06-28 14:23] johnhess opened #313 "Get ready for Android app red team audit"
This is a tracking ticket for work we'll want to do before handing an APK over to the OTF red team auditors.  Please comment here (or create a new issue and comment about it below) if there are things we'll want to fix or consider fixing before then.

[2022-06-28 14:24] johnhess commented on #313
**Some current concerns raised in scrum mtg w/ @pkhivesara:**

* Permission `READ_EXTERNAL_STORAGE`
    * We are reading external storage, would an attacker decompiling our APK be able to make use of this permission?
* Legacy permission flag `requestLegacyExternalStorage`
    * Circumvents new model which better protects the user
    * Might be at risk of deprecation (was going away in Android 30;

[2022-06-28 14:26] johnhess commented on #313
Leaving in backlog for now since we may not want to move on this ticket until the iOS audit comes back.

[2022-06-28 14:30] johnhess commented on #300
bouncing this one over to assigned/adopted so that multiple non-identical dropbox spaces can be allowed.

[2022-06-28 14:43] johnhess commented on #311
https://play.google.com/apps/test/net.opendasharchive.openarchive.release/20436

[2022-06-28 14:43] johnhess commented on #311
[sent to internal testing via Google Play]

[2022-06-28 14:45] johnhess commented on #311
https://github.com/OpenArchive/Save-app-android/tree/0.2.4-RC-6

[2022-06-28 14:45] #311 closed, assigned to johnhess

[2022-06-28 14:46] johnhess commented on #282
[Release](https://github.com/OpenArchive/Save-app-android/tree/0.2.4-RC-6) sent to internal testing [download APK](https://play.google.com/apps/test/net.opendasharchive.openarchive.release/20436)

[2022-06-28 14:46] #282 closed, assigned to johnhess

[2022-06-28 14:47] johnhess commented on #284
[Release](https://github.com/OpenArchive/Save-app-android/tree/0.2.4-RC-6) sent to internal testing [download APK](https://play.google.com/apps/test/net.opendasharchive.openarchive.release/20436)

[2022-06-28 14:47] #284 closed, assigned to johnhess

[2022-06-28 14:50] johnhess commented on #280
Moving this over to in progress.  If the above comment is already addressed/mooted, feel free to move it back.  Otherwise, let's fix the trapdoor of being able to log in with something that'll break downstream.

[Shameless plug to my preferred mental model for these kinds of issues](https://en.wikipedia.org/wiki/Poka-yoke)

[2022-06-28 14:53] johnhess commented on #299
Glad to hear it's fixed.

@purvi-ranawat I *just* built and pushed up 0.2.4-RC-6 up to internal testing.  I suspect we might have a naming collision here with the release you used and the "real" one that's tagged in the repository/uploaded to the play console's internal testing track.

If this isn't a typo, @pkhivesara can you be sure to name dev builds with reference to their commit hash so there

[2022-06-28 14:53] #299 closed, assigned to johnhess

[2022-06-28 14:57] johnhess commented on #278
[Release](https://github.com/OpenArchive/Save-app-android/tree/0.2.4-RC-6) sent to internal testing [download APK](https://play.google.com/apps/test/net.opendasharchive.openarchive.release/20436)

[2022-06-28 14:57] #278 closed, assigned to johnhess

[2022-06-28 16:37] purvi-ranawat opened #314 "Blank screen is displayed when we try to select the media from the dropdown on Select Media screen"
**Describe the bug**
A clear and concise description of what the bug is.

Steps To Reproduce :

1. Open Save App
2. Click on "+" to add Media
3. Click on the drop down to select folder from which Media will be selected

**Expected behavior**
Images and Videos available in that folder should be available for selection

Actual Result :

Blank screen is displayed on selecting the folder from the drop

[2022-06-29 12:59] purvi-ranawat commented on #302
It works fine for App version 0.2.4-RC-6

[2022-06-29 16:53] purvi-ranawat opened #315 "Extra "Next" button is displayed on Project screen"
**Describe the bug**
Extra "Next" button is displayed on Project screen when there are few images which are not uploaded whereas there is no next button on IOS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Save App
2. Click on + to add few media
3. Without uploading, go to the Project Screen

**Expected behavior**
Extra Next button shoiuld not be displayed on project screen on the ri

[2022-06-30 06:39] purvi-ranawat opened #316 ""Publish" word is displayed when we just keep the number of uploads displayed on top right side pressed"
**Describe the bug**
A clear and concise description of what the bug is.

Steps to reproduce the behavior:
1. Go to Save App
2. Click on + icon to add media
3. Select few media and click on Apply
4. On Project screen, press the number of uploads displayed on top right side

**Expected behavior**
When we leave the pressed number , it should take us to the Upload pane screen

Actual Result :
When we

[2022-06-30 13:11] purvi-ranawat commented on #301
This is working fine now.

OS Version : Android 11
Device : Samsung Galaxy M32
App Version : 0.2.4-RC-6

[2022-06-30 18:34] pkhivesara commented on #300
Fixed. Will be made available in the next build in RC7.

[2022-07-01 15:50] pkhivesara commented on #280
@johnhess So I looked into the possibility of getting a username from a login. I dont see any such fields in Sardine right now. And I dont see anything in webdav APIs for nextcloud either. Any suggestions?

[2022-07-01 16:46] pkhivesara commented on #277
@purvi-ranawat Was this resolved in the new build?

[2022-07-02 10:38] purvi-ranawat commented on #277
@pkhivesara  :

a) This is not yet resoved. Enabling / Disabling of proofmode in Save app does not impact the upload in dropbox. ,I am not able to see the proof when I upload in dropbox even though proofmode is enable in Save app.

b) I can upload the proof manually created by me through proofmode app.

[2022-07-04 11:50] purvi-ranawat opened #318 "Media uploaded successfully on previous day shown as processing when we access the app next day"
**Describe the bug**
A clear and concise description of what the bug is.

Steps to reproduce the behavior:
1. Access Save App on first day
2. Upload few media on Save App
3. Access Save App on next day

Expected behavior :
Media uploaded on the previous day should be visible correctly on the next day when we access the Save App if we have not deleted the same.

Actual Result :
Media uploaded succe

[2022-07-04 16:18] purvi-ranawat opened #319 "No error message is displayed if we have tried uploading the media with more size than the available size on the space"
Precondition : Available space on the server should be lesser than the size of the media getting uploaded

Steps to reproduce the behavior :
1. Go to Save App
2. Connect to the space which has lesser size than the media getting uploaded
3. Select the media of more size and click on Upload

Expected behavior
Error message stating that the server does not have the space required

Actual Result :

No

[2022-07-05 13:04] linsui opened #320 "F-Droid build failed"
**Describe the bug**
We don't have a dropbox key. How can we build it? I tried to provide an empty string but it seems that doesn't work. Could you please take a look? Thanks!

[2022-07-05 14:27] johnhess commented on #280
2 non mutually exclusive options:

1. We create a new ticket with a title that describes the issue (username v. email causes failures) until we can identify a way to self-correct the issue (e.g. detect the username based on the email).
2. [Half-solution] Implement a self test that lets a user know at login that uploads aren't working and says something along the lines of "make sure you're logging

[2022-07-05 14:27] #280 closed, assigned to pkhivesara

[2022-07-05 14:33] johnhess opened #321 "Logging into WebDAV with email instead of username causes uploads to fail"
[See #280 from which this issue was forked]

**To Reproduce**
1. Log in to a WebDAV space with your email and password where your email != your username
2. Attempt to upload files

**Expected behavior**
I was able to login, therefore I am able to upload.

**Actual behavior**
Upload fails (apparently because we are not identifying ourselves by username).

This bug would be high priority, but will b

[2022-07-05 14:42] johnhess opened #322 "Implement a self-test to poka-yoke username-based login"
[See #280 from which this issue and #321 were forked]

When a user logs in to WebDAV servers using their email and password (where their email != their username), uploads can subsequently fail.  This took our team a whole day to debug so we can reasonably expect most users will not be able to fix this for themselves without some assistance.

Let's implement a self-test to check if the user can mak

[2022-07-05 14:43] johnhess commented on #321
clarification: #322 calls for an 80% solution -- telling the user to fix the issue.  Resolving this issue would require supporting email-based login when email != username (e.g. by detecting username).

[2022-07-05 14:45] johnhess commented on #321
This is a low-priority bug because of #322.  If #322 were not implemented, this would be higher priority.

[2022-07-05 20:42] johnhess commented on #320
Thanks for reaching out @linsui!  And you're spot on, it wont build without some value for that key.  Of course, a dummy string like `foo` will allow the build to finish, but will not identify the app properly to Dropbox.  I often use that in local development.

Two questions:

1. Can you help me understand what these builds are used for? I assume for the nightly process since our signing keys wou

[2022-07-06 02:31] linsui commented on #320
F-Droid uses their own key unless  the apk is reproducible. These build are used for the main repo.

F-Droid has their policy about this:

So the key needs to be put in this repo or the metadata in the F-Droid repo. As you said, it can be extracted from the apk so no secret here. You can also provide another key for F-Droid build to isolate them. It's eaiser to just put a dummy key or remove the d

[2022-07-06 05:31] purvi-ranawat opened #324 "Update fails when we try to update on the previous build"
Pre condition : Save app from the previous build should already be installed

Steps to reproduce :
1. Download the latest Save installer
2. Install Save app from the latest build on the previous build Save App

Expected behavior :
Save app from the latest build should be updated on the previous build

Actual Result :
On Installing the latest build on the previous build, it says "App not installed"

[2022-07-06 15:35] pkhivesara commented on #318
@purvi-ranawat I am not able to recreate this. Can you please provide a video recording of the issue.

[2022-07-07 09:41] purvi-ranawat commented on #307
@pkhivesara It works fine for Dropbox and Nextcloud. However, proof or asc. files are not uploaded on Internet Archive

Tested version 0.2.4-RC-7.84eb59d

[2022-07-07 09:43] purvi-ranawat commented on #277
@pkhivesara It works fine for Dropbox and Nextcloud. However, proof or asc. files are not uploaded on Internet Archive

Tested version 0.2.4-RC-7.84eb59d

[2022-07-07 09:53] purvi-ranawat commented on #300
It works fine now.

Tested version 0.2.4-RC-7.84eb59d

[2022-07-07 12:52] purvi-ranawat opened #325 "On Enabling the Proofmode, wrong permission pop up is displayed"
Steps to reproduce the behavior:
1. Go to Save App for the first time
2. Click on space name on top
3. Click on Metadata under App Settings
4. Enable ProofMode

Expected behavior :
Permission pop up should not be displayed and proofmode should be enabled successfully

Actual Result :
"Allow Save app to make and manage phone calls?" permission pop up is displayed even though phone calling is not th

[2022-07-08 20:51] tladesignz commented on #277
Yeah, no. Internet Archive is very different from Dropbox and Nextcloud. It isn't a file storage, but an asset storage where assets also contain metadata. We need to look into the spec, and see if we could somehow add the Proofmode metadata.

https://github.com/vmbrasseur/IAS3API/blob/master/metadata.md

[2022-07-11 08:01] purvi-ranawat commented on #318
@pkhivesara It happens mostly with Dropbox.

https://user-images.githubusercontent.com/8190141/178216911-f0529276-0efa-4822-ba40-29e88a952993.mp4

[2022-07-11 17:53] #314 closed, assigned to johnhess

[2022-07-11 19:32] #315 closed, assigned to johnhess

[2022-07-12 18:40] johnhess commented on #320
I'll plan to add the dropbox key directly to this repo and update this ticket when I do.

[2022-07-15 14:35] pkhivesara commented on #318
Can this be combined with https://github.com/OpenArchive/Save-app-android/issues/265. Seems to be the same.

[2022-07-18 00:55] pkhivesara commented on #265
@purvi-ranawat I am still unable to recreate this issue after debugging a bit. I uploaded two images on July 16, 2022 and one image which is queued on July 16 as well. I do see all 3 images as expected when I opened the app today.

Is this issue specific for a certain file type? Are you seeing this issue for videos, audio, images?

![Image](https://user-images.githubusercontent.com/6237488/1794319

[2022-07-18 06:49] purvi-ranawat commented on #316
It works fine for 0.2.4-RC-8

[2022-07-18 10:25] purvi-ranawat commented on #315
It is working fine for version 0.2.4-RC-8.6775082

[2022-07-18 11:36] purvi-ranawat commented on #314
This is working fine.

[2022-07-18 20:39] #260 closed, assigned to johnhess

[2022-07-19 05:02] purvi-ranawat commented on #307
It works fine for Save version 0.2-4-RC-8.6775082

[2022-07-19 05:08] purvi-ranawat commented on #277
It works fine for Save version 0.2-4-RC-8.6775082

[2022-07-20 09:22] purvi-ranawat commented on #318
@pkhivesara : Yes. We can combine this issue with #265. It was for the media which were not uploaded.

This is happening for images and videos both on dropbox

[2022-07-20 15:38] pkhivesara opened #330 "Convert IA files from Java To Kotlin"
**Describe the bug**
Certain file for Internet Archive flow in Android are in Java. Need to move them over to Kotlin.

[2022-07-22 11:30] purvi-ranawat commented on #260
@pkhivesara This is still not working it saves the changes only for the first image.

OS version: Android 11
Device: Samsung M32
App version: 0.2.4-RC-9

[2022-07-22 15:31] pkhivesara commented on #260
@purvi-ranawat Can you share a video with the entire flow

[2022-07-22 15:40] #322 closed, assigned to johnhess

[2022-07-22 16:54] purvi-ranawat commented on #260
@pkhivesara please find the attached video

https://user-images.githubusercontent.com/8190141/180487462-c7be55c9-4c54-4baa-a848-9b3d3a3713fe.mp4

[2022-07-22 16:58] pkhivesara commented on #260
@purvi-ranawat I am confused here. As per your first comment:

Are we supposed to copy the same details for all the media? Or should each media have its own data? What is the expectation here?

[2022-07-22 19:59] #330 closed, assigned to pkhivesara

[2022-07-22 20:02] pkhivesara commented on #324
@purvi-ranawat This is more of a device issue than an app issue. There might be settings on the device that might be causing. Closing.

[2022-07-22 20:02] #324 closed, assigned to nobody

[2022-07-22 20:06] pkhivesara commented on #325
@purvi-ranawat That permission is required to be able to generate proof and all its associated files successfully. Without that permission, the app will only generate the proof file but not the csv and the asc.csv files.

[2022-07-22 20:06] #325 closed, assigned to nobody

[2022-07-22 20:20] #316 closed, assigned to johnhess

[2022-07-22 20:20] #307 closed, assigned to johnhess

[2022-07-22 20:20] #277 closed, assigned to johnhess

[2022-07-22 20:24] johnhess opened #333 "Uploads not working on Hetzner NextCloud"
When using Hetzner storage, media is not uploading.  This may well be a misconfiguration on our end or Hetzners, not an app problem.  This issue covers investigating the issue finding any error messages returned to the application.

**To Reproduce**
1. Set up a WebDAV server pointed at our Hetzner instance
2. Attempt to upload

**Expected behavior**
The file is uploaded (along with meta.json, proo

[2022-07-22 20:25] johnhess commented on #333
CC @foundscapes

[2022-07-23 02:21] purvi-ranawat commented on #260
@pkhivesara For batch edit the changes to any one should apply to all the selected ones. In iOS version it works in this manner.

[2022-07-25 06:08] purvi-ranawat opened #334 "Batch Edit Protip is not displayed when multiple photos and videos are being uploaded"
While uploading, when we select multiple photos and videos, batch edit protip should be displayed . But currently on Android, the protip is not displayed

Below is the video link :

https://drive.google.com/file/d/1YnfqjWoc2MkCcHH7gFqnnAvVh8cPzOf2/view?usp=sharing

Environment (please complete the following information) :
 - OS version: Android 11
 - Device: Samsung Galaxy 32
 - App Version : 0.2.

[2022-07-25 15:16] pkhivesara commented on #333
I was able to resolve this ticket. However, for me, the issue was more of a login failure. Uploads seem to work fine once you enable proofmode in the app.
Screenshot is attached.

![Image](https://user-images.githubusercontent.com/6237488/181035561-0509be1f-905f-437a-88d2-8f07ccc014e2.png)

[2022-07-26 14:08] johnhess commented on #265
John to replicate/tag

[2022-07-26 14:09] johnhess commented on #318
John to replicate/tag

[2022-07-26 16:10] purvi-ranawat commented on #260
@pkhivesara Now the Batch Edit works for Add People, Add Location, Add Notes. However, it is not working for Significant Content.

Tested Save 0.2.4-RC-10.9d38827

[2022-07-26 16:33] purvi-ranawat commented on #322
@johnhess  When user tries to login with email,  the following message gets displayed:
 "Login failed. Please try logging in with your usrname instead of ... "

[2022-07-26 16:46] johnhess commented on #322
@purvi-ranawat that's intended.

While it stinks that they can't log in both ways and have it just work, we'd rather they log in using a method that ensures they'll be able to upload.  I would say this is WAI

[2022-07-26 16:46] johnhess commented on #322
Will release!

[2022-07-26 16:56] pkhivesara commented on #260
There is not significant content option in batch edit
<img width="298" alt="Screen Shot 2022-07-26 at 12 56 01 PM" src="https://user-images.githubusercontent.com/6237488/181065610-4220c168-5d54-4e68-9e90-1c2dc495601d.png">

Do we need to add that? @purvi-ranawat

[2022-07-26 17:27] purvi-ranawat commented on #260
@pkhivesara It's there but is not clickable while using Batch Edit

![Image](https://user-images.githubusercontent.com/8190141/181071905-e315656e-aaf7-4f46-973d-149a83c99a48.jpeg)

[2022-07-26 18:13] johnhess opened #337 "Save "mysteriously" requests permission to manage phone calls when enabling proofmode. Add context!"
When enabling proofmode in the Metadata section of settings on 0.2.4-RC-8 for the first time, the app requests permission to manage phone calls.  Our users are privacy conscious.  Assuming this is required for some of the metadata lib_proofmode gathers, can we at least offer some context to the user about why we're asking?  The same context should also explain what happens if you deny permissions.

[2022-07-26 18:33] johnhess commented on #265
Set this up and will check in a day to see how it looks.  Worked fine surviving quits/reboots.

[2022-07-26 18:33] johnhess commented on #318
Set this up and will check in a day to see how it looks.  Worked fine surviving quits/reboots.

[2022-07-27 11:22] purvi-ranawat commented on #333
This is working fine. I am able to upload files on Hetzner NextCloud. Checked on IOS and Android both...

[2022-07-27 12:48] purvi-ranawat opened #339 "On Deleting the media after uploading, the text "# items uploaded" still remains"
Bug Description :

Once we have successfully uploaded the media, if we delete the media from the project screen, the media is getting deleted but the text "# items uploaded" is not getting removed.

Steps to reproduce the behavior:
1. Go to Save App
2. Click on + icon to select the media and upload them
3. Once the media is uploaded, on project screen, select the uploaded media and delete them

Ex

[2022-07-27 15:11] johnhess commented on #318
I'm also unable to replicate (Samsung Galaxy A21, Android 11, 0.2.4-RC-8).

Let's mark this as blocked until we can find another device that replicates the same issue.  To the future replicator: please comment here with details, remove the "blocked" tag, and assign this issue to myself or to @pkhivesara.

[2022-07-27 15:12] johnhess commented on #265
I'm also unable to replicate (Samsung Galaxy A21, Android 11, 0.2.4-RC-8).  I'm going to close this as a duplicate of issue #318.

[2022-07-27 15:12] #265 closed, assigned to johnhess

[2022-07-27 16:55] pkhivesara commented on #337
@johnhess Unlike iOS which lets you add some context to the permissions that you are asking, Android does not let you do so. I suppose we would need to figure out some UI/UX here, perhaps at the launch of the app to educate the users on the what permissions and why do we need them.

Is there someone who specifically does design work?

[2022-07-28 14:52] purvi-ranawat opened #340 "On uploading only one item, two text messages are displayed"
Bug Description :

When we upload only one item, on successful upload, two text messages "1 item(s) uploaded" and "0 out of 1 item(s) uploaded" are displayed. Instead only one message stating "1 item(s) uploaded" should be displayed.

Below is the screenshot :

![image](https://user-images.githubusercontent.com/8190141/181561218-960919ff-2ddf-49f9-8a59-ab52663df7db.png)

**Environment (please comp

[2022-07-28 16:50] purvi-ranawat opened #341 "Black screen is displayed on clicking on Preview button on Select Media screen"
Description of the bug :

On Select Media screen, after selecting few media and clicking on Preview on bottom left button, Black screen is displayed. Instead the preview should be displayed for the media selected

Below is the video :

https://drive.google.com/file/d/1RZm4wKqCdPZmZf6t0AGx2wfWq-KZXdeo/view?usp=sharing

**Environment (please complete the following information):**
 - OS version: Andr

[2022-07-28 18:13] pkhivesara commented on #334
@purvi-ranawat Can you provide a screenshot of the protip that you see on iOS? Shall try to match the same UI.

[2022-07-28 18:16] pkhivesara commented on #295
@johnhess Can we close this?

[2022-07-29 02:52] purvi-ranawat commented on #334
@pkhivesara Please find attached the screenshot of protip on iOS

![Image](https://user-images.githubusercontent.com/8190141/181672887-202ff35e-d721-439d-bd22-888ec1cd06b4.jpeg)

[2022-07-29 08:11] purvi-ranawat opened #343 "No error message is displayed if we click on the tick mark (login) without entering any credentials for Internet Archive"
Bug Description :

After selecting Internet Archive on Connect Your Space screen, when we click on the login (tick mark) icon on the top right side of the screen without entering any of the credentials, it does not give any error message and blank space for internet archive is created. Instead if we do not enter any of the credentials and click on login, error message stating to enter the valid cr

[2022-07-29 21:43] johnhess commented on #337
There's not someone at this very moment, but there will be.

[2022-07-29 21:59] johnhess commented on #295
Yes!

[2022-07-29 21:59] #295 closed, assigned to nobody

[2022-08-01 23:02] johnhess commented on #333
@pkhivesara I am not able to log in on RC-9.  It looks like the login was reverted back to the hardcoded tab.digital value.

[2022-08-01 23:32] pkhivesara commented on #333
Yikes..sorry about that.. I re-reverted it back on master. Should be working now

[2022-08-02 14:33] purvi-ranawat opened #345 "Images kept on refreshing after selecting every image on Project screen"
Bug Description :

After few media selection, without uploading, when we go back to the project screen and select the image / video one by one, everytime, the rest of the images / videos are refreshed and displayed again. Instead it should remain as it is and not refresh again and again

Below is the video :

https://user-images.githubusercontent.com/8190141/182400299-122278a6-515c-483a-9f66-cbfb7

[2022-08-02 14:52] purvi-ranawat opened #346 "Upload button should be on project screen whenever media yet to be uploaded are still there and selected on the project screen"
When there are several media present on the project screen which are yet to be uploaded, then on selecting them, upload button should be available on the project screen itself for better experience instead of clicking on Edit and then clicking on the three dots and then click on upload.

Only if the user wants to update any information, then only they had to go to Edit and update the information a

[2022-08-02 23:33] #339 closed, assigned to johnhess

[2022-08-03 14:47] #343 closed, assigned to johnhess

[2022-08-03 15:12] purvi-ranawat commented on #339
This is working fine.

Below is the video link :

https://user-images.githubusercontent.com/8190141/182643996-f5e1221e-1826-4598-8698-af150f71f0de.mp4

[2022-08-03 15:30] purvi-ranawat commented on #333
@pkhivesara : I am still not able to in into hetzner Next Cloud on RC-11. Even after entering valid URL, username and Password , it says Login failed

[2022-08-03 17:23] johnhess opened #350 "Document Location Permissions used by Save App"
In order to republish our app, we need to document the ways in which we use sensitive permission.  Today, the Play Store identifies 3 such permissions in 0.2.4-RC-11 (see `git tag` of the same):

[code]

For each of these, they want an explanation including a youtube video showing how it's used.

The scope of this ticket is to document how we use each of those 3 permissions in README.md.  I have a

[2022-08-04 07:46] purvi-ranawat commented on #343
This is working fine now. Proper Error message is displayed now. Below is the screenshot :

OS Version : Android 11
Device : Samsung Galaxy M32
App Version : 0.2.4-RC-11

![Image](https://user-images.githubusercontent.com/8190141/182792856-500ba616-d7eb-4a63-a714-a107f389c391.png)

[2022-08-04 07:52] purvi-ranawat commented on #340
This is working fine now.

OS Version : Android 11
Device : Samsung Galaxy M32
App Version : 0.2.4-RC-11

Below is the screenshot :

![Image](https://user-images.githubusercontent.com/8190141/182793995-2dfad336-ba16-42b1-a3be-b4404051fb04.png)

[2022-08-04 09:02] purvi-ranawat commented on #333
@pkhivesara : I am still not able to login into hetzner next cloud. On clicking on login after valid credentials, it just displays 'Logging in"  and not actually login in.

Below is the screenshot :

![Image](https://user-images.githubusercontent.com/8190141/182807894-4a38f21d-7def-4710-b356-904a16011687.png)

[2022-08-04 11:03] purvi-ranawat commented on #341
The issue still exists. Black screen is still displayed on clicking on Preview button on Select Media screen

Environment :

OS Version : Android 11
Device : Samsung Galaxy M32
App Version : 0.2.4-RC-11

[2022-08-04 13:15] pkhivesara commented on #341
Yes, this has not been deployed yet. Will be fixed in the next build.

[2022-08-04 13:53] pkhivesara commented on #334
@purvi-ranawat I am seeing the protip on Android. Note that this appears only the first time.

![Image](https://user-images.githubusercontent.com/6237488/182864205-c303ad6e-0cb4-447d-a7d8-c038446c4c7b.png)

[2022-08-04 15:48] pkhivesara commented on #350
Closing for now.

[2022-08-04 15:48] #350 closed, assigned to pkhivesara

[2022-08-05 11:09] purvi-ranawat opened #352 "Clicking on back on server screen takes us back to onboarding slides"
Bug Description :

After first installation, after going through the onboarding slides, on Connect Your space screen, select the server , and then without entering any credentials, click on back. It should take us to the Connect your space screen. Instead it takes us to the start of the onboarding slides.

Note : This is happening everytime we click on back button on server credentials screen. Ins

[2022-08-05 13:16] purvi-ranawat commented on #333
@pkhivesara : I am now successfully able to login into the Hetzner Next Cloud. But when I click on Upload after selecting the media, the app crashes. This is happening for Hetzner NextCloud only.

Below is the video :

https://user-images.githubusercontent.com/8190141/183085201-884fcabc-4a2f-4590-aef6-a6ab18924787.mp4

[2022-08-05 13:48] purvi-ranawat commented on #334
This is working fine now

OS : Android 11
Device : Samsung Galaxy M32
Build : 0.2.4-RC-12

[2022-08-05 13:58] purvi-ranawat opened #353 "Batch Edit Protip is displayed even if we have uploaded single image"
When I have selected single image for upload, I was shown a message about being able to edit multiple uploads' metadata at the same time. However, I was only uploading one photo in this instance. So, Batch Edit Protip should only be displayed if we have selected multiple images / videos

Below is the screenshot :

![image](https://user-images.githubusercontent.com/8190141/183092285-c5d6599c-2edc-4

[2022-08-05 21:22] johnhess commented on #333
FWIW @purvi-ranawat I am able to login and upload with [RC-13](https://play.google.com/apps/test/net.opendasharchive.openarchive.release/20443).  Can you check whether you're still having the issue with the linked APK?

[2022-08-06 09:23] purvi-ranawat opened #355 "Select All option should be available if the user wishes to upload all the available images / videos in the folder"
On Select Media screen, when we select one photo / video, select all option should also be available in case user wants to upload all the media available in the folder. Currently, user have to select the media by clicking on each and every photo / video and it can be tiresome for them.

[2022-08-06 10:41] purvi-ranawat opened #356 "All the media selected are not displayed on the project screen if the media selected are large in numbers"
Bug Description :

If we have selected more number of media and go to Project screen, not all the selected media are displayed on the project screen. for eg. I have selected 101 items and went to project screen, On Project screen, I am only able to see 28 items out of 101 selected. Instead all the items should be available for selection and upload

Below is the video :

https://user-images.githubu

[2022-08-07 04:16] purvi-ranawat commented on #333
@johnhess : I am not able to access the linked apk. It is giving me "Error 404 - Not Found" message.

![Image](https://user-images.githubusercontent.com/8190141/183275038-619f8909-478a-4607-8b88-320801200de1.png)

[2022-08-08 07:44] purvi-ranawat commented on #260
It works fine now.

[2022-08-08 15:04] pkhivesara opened #357 "Find webDAV protocol API to calculate available storage"
**Describe the bug**
This is an extension of https://github.com/OpenArchive/Save-app-android/issues/319. The current fix only works for NextCloud accounts. Now that we have Hetzner as one of the providers as well, we need to find a way on the webDAV protocol level to calculate available storage before commencing any uploads.

[2022-08-08 17:57] johnhess commented on #357
When this is done, a ticket should be created for iOS linking to the PR so that similar logic can be applied there as well.

[2022-08-08 18:07] johnhess commented on #355
Which use cases would there be where users want to upload, for example, a whole camera roll?  Are there workflows where people are generating folders of their own on their device they'll then want to upload?

[2022-08-09 14:16] #353 closed, assigned to johnhess

[2022-08-09 14:22] #356 closed, assigned to johnhess

[2022-08-10 16:20] #352 closed, assigned to johnhess

[2022-08-10 16:54] pkhivesara commented on #345
@purvi-ranawat Not able to reproduce this

[2022-08-12 13:29] purvi-ranawat opened #361 "No error message is displayed if we enter only username and password in Private Server"
When we select Private Server from Connect Your Space screen and enter only user name and password without enterting the Server URL and click on the "tick mark", no error message stating Server URL is mandatory or anything along this line is displayed. Instead it just shows the messge "logging in" and nothing else is happening.

Below is the video :

https://user-images.githubusercontent.com/81901

[2022-08-12 16:18] purvi-ranawat opened #362 "Connect Your Space Screen is displayed instead of server screen after connecting to any of the server."
Bug Description :

From Connect Your Space , when we add any server for the first time, it again takes us back to Connect Your Space instead of the server details screen.

Steps to Reproduce :

1. Click on any of the server on Connect Your space. (for eg. dropbox)
2. Login into Dropbox
3. Click on back button

Expected Result :
Drop box server details screen should be displayed (or whichever serve

[2022-08-13 06:17] purvi-ranawat opened #363 "Additional message "Logging in" should not be displayed when we do not enter user name for the private server"
On entering server URL and password for the private server without username , the message "This field is required" is displayed for user name which is valid message. But along with this message, it keeps on displaying logging in. "Logging in" should not be displayed.

Below is the screenshot :

![image](https://user-images.githubusercontent.com/8190141/184471346-f3f0da76-a558-495e-b226-a0512c86896

[2022-08-13 07:38] purvi-ranawat opened #364 ""This field is required" message should be displayed if password field is empty for Private Server"
Bug Description :

On Private Server screen, when we enter only Server URL and User name and no password, then the error message "Login failed" is displayed. Instead the message  "This field is requried" should be displayed as password field is empty

Below is the screenshot :

![image](https://user-images.githubusercontent.com/8190141/184473885-2665dade-6dbb-4d4c-ac63-434fc4c15023.png)

**Environ

[2022-08-13 09:48] purvi-ranawat opened #365 "App Hangs when we click on Browse Existing Projects for Hetzner NextCloud"
Bug Description :

When we login into Hetzner NextCloud and click on Browse Existing Projects, app hangs. Instead it should open already existing projects list.

Below is the video :

https://user-images.githubusercontent.com/8190141/184478536-a2a809d9-54c3-4a1c-af93-e9981b445311.mp4

**Environment (please complete the following information):**
 - OS version: Android 12
 - Device: Samsung Galaxy A

[2022-08-13 12:36] purvi-ranawat commented on #353
This is working fine now. When we select single photo, the batch protip is not getting displayed

OS Version : Android 12
Device : Samsung Galaxy A13, Samsung Galalxy M32
App Version : 0.2.4-RC-14

[2022-08-13 12:52] purvi-ranawat commented on #356
This is working fine now. Able to view all the media on Project screen

Environment :

OS version : Android 12
Device : Samsung Galaxy A13, Samsung Galaxy M32
App version : 0.2.4-RC-14

[2022-08-15 16:06] johnhess commented on #345
I am also unable to replicate this (0.2.4-RC-13, Galaxy A21, Android 11), though there is some funny behavior around trying to select-then-upload that I'll file in another ticket.

[2022-08-15 16:13] johnhess opened #368 "Uploading multiple images on-the-delay causes a crash"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Select multiple images to upload (I am using nextcloud/hetzner)
2. Rather than hit upload, hit the back arrow next to preview.  The images are now staged for upload on the project page.
3. Click on several staged images so they are selected in blue.  Select the edit pencil

[2022-08-15 16:13] #361 closed, assigned to johnhess

[2022-08-15 21:17] foundscapes opened #369 "Need eye icon to view pw when setting up backends (nextcloud/dropbox)"
**Describe the bug**
Unable to view pw when logging into backends via app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: Private server/set up new server
2. Enter login credentials

**Expected behavior**
There should be an eye icon to click on the PW field in order to ensure you entered the pw correctly

**Actual behavior**
There is no eye/no ability to view password entered. This is

[2022-08-16 13:37] purvi-ranawat commented on #333
This is working fine now. I am able to upload the media successfully on Hetzner NextCloud

Environment :

OS : Android 12
Device : Samsung Galaxy A13, Samsung Galaxy M32
Build version : 0.2.4-RC-14

[2022-08-16 14:50] #368 closed, assigned to johnhess, pkhivesara

[2022-08-16 15:03] johnhess commented on #365
Unable to replicate on RC-13, Android 11, Samsung A21

[2022-08-16 22:34] foundscapes opened #372 "Logging into hetzner taking too long or not working"
**Describe the bug**
I entered correct login information for OA_Admin and NC accts on Hetzner nextcloud and it has now been 7 minutes and counting and I am still seeing the "logging in..." message at the bottom with no login.

**To Reproduce**
Steps to reproduce the behavior:
1. Choose to connect to private server
2. add credentials (server name, server, username, pw
3. click checkmark to connect

[2022-08-17 14:38] purvi-ranawat commented on #352
It works fine for Save 0.2.4-RC-14-1837D48

[2022-08-17 14:51] purvi-ranawat commented on #361
It works fine for Save 0.2.4-RC-14-1837D48

[2022-08-17 14:55] purvi-ranawat commented on #364
It works fine for Save 0.2.4-RC-14-1837D48

[2022-08-17 14:56] purvi-ranawat commented on #363
It works fine for Save 0.2.4-RC-14-1837D48

[2022-08-17 15:03] purvi-ranawat commented on #341
It works fine for Save 0.2.4-RC-14-1837D48

[2022-08-22 14:12] purvi-ranawat commented on #368
Unable to reproduce for app version 0.2.4-RC-14. Tested Samsgung A13, Samsung M32.

[2022-08-22 14:26] purvi-ranawat commented on #319
Still message is not displayed it keeps on processing.
Tested on Samsung A13, Samsung A 12.
App Version: Save 0.2.4-RC-14-1837D48

[2022-08-22 15:00] pkhivesara commented on #372
Can I get login credentials to this? I am not able to reproduce this on my end

[2022-08-22 15:00] pkhivesara commented on #319
@purvi-ranawat Is this for NextCloud or Hetzner? Can you share a screenshot of what you are seeing?

[2022-08-22 17:44] purvi-ranawat commented on #319
@pkhivesara I tried with dropbox.

![Image](https://user-images.githubusercontent.com/8190141/185985463-11d65aec-2c7e-4863-bb5c-c3b9a105e377.jpeg)

[2022-08-24 16:38] johnhess commented on #337
@pkhivesara can you please go through all our permissions and add context to our readme?  Eg this one is for Proofmode, etc.  the more the better (eg location is for Proofmode and our metadata and if denied x will happen w each)

[2022-08-24 18:28] pkhivesara commented on #372
Seems to be working fine on my local.
![image](https://user-images.githubusercontent.com/6237488/186495277-4d08dd4b-461b-4575-9c3d-f14a0ecb19ea.png)

[2022-08-25 07:41] purvi-ranawat opened #373 "No confirmation message gets displayed when we try to delete the media from Preview screen"
**Steps to reproduce**

1. Open the Save app.
2. Select any project from any server and add few media
3. On Preview screen select the media and click on delete icon

**Expected behavior**
Confirmation pop should be displayed with Remove Media and Cancel options

**Actual result**
Media gets deleted directly without any confirmation message

 - OS version:  Android 12
 - Device: [e.g. Samsung Galax

[2022-08-26 15:58] #369 closed, assigned to johnhess

[2022-08-26 16:01] pkhivesara commented on #357
Unable to find an API that works on webDAV level.

[2022-09-02 19:13] #373 closed, assigned to johnhess

[2022-09-06 13:51] johnhess opened #377 "Make Android release"

[2022-09-12 20:15] johnhess commented on #319
IIRC, when we last spoke, @pkhivesara shared that there isn't a universal API among nextcloud/WebDAV providers to detect a failure to upload due to not having enough space on the server.  Hetzner uses nextcloud to power storage but doesn't provide the same APIs that e.g. GoodCloud did/would.  (Investigation was issue #357 )

As a next step, we discussed adding an error message for the user upon an

[2022-09-12 20:27] #372 closed, assigned to johnhess, pkhivesara

[2022-09-12 20:27] #365 closed, assigned to nobody

[2022-09-12 20:29] johnhess commented on #357
Merging with #319

[2022-09-12 20:29] #357 closed, assigned to pkhivesara

[2022-09-13 01:01] #345 closed, assigned to pkhivesara

[2022-09-13 01:03] johnhess commented on #355
@purvi-ranawat can you respond to the comment above?  I think we talked about it on our calls, but don't want to misstate what you said :-)

[2022-09-13 01:05] johnhess commented on #346
@pkhivesara please let me know if you think is straightfoward enough to do, and if mimicking iOS is a sufficient solution.  If so, please pursue it.  If it's not, let's tag it as requiring design and pop it on the backlog.

[2022-09-13 01:06] #340 closed, assigned to johnhess

[2022-09-13 01:09] #334 closed, assigned to johnhess

[2022-09-13 01:11] johnhess commented on #318
Closing this as #265 has been closed.

[2022-09-13 01:11] #318 closed, assigned to nobody

[2022-09-13 01:16] johnhess commented on #283
Next step is for our incoming interaction designer to take a look (hopefully give the 👍, then implement a matching behavior on Android.

[2022-09-13 01:26] johnhess commented on #270
Let's have our new designer take a look at current state of Dropbox space(s) addition in both apps, the pattern used for webdav in both, and spec out the behavior for that whole set.

[2022-09-13 01:29] johnhess commented on #258
Let's have our new designer spec out the UX/interactions for this across both apps, then implement.

[2022-09-13 01:33] johnhess commented on #222
Let's spec out how we want to do this.  Should it be a QR code? Can a regular URL be distributed? A white label version of the app for that org?  How do credentials (SSO, NextCloud, etc.) interact with this when users need an identity attached?  What about when they don't need/want an identity, then can they share a QR code?

[2022-09-13 01:34] johnhess commented on #221
What is auto-tagging, @foundscapes?

[2022-09-13 01:35] johnhess commented on #219
@purvi-ranawat can you check that we're requesting the same permissions across phone models and close if so?

[2022-09-13 01:38] johnhess commented on #218
@purvi-ranawat I feel like we looked into this at some point.  Can you please check if this is still happening in our current releases?

[2022-09-13 01:39] johnhess commented on #218
See: https://github.com/OpenArchive/Save-app-android/issues/258 as a potential solution if this is still an open issue.

[2022-09-13 15:16] johnhess opened #378 "Add telltale of current version to Android app UI"

[2022-09-14 14:09] pkhivesara commented on #346
@purvi-ranawat can you provide the video for this request.

[2022-09-15 07:12] purvi-ranawat commented on #369
Eye icon is getting displayed now to see the password .

Tested on Android 12, Samsgung Galaxy A13. App version 0.2.4-RC-15

[2022-09-15 07:55] purvi-ranawat commented on #373
Pop up message for confirmation is getting displayed now.

Tested on Android 12, Samsgung Galaxy A13. App version 0.2.4-RC-15

[2022-09-16 10:06] purvi-ranawat commented on #219
@johnhess I got the same message "Do you want to install this app? Cancel, OK" and no other message was displayed.

I have tested on Samsung Galaxy -A13, M32, and A70.

[2022-09-17 13:00] purvi-ranawat commented on #346
@pkhivesara Please find the attached link for the video, let me know if you need any other details.

https://drive.google.com/file/d/1SsUVQxUXtCftj6Gd5tvZmrxf079PKkL6/view?usp=sharing

[2022-09-19 07:59] purvi-ranawat commented on #218
@johnhess @pkhivesara

Uploading does not pause when we Force Stop the Orbot from settings. I have attached the video for the same.

https://user-images.githubusercontent.com/8190141/190973661-1ec8370f-6356-4961-8756-15642be147a7.mp4

Tested on Samsung A13, Android 12 Save version 0.2.4-RC-15

[2022-09-19 13:42] purvi-ranawat commented on #355
@johnhess : Regarding the Select all button, if the user creates the folder and move all the images / videos there which he wishes to upload later, then on Select Media screen, user just needs to select the folder and then click on Select all checkbox and click on upload. This will be easier for the user to select all the media at once

[2022-09-19 18:25] pkhivesara commented on #378
This is already in place

![image](https://user-images.githubusercontent.com/6237488/191088293-d0e8cd8a-c33d-40dc-9963-91397fa06c64.png)

[2022-09-19 18:25] #378 closed, assigned to pkhivesara

[2022-09-28 13:14] purvi-ranawat commented on #362
The issue still exists.

OS Version : Android 11 / Android 12
Device : Samsung Galaxy A13, Samsung Galaxy M32 / Samsung Galaxy A70
App Version : 0.2.4-RC-15

Attached is the video :

https://user-images.githubusercontent.com/8190141/192787750-1be3de05-5ce9-4830-b9f9-c7c880ea1b25.mp4

[2022-09-29 06:01] purvi-ranawat opened #380 ""+" icon can be present on the preview screen to add more media"
After selecting the media from one folder, we get the preview screen. On the preview screen, we just get the upload button. Instead we can have "+" icon also to add more media if the user wishes. Currently user have to go back to the Project screenr and then click on "+" icon to add more media to the existing media or they have to first upload all the photos and then from Project screen , they can

[2022-09-30 14:41] #346 closed, assigned to pkhivesara

[2022-10-04 09:30] purvi-ranawat opened #381 "Nothing happens on clicking on the back button on Add a Project screen for dropbox"
On Add a Project, on top left side, we have the back button icon . But nothing happens on clicking on the back button. We have use the mobile back button on the bottom to go back to the main screen

Attached is the video :

https://user-images.githubusercontent.com/8190141/193785595-e7856539-a02e-4c9e-8b6b-d9a5f57d0adf.mp4

[2022-10-04 18:28] johnhess opened #382 "Add dropbox_key from iOS to the Android app's local.properties"
Once https://github.com/OpenArchive/Save-app-ios/issues/228 is complete or at least confirmed sane, add the same credential to Android.

[2022-10-04 19:18] #363 closed, assigned to johnhess

[2022-10-04 19:18] #364 closed, assigned to johnhess

[2022-10-04 19:18] #333 closed, assigned to johnhess

[2022-10-04 19:19] #219 closed, assigned to johnhess

[2022-10-04 19:19] #341 closed, assigned to johnhess

[2022-10-04 19:20] johnhess commented on #320
@pkhivesara When the key gets added, can you see that resolves the F-Droid build issue (and if not, see if we can debug and get it going)?

[2022-10-04 21:50] #362 closed, assigned to pkhivesara

[2022-10-06 16:31] pkhivesara commented on #319
We are not receiving a 'code' for Hetzner unlike Nextcloud, where we call a separate API which helps us figure out the storage space. Hetzner does not have any such provisions, and nor does it provide us storage details or possible unique 'code' for upload failures.

[2022-10-06 16:31] #319 closed, assigned to pkhivesara

[2022-10-06 16:32] #381 closed, assigned to johnhess

[2022-10-11 08:29] purvi-ranawat commented on #260
For Batch edit the changes should apply to all the selected media, and in
iOS it works in this manner

On Fri, 22 Jul 2022 at 10:28 PM pkhivesara ***@***.***> wrote:

--
Regards
Purvi

[2022-10-13 19:38] ceylana opened #385 "Links to About and Privacy Pages not working"
Under "Info" on the Android app, privacy and about links lead to Privacy and About return 404 errors. Need to make sure Privacy is linked here: https://open-archive.org/privacy  and About is linked here: https://open-archive.org/about

Wondering if this is causing our issues with Google Play

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main Save screen
2. Under Info click on Privacy

[2022-10-14 15:05] pkhivesara commented on #385
@ceylana I have fixed the broken links. Thanks for catching that! The Google Play issue seems to be occurring because of some other reasons. Screenshot is attached below.

![Image](https://user-images.githubusercontent.com/6237488/195879724-2d4cd8a9-a878-4891-8a5b-8b9dda900382.png)

[2022-10-14 16:50] foundscapes commented on #385
@pkhivesara is it our description that is causing an issue vs. outdated links? Do we need a different description? Can't imagine why as it was published prior with the same language, right? Please let us know how to support. Thanks

[2022-10-14 17:10] pkhivesara commented on #385
@foundscapes I am not seeing anything which might be an issue, atleast based on the email that they sent out. I have appealed the decision for now and cc'ed you and John on it.

[2022-10-18 11:20] purvi-ranawat commented on #381
This is working fine now.

Environment :

Device : Samsung A70, Samsung A13
OS : Android 11, Android 12
Build : 0.2.5-RC-14.8284d31

[2022-10-21 09:13] purvi-ranawat commented on #385
This is working fine